{% extends "en/base.html" %}

{% load staticfiles %}

{% block title_html %}
   
{% endblock %}




{% block h1 %}


<div class="col-sm-2">
    <!-- Left column -->

    <hr>

    <ul class="nav nav-stacked">
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">Main Tools <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="nav nav-stacked collapse in" id="userMenu">
                <li class="active"> <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Options</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Shoutbox</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-user"></i> Staff List</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-flag"></i> Transactions</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i> Rules</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
            </ul>
        </li>
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2"> Reports <i class="glyphicon glyphicon-chevron-right"></i></a>

            <ul class="nav nav-stacked collapse" id="menu2">
                <li><a href="#">Information &amp; Stats</a>
                </li>
                <li><a href="#">Views</a>
                </li>
                <li><a href="#">Requests</a>
                </li>
                <li><a href="#">Timetable</a>
                </li>
                <li><a href="#">Alerts</a>
                </li>
            </ul>
        </li>
        <li class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#menu3"> Social Media <i class="glyphicon glyphicon-chevron-right"></i></a>
            <ul class="nav nav-stacked collapse" id="menu3">
                <li><a href=""><i class="glyphicon glyphicon-circle"></i> Facebook</a></li>
                <li><a href=""><i class="glyphicon glyphicon-circle"></i> Twitter</a></li>
            </ul>
        </li>
    </ul>

    <hr>

    <a href="#"><strong><i class="glyphicon glyphicon-link"></i> Resources</strong></a>

    <hr>

    <ul class="nav nav-pills nav-stacked">
        <li class="nav-header"></li>
        <li><a href="#"><i class="glyphicon glyphicon-list"></i> Layouts &amp; Templates</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-briefcase"></i> Toolbox</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-link"></i> Widgets</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Reports</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-book"></i> Pages</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-star"></i> Social Media</a></li>
    </ul>

    <hr>
    <ul class="nav nav-stacked">
        <li class="active"><a href="http://bootply.com" title="The Bootstrap Playground" target="ext">Playground</a></li>
        <li><a href="/tagged/bootstrap-3">Bootstrap 3</a></li>
        <li><a href="/61518" title="Bootstrap 3 Panel">Panels</a></li>
        <li><a href="/61521" title="Bootstrap 3 Icons">Glyphicons</a></li>
        <li><a href="/62603">Layout</a></li>
    </ul>

    <hr>

    <a href="#"><strong><i class="glyphicon glyphicon-list"></i> More Templates</strong></a>

    <hr>

    <ul class="nav nav-stacked">
        <li class="active"><a rel="nofollow" href="http://goo.gl/pQoXEh" target="ext">Premium Themes</a></li>
        <li><a rel="nofollow" href="https://wrapbootstrap.com/?ref=bootply">Wrap Bootstrap</a></li>
        <li><a rel="nofollow" href="http://bootstrapzero.com">BootstrapZero</a></li>
    </ul>
</div>



<form method="get" action="{% url 'dedupe_page' %}" >
    {% csrf_token %}

    {% if report_error %}
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>{{ report_error }}.</p>
    </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-body">
    
            <div class="row">
                <div class="form-group col-sm-3 col-md-3" >
                    <div class="form-group" >
                    <label class="control-label" >Please Input APPID First!</label>
                        <div class="input-group" >
                            <span class="input-group-addon">APP ID</span>
                            <input type="text" class="form-control" name="search_app_id" value="{{ request.GET.search_app_id }}" >
                            <span class="input-group-btn">
                                <input class="btn btn-default" type="submit" name = "button_get_app" value="Get App" />
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 col-md-3" >
                  <div class="form-group" >
                    <label class="control-label" >Please Click to Show Fraud Report!</label>
                    <div class="input-group" >
                    <input class="btn btn-default" type="submit" name = "button_get_fraud_value" value="-----------------------------------------------" />
                    </div>
                  </div>
                </div>

                <div class="form-group col-sm-3 col-md-3" >
                  <div class="form-group" >
                    <label class="control-label" ></label>
                  </div>
                </div>

            </div>



            <div class="row">

            {% if button_get_app is not None %}

            {% for basic_infor in basic_app_infor %}

                <div class="form-group col-sm-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group has-error">
                          <span class="input-group-addon">CUSTOMER NAME</span>
                          <input type="text" class="form-control" name="search_customer_name" value="{{ basic_infor.customer_name }}">
                          <span class="input-group-btn">
                      </span>
                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-2 col-md-2">
                    <div class="form-group">
                      <div class="input-group has-error">
                          <span class="input-group-addon">DOB</span>
                          <input type="text" class="form-control" name="search_customer_dob" value="{{ basic_infor.dob }}">
                          <span class="input-group-btn">
                      </span>
                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group has-error">
                          <span class="input-group-addon">NATIONAL ID</span>
                          <input type="text" class="form-control" name="search_customer_national_id" value="{{ basic_infor.customer_id_number }}">
                          <span class="input-group-btn">
                      </span>
                      </div>
                    </div>
                </div>

                {% endfor %}


                {% else %}

                <div class="form-group col-sm-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group has-error">
                          <span class="input-group-addon">CUSTOMER NAME</span>
                          <input type="text" class="form-control" name="search_customer_name" value="{{ request.GET.search_customer_name }}">
                          <span class="input-group-btn">
                      </span>
                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-2 col-md-2">
                    <div class="form-group">
                      <div class="input-group has-error">
                          <span class="input-group-addon">DOB</span>
                          <input type="text" class="form-control" name="search_customer_dob" value="{{ request.GET.search_customer_dob }}">
                          <span class="input-group-btn">
                      </span>
                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group has-error">
                          <span class="input-group-addon">NATIONAL ID</span>
                          <input type="text" class="form-control" name="search_customer_national_id" value="{{ request.GET.search_customer_national_id }}">
                          <span class="input-group-btn">
                      </span>
                      </div>
                    </div>
                </div>

                {% endif %}



                <input class="btn btn-default" type="submit" name = "button_get_app_info" value="Start Search" />

            </div>

        </div>

    </div>

    

    <div class="well" >

        
    </div>
</form>



{% if button_value_1 and object_list %}

<table class="table table-striped table-hover " style="font-size:  12px;">

  <thead>
    <tr>
      <th>APP ID</th>
      <th>CUSTOMER NAME</th>
      <th>NATIONAL ID</th>
      <th>DOB</th>
      <th>ISSUE DATE</th>
      <th>ISSUE PLACE</th>
      <th>OPERATE DATE</th>
      <th>PRODUCT</th>
      <th>STATUS</th>
      <th>CURRENT PROVINCE</th>
      <th>FB PROVINCE</th>
    </tr>
  </thead>


  <tbody>
    {% for item in object_list %}

    {% if item.status == 'ACTIVE' %}
    <tr class="success">
    {% elif item.status == 'CLOSED' %}
    <tr class="active">
    {% elif item.status == 'REJECTED' %}
    <tr class="danger">
    {% elif item.status == 'IN-PROGRESS' %}
    <tr class="info">
    {% elif item.status == 'APPROVED' %}
    <tr class="warning">
    {% else %}
    <tr>
    {% endif %}
      <td>{{ item.app_id }}</td>
      <td>{{ item.customer_name }}</td>
      <td>{{ item.customer_id_number }}</td>
      <td>{{ item.dob }}</td>
      <td>{{ item.issue_date }}</td>
      <td>{{ item.issue_place }}</td>
      <td>{{ item.operate_date }}</td>
      <td>{{ item.product }}</td>
      <td>{{ item.status }}</td>
      <td>{{ item.current_province }}</td>
      <td>{{ item.fb_province }}</td>
    </tr>

    {% endfor %}

  </tbody>
</table> 

{% else %}
<p>No Application matched your search criteria.</p>
{% endif %}

This is dedupe page   


{% endblock %}




{% block article_content %}
    

{% endblock %}


