{% extends "en/stage_dc/base_dc.html" %}

{% load staticfiles %}


{% block main_items_dc %}

<li><a href="{% url 'checklist_dc_page' %} "><i class="glyphicon glyphicon-list"></i> Check List </a></li>

{% endblock %}






{% block request_app_id %}

<form method="get" action="{% url 'dedupe_page' %}" id="formtakeinformationfromapp">
    {% csrf_token %}
    <div class="form-group" >
        <div class="input-group" >
            <input type="text" class="form-control" name="search_app_id" id ="search_app_id" onkeyup='saveValue(this);' value="{{ get_app_id }}" >
            <span class="input-group-btn">
                <input class="btn btn-primary" type="submit" name = "button_get_app" value="Get App" />
            </span>
        </div>
    </div>
</form>

{% endblock %}






{% block black_list_function %}

  {% include "en/blacklist/module_blacklist.html" %}

{% endblock %}







{% block dedupe_function %}

  
  {% include "en/stage_dc/module_dedupeid_search_items.html" %}


  {% include "en/stage_dc/module_dedupeid_search_result.html" %}



{% endblock %}




{% block javascript_for_textfield %}

<script type='text/javascript'>

    function Convert_name_in_textfield() {
        document.getElementById('convert_name_2_percent').value = "%";
    };

    function Convert_dob_in_textfield() {
        document.getElementById('convert_dob_2_percent').value = "%";
    };

    function Convert_id_in_textfield() {
        document.getElementById('convert_id_2_percent').value = "%";
    };

    function Convert_spouse_name_in_textfield() {
        document.getElementById('convert_spouse_name_2_percent').value = "%";
    };

    function Convert_spouse_id_in_textfield() {
        document.getElementById('convert_spouse_id_2_percent').value = "%";
    };


    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("dedupe_customer_spouse_table");
      switching = true;
      //Set the sorting direction to ascending:
      dir = "asc"; 
      /*Make a loop that will continue until
      no switching has been done:*/
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.getElementsByTagName("TR");
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /*check if the two rows should switch place,
          based on the direction, asc or desc:*/
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch= true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch
          and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          //Each time a switch is done, increase this count by 1:
          switchcount ++; 
        } else {
          /*If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again.*/
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    };

</script>









<script language="javascript" type="text/javascript">
//auto get value after typing in text field
$(document).ready(
                    function(){$("#search_customer_national_id").focus();
                    var val = document.getElementById("search_customer_national_id").value; //store the value of the element
                    document.getElementById("search_customer_national_id").value = ''; //clear the value of the element
                    document.getElementById("search_customer_national_id").value = val; //set that value back.
                  });


$('#search_customer_national_id').keyup(function () {

    //document.getElementById('button_get_info_dc_style').click(function(){$("#search_customer_national_id").focus()});
    DelayedSubmission();
});



function DelayedSubmission() {
    var date = new Date();
    initial_time = date.getTime();
    if (typeof setInverval_Variable == 'undefined') {
            setInverval_Variable = setInterval(DelayedSubmission_Check, 50);
    } 
}


function DelayedSubmission_Check() {
    var date = new Date();
    check_time = date.getTime();
    var limit_ms=check_time-initial_time;
    if (limit_ms > 800) { //Change value in milliseconds
        document.getElementById('button_get_info_dc_style').click(function(){$("search_customer_national_id").focus()});
        //alert("insert your function"); //Insert your function
        clearInterval(setInverval_Variable);
        delete setInverval_Variable;
    }
}


</script>



{% endblock %}