{% extends "en/stage_phv/base_phv.html" %}

{% load staticfiles %}

{% block title_html %}
   
{% endblock %}



{% block request_app_id %}

<form method="get" action="{% url 'dedupe_mobile_page' %}" >

    {% csrf_token %}
    <div class="form-group" >
        <div class="input-group" >
            <input type="text" class="form-control" name="search_app_id_for_dedupe_mobile" style="font-size: 14px; text-align: center;" value="{{ request.GET.search_app_id_for_dedupe_mobile }}" >
            <span class="input-group-btn">
                <input class="btn btn-primary" type="submit" name = "button_get_app_for_dedupe_mobile" value="Get App" />
            </span>
        </div>
    </div>

    <hr>

      {% if button_get_app_for_dedupe_phone is not None %}

      {% for items in get_infor_for_dedupe_mobile %}

      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" style="font-size: 12px; text-align: center;">CUX</span>
            <input type="text" class="form-control" name="search_cux_mobile_phone_number" style="font-size: 12px;" value="{{ items.mobile }}" >
            <span class="input-group-btn">
              <input class="btn btn-info" type="submit" name = "button_get_cux_mobile_phone" style="font-size: 12px; text-align: center;" value="Search" />
            </span>
        </div>
      </div>

      <input type="text" class="form-control" name ="search_dedupe_mobile_ref_name1" style="font-size: 12px; text-align: left;" value="{{ items.reference_name1 }}">

      <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" name="search_mobile_phone_number_ref1" style="font-size: 12px; text-align: center;" value="{{ items.ref_mobile1 }}" >
            <span class="input-group-btn">
              <input class="btn btn-info" type="submit" name = "button_get_ref1_mobile_phone" style="font-size: 12px; text-align: center;" value="Search" />
            </span>
        </div>
      </div>


      <input type="text" class="form-control" name ="search_dedupe_mobile_ref_name2" style="font-size: 12px; text-align: left;" value="{{ items.reference_name2 }}">

      <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" name="search_mobile_phone_number_ref2" style="font-size: 12px; text-align: center;" value="{{ items.ref_mobile2 }}" >
            <span class="input-group-btn">
              <input class="btn btn-info" type="submit" name = "button_get_ref2_mobile_phone" style="font-size: 12px; text-align: center;" value="Search" />
            </span>
        </div>
      </div>


      <input type="text" class="form-control" name ="search_dedupe_mobile_ref_name3" style="font-size: 12px; text-align: left;" value="{{ items.reference_name3 }}">

      <div class="form-group">
          <div class="input-group">
              <input type="text" class="form-control" name="search_mobile_phone_number_ref3" style="font-size: 12px; text-align: center;" value="{{ items.ref_mobile3 }}" >
              <span class="input-group-btn">
                <input class="btn btn-info" type="submit" name = "button_get_ref3_mobile_phone" style="font-size: 12px; text-align: center;" value="Search" />
              </span>
          </div>
      </div>

      {% endfor %}

      {% else %}

      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" style="font-size: 12px; text-align: center;">CUX</span>
            <input type="text" class="form-control" name="search_cux_mobile_phone_number" style="font-size: 12px; font-weight: bold;" value="{{ request.GET.search_cux_mobile_phone_number }}" >
            <span class="input-group-btn">
              <input class="btn btn-info" type="submit" name = "button_get_cux_mobile_phone" style="font-size: 12px; text-align: center;" value="Search" />
            </span>
        </div>
      </div>

      <input type="text" class="form-control" name ="search_dedupe_mobile_ref_name1" style="font-size: 12px; text-align: left;" value="{{ request.GET.search_dedupe_mobile_ref_name1 }}">

      <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" name="search_mobile_phone_number_ref1" style="font-size: 12px; font-weight: bold; text-align: center;" value="{{ request.GET.search_mobile_phone_number_ref1 }}" >
            <span class="input-group-btn">
              <input class="btn btn-info" type="submit" name = "button_get_ref1_mobile_phone" style="font-size: 12px; text-align: center;" value="Search" />
            </span>
        </div>
      </div>


      <input type="text" class="form-control" name ="search_dedupe_mobile_ref_name2" style="font-size: 12px; text-align: left;" value="{{ request.GET.search_dedupe_mobile_ref_name2 }}">

      <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" name="search_mobile_phone_number_ref2" style="font-size: 12px; font-weight: bold; text-align: center;" value="{{ request.GET.search_mobile_phone_number_ref2 }}" >
            <span class="input-group-btn">
              <input class="btn btn-info" type="submit" name = "button_get_ref2_mobile_phone" style="font-size: 12px; text-align: center;" value="Search" />
            </span>
        </div>
      </div>


      <input type="text" class="form-control" name ="search_dedupe_mobile_ref_name3" style="font-size: 12px; text-align: left;" value="{{ request.GET.search_dedupe_mobile_ref_name3 }}">

      <div class="form-group">
          <div class="input-group">
              <input type="text" class="form-control" name="search_mobile_phone_number_ref3" style="font-size: 12px; font-weight: bold; text-align: center;" value="{{ request.GET.search_mobile_phone_number_ref3 }}" >
              <span class="input-group-btn">
                <input class="btn btn-info" type="submit" name = "button_get_ref3_mobile_phone" style="font-size: 12px; text-align: center;" value="Search" />
              </span>
          </div>
      </div>

      {% endif %}


</form>

{% endblock %}





{% block dedupe_function %}

<form method="get" action="{% url 'dedupe_mobile_page' %}">

  {% csrf_token %}

  {% if report_error %}
  <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p>{{ report_error }}.</p>
  </div>
  {% endif %}

</form>



{% if button_get_dedupe_mobile_phone %}

<div class="row">
  <div class="col-xs-12 col-sm-12">
  
    <div class="card filterable">

      <div class="panel-heading">
          <h3 class="panel-title">As Customer</h3>
          <div class="pull-right">
              <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter" id="mydedupedc"></span> Filter</button>
          </div>
      </div>

      <div style="display: inline-block; height: 40%; width: 100%; overflow-x: scroll;">
        <div style="position: relative;">

          <table class="table table-striped table-hover table-responsive" style="border-collapse: collapse; border-spacing: 10px; font-size:  12px;" id="dedupe_customer_spouse_table">
              <thead>
                <tr class="filters">
                  <th onclick="sortTable(0)"><input type="text" class="form-control" style="font-size:  10px;" disabled>APP ID</th>
                  <th onclick="sortTable(1)"><input type="text" class="form-control" style="font-size:  10px;" disabled>ID NO</th>
                  <th onclick="sortTable(2)"><input type="text" class="form-control" style="font-size:  10px;" disabled>ADDRESS TYPE</th>
                  <th onclick="sortTable(3)"><input type="text" class="form-control" style="font-size:  10px;" disabled>PHONE 1</th>
                  <th onclick="sortTable(4)"><input type="text" class="form-control" style="font-size:  10px;" disabled>MOBILE</th>
                  <th onclick="sortTable(5)"><input type="text" class="form-control" style="font-size:  10px;" disabled>ADDRESS 1</th>
                  <th onclick="sortTable(6)"><input type="text" class="form-control" style="font-size:  10px;" disabled>DPD</th>
                  <th onclick="sortTable(7)"><input type="text" class="form-control" style="font-size:  10px;" disabled>STATUS</th>
                </tr>
              </thead>


              <tbody>
              {% for mobile_dedupe in mobilephone_dupe_result %}
                {% if mobile_dedupe.status == 'ACTIVE' %}
                <tr class="table-success">
                {% elif mobile_dedupe.status == 'CLOSED' %}
                <tr class="table-active">
                {% elif mobile_dedupe.status == 'REJECTED' %}
                <tr class="table-danger">
                {% elif mobile_dedupe.status == 'IN-PROGRESS' %}
                <tr class="table-info">
                {% elif mobile_dedupe.status == 'APPROVED' %}
                <tr class="table-warning">
                {% else %}
                <tr>
                {% endif %}
                  <td>{{ mobile_dedupe.app_id }}</td>
                  <td>{{ mobile_dedupe.customer_id_no }}</td>
                  <td>{{ mobile_dedupe.address_type }}</td>
                  <td>{{ mobile_dedupe.cux_phone1 }}</td>
                  <td>{{ mobile_dedupe.cux_mobile }}</td>
                  <td>{{ mobile_dedupe.cux_add1 }}</td>
                  <td>{{ mobile_dedupe.dpd }}</td>
                  <td>{{ mobile_dedupe.status }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table> 
        </div>
      </div>


    </div>

  </div>

</div>


</br>


<div class="row">

  <div class="col-xs-12 col-sm-12">
  
    <div class="card filterable">

      <div class="panel-heading">
          <h3 class="panel-title">As References</h3>
          <div class="pull-right">
              <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter" id="mydedupedc"></span> Filter</button>
          </div>
      </div>

      <div style="display: inline-block; height: 40%; width: 100%; overflow-x: scroll;">
        <div style="position: relative;">

          <table class="table table-striped table-hover table-responsive" style="border-collapse: collapse; border-spacing: 10px; font-size:  12px;" id="dedupe_customer_spouse_table">
              <thead>
                <tr class="filters">
                  <th onclick="sortTable(0)"><input type="text" class="form-control" style="font-size:  10px;" disabled>APP ID</th>
                  <th onclick="sortTable(1)"><input type="text" class="form-control" style="font-size:  10px;" disabled>ID NO</th>
                  <th onclick="sortTable(2)"><input type="text" class="form-control" style="font-size:  10px;" disabled>REF NAME</th>
                  <th onclick="sortTable(3)"><input type="text" class="form-control" style="font-size:  10px;" disabled>REF REL</th>
                  <th onclick="sortTable(4)"><input type="text" class="form-control" style="font-size:  10px;" disabled>PHONE1</th>
                  <th onclick="sortTable(5)"><input type="text" class="form-control" style="font-size:  10px;" disabled>PHONE2</th>
                  <th onclick="sortTable(6)"><input type="text" class="form-control" style="font-size:  10px;" disabled>STDISD</th>
                  <th onclick="sortTable(7)"><input type="text" class="form-control" style="font-size:  10px;" disabled>DPD</th>
                  <th onclick="sortTable(8)"><input type="text" class="form-control" style="font-size:  10px;" disabled>STATUS</th>
                </tr>
              </thead>


              <tbody>
                {% for mobile_ref_dedupe in mobilephone_dupe_result_1 %}

                  {% if mobile_ref_dedupe.status == 'ACTIVE' %}
                  <tr class="table-success">
                  {% elif mobile_ref_dedupe.status == 'CLOSED' %}
                  <tr class="table-active">
                  {% elif mobile_ref_dedupe.status == 'REJECTED' %}
                  <tr class="table-danger">
                  {% elif mobile_ref_dedupe.status == 'IN-PROGRESS' %}
                  <tr class="table-info">
                  {% elif mobile_ref_dedupe.status == 'APPROVED' %}
                  <tr class="table-warning">
                  {% else %}
                  <tr>
                  {% endif %}
                    <td>{{ mobile_ref_dedupe.app_id }}</td>
                    <td>{{ mobile_ref_dedupe.customer_id_no }}</td>
                    <td>{{ mobile_ref_dedupe.ref_name }}</td>
                    <td>{{ mobile_ref_dedupe.ref_rel }}</td>
                    <td>{{ mobile_ref_dedupe.ref_phone1 }}</td>
                    <td>{{ mobile_ref_dedupe.ref_phone2 }}</td>
                    <td>{{ mobile_ref_dedupe.ref_stdisd }}</td>
                    <td>{{ mobile_ref_dedupe.dpd }}</td>
                    <td>{{ mobile_ref_dedupe.status }}</td>
                  </tr>
                {% endfor %}
              </tbody>
          </table> 
        </div>
      </div>


    </div>

  </div>


</div>

{% endif %}

This is dedupe mobile page

{% endblock %}




{% block article_content %}
    

{% endblock %}







{% block javascript_for_textfield %}


<script type="text/javascript">
  
  


  
</script>




{% endblock %}



