{% extends "en/base.html" %}

{% load staticfiles %}


{% block  css_framework %}


{% endblock %}



{% block title_html %}
   
{% endblock %}



{% block navbar_left_side_bar_items %}


    {% block request_app_id %}



    {% endblock %}

    <hr>

    {% block policy_function %}



    {% endblock %} 



    {% block main_items_dc %}



    {% endblock %}



    {% block provide_velocity_report %}



    {% endblock %}

    <li><a href="{% url 'checklist_dc_page' %}"><i class="glyphicon glyphicon-star"></i> Dedupe ID Card </a></li>
    <li><a href="{% url 'checklist_phv_page' %}"><i class="glyphicon glyphicon-star"></i> Dedupe Mobile Phone</a></li>



{% endblock %}






{% block h1 %}

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12">
        {% block dedupe_function%}


        {% endblock %}
        </div>
        
    </div>
</form>



{% endblock %}




{% block article_content %}
    


{% endblock %}




{% block list_items_nav_bar %}

{% if user.is_authenticated %}

<li class="nav-item dropdown"> 
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CATS</a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'request_cat_page' %}">Request New CAT</a></li>
        <li><a href="#">Request Update CAT</a></li>
        <li><a href="#">Process Request CAT</a></li>
        <li><a href="#">Search CAT</a></li>
    </ul>
</li>


<li class="nav-item dropdown"> 
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
    <ul class="dropdown-menu">
        <li><a href="#">Daily Report</a></li>
        <li><a href="#">Weekly Report</a></li>
        <li><a href="#">Monthly Report</a></li>
    </ul>
</li>

<li class="nav-item dropdown"> 
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">UND Tools</a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'checklist_dc_page' %}">DC STAGE</a></li>
        <li><a href="{% url 'checklist_phv_page' %}">PHV STAGE</a></li>
        <li><a href="{% url 'checklist_und_page' %}">UND STAGE</a></li>
    </ul>
</li>

{% else %}

{% endif %}

{% endblock %}





{% block javascript_for_textfield %}


{% endblock %}

