{% extends "en/base.html" %}

{% load staticfiles %}

{% block title_html %}
   
{% endblock %}




{% block h1 %}

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-2">
            <!-- Left column -->
            {% block request_app_id %}

            {% endblock %}
            <hr>

            <a href="#"><strong><i class="glyphicon glyphicon-list"></i> Request List</strong></a>

            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header"></li>
                <li><a href="."><i class="glyphicon glyphicon-hourglass"></i> <span class="badge badge-info">Y</span> Company A </a></li>
                <li><a href="."><i class="glyphicon glyphicon-hourglass"></i> <span class="badge badge-info">Y</span> Company B </a></li>
                <li><a href="."><i class="glyphicon glyphicon-hourglass"></i> <span class="badge badge-info">Y</span> Company C </a></li>
                <li><a href="."><i class="glyphicon glyphicon-hourglass"></i> <span class="badge badge-info">Y</span> Company D </a></li>
                <li><a href="."><i class="glyphicon glyphicon-hourglass"></i> <span class="badge badge-info">Y</span> Company E </a></li>
                <li><a href="."><i class="glyphicon glyphicon-hourglass"></i> <span class="badge badge-info">Y</span> Company F </a></li>

            </ul>

            <hr>

            <a href="#"><strong><i class="glyphicon glyphicon-list"></i> Finish List in day</strong></a>

            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header"></li>
                <li><a href="."><i class="glyphicon glyphicon-ok"></i> <span class="badge badge-info">Y</span> Company A </a></li>
                <li><a href="."><i class="glyphicon glyphicon-ok"></i> <span class="badge badge-info">Y</span> Company B </a></li>
                <li><a href="."><i class="glyphicon glyphicon-ok"></i> <span class="badge badge-info">Y</span> Company C </a></li>
                <li><a href="."><i class="glyphicon glyphicon-ok"></i> <span class="badge badge-info">Y</span> Company D </a></li>
                <li><a href="."><i class="glyphicon glyphicon-ok"></i> <span class="badge badge-info">Y</span> Company E </a></li>
                <li><a href="."><i class="glyphicon glyphicon-ok"></i> <span class="badge badge-info">Y</span> Company F </a></li>

            </ul>

            <hr>

            <ul class="nav nav-stacked">
                <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">Main Tools <i class="glyphicon glyphicon-chevron-down"></i></a>
                    <ul class="nav nav-stacked collapse in" id="userMenu">
                        <li><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i> Change Password </a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
                    </ul>
                </li>

            </ul>

            <hr>


        </div>

        <div class="col-sm-10">
        {% block cat_system_function%}



        {% endblock %}
        </div>
        
    </div>
</form>



{% endblock %}




{% block article_content %}
    


{% endblock %}


