{% extends "en/cat/base_cat.html" %}

{% load staticfiles %}




{% block cat_system_function%}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <form class="form-horizontal" action="/" method="GET">
              </br>
              <fieldset>
                <div class="form-group">
                  <div class="col-lg-10" style="margin-top: 20px">
                    <input type="text" class="form-control floating valued" id="inputEmail">
                    <label for="inputEmail" class="">Tax Code</label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-10" style="margin-top: 0px">
                    <input type="text" class="form-control floating valued" id="inputEmail">
                    <label for="inputEmail" class="">Company Name</label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-10" style="margin-top: 0px">
                    <input type="text" class="form-control floating valued" id="inputEmail">
                    <label for="inputEmail" class="">Company Address</label>
                  </div>
                </div>                

                <div class="form-group">
                  <div class="col-lg-10" style="margin-top: 0px">
                    <input type="text" class="form-control floating valued" id="inputEmail">
                    <label for="inputEmail" class="">Founded Date (dd/mm/yyyy)</label>
                  </div>
                </div> 

                <div class="form-group">
                  <div class="col-lg-10" style="margin-top: 0px">
                    <input type="text" class="form-control floating valued" id="inputEmail">
                    <label for="inputEmail" class="">Company Type</label>
                  </div>
                </div> 

                <div class="form-group">
                  <label for="select" class="col-lg-3 control-label col-lg-offset-0">CAT Suggestion</label>
                  <div class="col-lg-4">
                    <select class="form-control valued" id="select">
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                      <option>D</option>
                      <option>E</option>
                    </select>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-lg-3 control-label">Company Size</label>
                  <div class="col-lg-8">

                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Less than 10
                      </label>
                    </div>

                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">less than 100
                      </label>
                    </div>


                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option3">less than 500
                      </label>
                    </div>


                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option4">less than 1000
                      </label>
                    </div>


                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option5">more than 1000
                      </label>
                    </div>

                  </div>
                </div>


                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-0">
                    <label for="textArea">FREE NOTE</label>
                    <textarea class="form-control" rows="3" id="textArea"></textarea>
                    <span class="help-block">Please note here!</span>
                  </div>
                </div>
               

                <div class="form-group">
                  <div class="col-sm-10 text-right">
                    <button type="reset" class="btn btn-flat btn-primary">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>

        </div>
    </div>
</div>


this is request cat page


{% endblock %}


