{% extends "en/base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}


{% block title_html %}
   


{% endblock %}




{% block navbar_left_side_bar_items %}

    {% block request_app_id %}



    {% endblock %}



    {% block black_list_function %}



    {% endblock %}



    {% block policy_function %}



    {% endblock %}



    {% block main_items_dc %}



    {% endblock %}

    <hr>

    {% block provide_velocity_report %}



    {% endblock %}    



{% endblock %}






{% block h1 %}



<div class="col-sm-3">

<form method="post" novalidate>
  {% csrf_token %}

  {{ form }}

  <button type="submit" class="btn btn-primary"                     
          id='button_export_request_excel'
          name="extract fi request" 
          value="extract fi request">Submit</button>
</form>

</div>


{% endblock %}




{% block article_content %}
    


{% endblock %}




{% block list_items_nav_bar %}




{% endblock %}





{% block javascript_for_textfield %}


<script type="text/javascript">




</script>


{% endblock %}

