{% extends "en/stage_phv/base_phv.html" %}

{% load staticfiles %}





{% block request_app_id %}

<form method="get" >

    {% csrf_token %}
    <div>
      <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" name="search_app_id_for_dedupe_mobile" id= "search_app_id_for_dedupe_mobile" style="font-size: 12px; text-align: center;" >
            <span class="input-group-btn">
              <button type="button" class="btn btn-info" data-container="body" style = "width: 78px !important; height: 30px !important;" name = "button_get_app_for_dedupe_mobile" id = "button_get_app_for_dedupe_mobile">
                Get App
              </button>
            </span>
        </div>
      </div>
    </div>


</form>





<div>
  <div class="form-group">
    <div class="input-group">
        <input type="text" class="form-control" name="text_field_4_dedupe_mobile_phone_free_style" id ="text_field_4_dedupe_mobile_phone_free_style" style="font-size: 12px; text-align: center;" value="{{ items.mobile }}" >
        <span class="input-group-btn">
          <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="right" data-content="Search tự do" style="width: 78px !important; height: 30px !important;" name = "button_get_dedupe_mobile_phone_free_style" id = "button_get_dedupe_mobile_phone_free_style">
            Search
          </button>
        </span>
    </div>
  </div>
</div>






<div class="col-12" id="main_searched_mobile_phone_number">

  {% include "./module1_phv_get_all_mobile_phone.html" %}

</div>


{% endblock %}






{% block main_items_dc %}

<div class="nav flex-column nav-pills" id="phv-list-items-v-pills-tab" role="tablist">


  <a class="nav-link" id="check_dedupe_id_4_cux_sp_tab" data-toggle="pill" href="#check_dedupe_id_4_cux_sp" role="tab" aria-controls="check_dedupe_id_4_cux_sp" aria-expanded="true">
    
    <strong style="color: black;"> <i class="fa fa-list-ol"></i> Dedupe ID </strong>

  </a>

  <a class="nav-link" id="datacheck_tab_item_checklist_tab" data-toggle="pill" href="#datacheck_tab_item_checklist" role="tab" aria-controls="datacheck_tab_item_checklist" aria-expanded="true">
    
    <strong style="color: black;"> <i class="fa fa-list-ol"></i> DC CL - NOT YET</strong>
    <!--  chổ này có thể import template   module_tab_data_checker_cl.html nếu không ajax -->

  </a>


  <a class="nav-link active" id="check_dedupe_mobile_4_cux_ref_tab" data-toggle="pill" href="#check_dedupe_mobile_4_cux_ref" role="tab" aria-controls="check_dedupe_mobile_4_cux_ref" aria-expanded="true">

    <strong style="color: black;"> <i class="fa fa-list-ol"></i> Dedupe Mobile </strong>

  </a>


  <a class="nav-link" id="phv_tab_item_checklist_tab" data-toggle="pill" href="#phv_tab_item_checklist" role="tab" aria-controls="phv_tab_item_checklist" aria-expanded="true">

    <strong style="color: black;"> <i class="fa fa-list-ol"></i> PHV CL - NOT YET</strong>

    <!--  chổ này có thể import template   module_tab_phv_cl.html nếu không ajax -->

  </a>



</div>



{% endblock %}











{% block dedupe_function %}

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade" id="check_dedupe_id_4_cux_sp" name= "check_dedupe_id_4_cux_sp" role="tabpane1" aria-labelledby="check_dedupe_id_4_cux_sp">

    {% include "en/checklist/module_gui_dedupeid.html" %}


  </div>   




  <div class="tab-pane fade" id="datacheck_tab_item_checklist" role="tabpane2" aria-labelledby="datacheck_tab_item_checklist" style="overflow-y: scroll;">

    <!-- phần thể hiện kết quả kiểm tra -->
    {% include "en/checklist/module_gui_dccl_checked_result.html" %}


  </div>





  <div class="tab-pane fade show active" id="check_dedupe_mobile_4_cux_ref" name= "check_dedupe_mobile_4_cux_ref" role="tabpane3" aria-labelledby="check_dedupe_mobile_4_cux_ref">


    <div class="row" id = "show_arlet_4_searching_dedupe_mobi">


    </div>

    <!-- phần thể hiện chức năng kiểm tra trùng lắp số điện thoại -->
    <div class="row">
      
      <div class="col-xs-12 col-sm-12">
      
        <div class="card filterable">

          <div class="panel-heading">
              <h3 class="panel-title">As Customer</h3>
              <div class="pull-right">
                  <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter" id="mydedupedc"></span> Filter</button>
              </div>
          </div>

          <div style="display: inline-block; height: 40%; width: 100%; overflow-x: scroll;">
            <div style="position: relative;">

              <table class="table table-striped table-hover table-responsive" style="border-collapse: collapse; border-spacing: 10px; font-size:  12px;" id="dedupe_customer_spouse_table">
                  <thead>
                    <tr class="filters">
                      <th onclick="sortTable(0)"><input type="text" class="form-control" style="font-size:  10px;" disabled>APP ID</th>
                      <th onclick="sortTable(1)"><input type="text" class="form-control" style="font-size:  10px;" disabled>ID NO</th>
                      <th onclick="sortTable(2)"><input type="text" class="form-control" style="font-size:  10px;" disabled>ADDRESS TYPE</th>
                      <th onclick="sortTable(3)"><input type="text" class="form-control" style="font-size:  10px;" disabled>PHONE 1</th>
                      <th onclick="sortTable(4)"><input type="text" class="form-control" style="font-size:  10px;" disabled>MOBILE</th>
                      <th onclick="sortTable(5)"><input type="text" class="form-control" style="font-size:  10px;" disabled>ADDRESS 1</th>
                      <th onclick="sortTable(6)"><input type="text" class="form-control" style="font-size:  10px;" disabled>DPD</th>
                      <th onclick="sortTable(7)"><input type="text" class="form-control" style="font-size:  10px;" disabled>STATUS</th>
                    </tr>
                  </thead>


                  <tbody id = "dedupe_mobi_result_4_cux">

                  <!-- phần thể hiện chức năng kiểm tra trùng lắp số điện thoại của KH -->
                  {% include "en/checklist/module1_gui_dedupemobi_cux_mobi.html" %}


                  </tbody>


              </table> 
            </div>
          </div>


        </div>

      </div>

    </div>






    <div class="row">

      <div class="col-xs-12 col-sm-12">
      
        <div class="card filterable">

          <div class="panel-heading">
              <h3 class="panel-title">As References</h3>
              <div class="pull-right">
                  <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter" id="mydedupedc"></span> Filter</button>
              </div>
          </div>

          <div style="display: inline-block; height: 40%; width: 100%; overflow-x: scroll;">
            <div style="position: relative;">

              <table class="table table-striped table-hover table-responsive" style="border-collapse: collapse; border-spacing: 10px; font-size:  12px;" id="dedupe_customer_spouse_table">
                  <thead>
                    <tr class="filters">
                      <th onclick="sortTable(0)"><input type="text" class="form-control" style="font-size:  10px;" disabled>APP ID</th>
                      <th onclick="sortTable(1)"><input type="text" class="form-control" style="font-size:  10px;" disabled>ID NO</th>
                      <th onclick="sortTable(2)"><input type="text" class="form-control" style="font-size:  10px;" disabled>REF NAME</th>
                      <th onclick="sortTable(3)"><input type="text" class="form-control" style="font-size:  10px;" disabled>REF REL</th>
                      <th onclick="sortTable(4)"><input type="text" class="form-control" style="font-size:  10px;" disabled>PHONE1</th>
                      <th onclick="sortTable(5)"><input type="text" class="form-control" style="font-size:  10px;" disabled>PHONE2</th>
                      <th onclick="sortTable(6)"><input type="text" class="form-control" style="font-size:  10px;" disabled>STDISD</th>
                      <th onclick="sortTable(7)"><input type="text" class="form-control" style="font-size:  10px;" disabled>DPD</th>
                      <th onclick="sortTable(8)"><input type="text" class="form-control" style="font-size:  10px;" disabled>STATUS</th>
                    </tr>
                  </thead>


                  <tbody id = "dedupe_mobi_result_4_ref">

                    <!-- phần thể hiện chức năng kiểm tra trùng lắp số điện thoại của REF -->
                    {% include "en/checklist/module1_gui_dedupemobi_ref_mobi.html" %}

                  </tbody>
              </table> 
            </div>
          </div>


        </div>

      </div>


    </div>





  </div>





  <div class="tab-pane fade" id="phv_tab_item_checklist" name= "phv_tab_item_checklist" role="tabpane3" aria-labelledby="phv_tab_item_checklist">


    <!-- phần thể hiện check list của phv -->

    <div class="row equal">



      <div  class="col-8">

      {% include "en/checklist/module1_gui_phvcl.html" %}

      </div>




      <div class="col-4" style="min-height: 2000px; overflow-y: scroll">

        <ul class="nav nav-tabs" id="phvclTab" role="tablist">

          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#phvcl_mobi_note" role="tab" aria-controls="home" aria-expanded="true">UW</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#pcb_search_module" role="tab" aria-controls="profile">PCB</a>
          </li>

        </ul>




        <div class="tab-content" id="myTabContent">

          <!-- thẻ chứa ghi chú của UW cho từng số điện thoại -->
          <div class="tab-pane fade show active" id="phvcl_mobi_note" role="tabpanel" aria-labelledby="phvcl_mobi_note-tab">

            {% include "en/checklist/module1_gui_phvcl_mobi_comment.html" %}

          </div>






          <!-- thẻ chứa chứa module tra cứu tín dụng trên pcb -->
          <div class="tab-pane fade" id="pcb_search_module" role="tabpanel" aria-labelledby="col_mobi_note-tab">
            
            {% include "en/checklist/module1_gui_phvcl_pcb_check.html" %}

          </div>

        </div>




      </div>




    </div>



  </div>




</div>



{% endblock %}
























{% block javascript_for_textfield %}



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRhkL1qJ_LoAawHjoJyNbBCpBIO2NDRjo&libraries=places&callback=initAutocomplete"
         async defer>
           
</script>




<script type="text/javascript">


function remove_note_on_dc_check_list() {

    $('input[name="cic_detail_result"]').prop('checked', false);
    $('input[name="payment_result"]').prop('checked', false);
    $('input[name="home_result"]').prop('checked', false);
    $('input[name="work_result"]').prop('checked', false);

    $('#cic_detail_comment').val('');
    $('#payment_comment').val('');
    $('#home_comment').val('');
    $('#work_comment').val('');

    $('#home_type').val('...');
    $('#home_type_uw_decision').val('...');
    $('#work_check_directory').val('...');
    $('#work_type_uw_decision').val('...');

    $("#sumit_all_phv_result").prop('disabled', false);

}


(function($) {
  $('#clear_all_phv_choose').on('click', function(event) {


  remove_note_on_dc_check_list()

  });
}(jQuery));




//google map function
function initAutocomplete() {

        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 8,
          mapTypeId: 'roadmap'
        });


        google.maps.event.addListenerOnce(map, 'idle', function() {
            google.maps.event.trigger(map, 'resize');
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }
  

</script>













<script type="text/javascript">



//$("button").click(function() {
//    var id_of_clicked_button = this.id;
//    console.log(id_of_clicked_button); // or alert($(this).attr('id'));
//});

  
//function lấy thông tin app trên finnone và đổ data vào các items cần search dupe
//Sau khi hoàn tất mới bật chức năng search dedupe phone
(function($) {
  $('#button_get_app_for_dedupe_mobile').on('click', function(event) {

    google.maps.event.trigger(map, 'resize');

    var app_id_c = $('#search_app_id_for_dedupe_mobile').val();

    var loading = '<img width="60" height="60" alt="loading" src = "http://www.clipartbest.com/cliparts/RiG/Bpq/RiGBpqy6T.gif" />';

    var button_get_app = $('#button_get_app_for_dedupe_mobile');
    
    $.ajax({
      type: 'get',
      url:  {% url 'get_app_data_from_finnone_before_using_funtion_of_dedupe_mobi' %},
      data: {
        'app_id_c': app_id_c,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },

      beforeSend: function () {
            $('#button_get_app_for_dedupe_mobile').html(loading);
            $("#button_get_app_for_dedupe_mobile").prop('disabled', true);
        },

      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link

        remove_note_on_dc_check_list()
        
        if (data.save_complete) {

            //$('#posts').append(data.posts_html);
            $('#main_searched_mobile_phone_number').html(data.posts_html00);
            $('#phvcl_mobi_note').html(data.posts_html01);


            //cụm của dedupe id--------------------------------------------
            $('#main-items-search_cux').html(data.posts_html1);
            $('#main-items-search_spouse').html(data.posts_html2);
            $('#main-results-search').html(data.posts_html3);
            $('#check_list_checked_posts').html(data.checklist_result_html);
            //-------------------------------------------------------------



            //cụm của phv checklist----------------------------------------
            $('#dc_note_fianal_status').html(data.dc_final_note_status_html);
            $('#phv_check_list_checked_posts').html(data.phv_checklist_result_html);
            $('#get_phv_note_4_status').html(data.phv_final_note_status_html);
            $('#phv_calculate_dti').html(data.posts_html5);
            $('#phv_calculate_dti_result').html(data.posts_html7);
            $('#phvcl_company_detail_note').html(data.posts_html8);
            $('#phvcl_show_f1_loan_information').html(data.posts_html6);
            //$('#phv_comment_history_4_all_mobi').html(data.phv_note_list_html);
            //-------------------------------------------------------------


            //cụm của pcb gui----------------------------------------------
            $('#pcb_search_module').html(data.pcb_gui);


            $('#phv-list-items-v-pills-tab').html(data.posts_html4);

            $('#basic_app_data_on_fiv_form').html(data.posts_html9);

            $('#button_get_app_for_dedupe_mobile').html('Get App');


            //function cho phép bộ nghe của button hoạt động
            //tuy nhiên nó chỉ hoạt động đối với class btn-info
            //function nhằm phục vụ lấy thông tin cho dedupe mobile
            $(function () {
                $('.btn-info').on('click', function (e) {
                    //e.preventDefault();
                    var id = $(this).attr('id');
                    var process_type_button = id.substring(0, 23);
                    var searched_mobile = id.replace('button_get_dedupe_mobi_','');

                    var free_style_phone = $('#text_field_4_dedupe_mobile_phone_free_style').val()


                    var loading = '<img width="60" height="40" alt="loading" src = "https://loading.io/spinners/equalizer/lg.equalizer-bars-loader.gif" />';

                    if( process_type_button == 'button_get_dedupe_mobi_' ){


                          $.ajax({
                            type: 'get',
                            url:  {% url 'search_mobile_dedupe_mobile_phone_cux_and_ref_on_phv_checklist' %},
                            data: {
                              'searched_mobile': searched_mobile,
                              'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
                            },

                            beforeSend: function () {
                                  $('#' + id).html(loading);
                                  $('#' + id).prop('disabled', true);
                              },

                            success: function(data) {
                              // if there are still more pages to load,
                              // add 1 to the "Load More Posts" link's page data attribute
                              // else hide the link
                              if (data.save_complete) {
                                  //$('#posts').append(data.posts_html);
                                  $('#dedupe_mobi_result_4_cux').html(data.posts_html01);
                                  $('#dedupe_mobi_result_4_ref').html(data.posts_html02);
                                  $('#show_arlet_4_searching_dedupe_mobi').html(data.posts_html03)


                                  $('#' + id).html('Search');
                                  $('#' + id).prop('disabled', false);

                                  console.log('It works!');
                                  console.log(action);

                              } else {
                                //link.hide();
                              }
                              
                            },
                            error: function(xhr, status, error) {
                              // shit happens friends!
                            }

                          });
                      


                    }


                    else if (id == 'button_get_dedupe_mobile_phone_free_style'){


                          $.ajax({
                            type: 'get',
                            url:  {% url 'search_mobile_dedupe_mobile_phone_cux_and_ref_on_phv_checklist' %},
                            data: {
                              'searched_mobile': free_style_phone,
                              'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
                            },

                            beforeSend: function () {
                                  //$('#' + id).html(loading);
                                  $('#' + id).prop('disabled', true);
                              },

                            success: function(data) {
                              // if there are still more pages to load,
                              // add 1 to the "Load More Posts" link's page data attribute
                              // else hide the link
                              if (data.save_complete) {
                                  //$('#posts').append(data.posts_html);
                                  $('#dedupe_mobi_result_4_cux').html(data.posts_html01);
                                  $('#dedupe_mobi_result_4_ref').html(data.posts_html02);
                                  $('#show_arlet_4_searching_dedupe_mobi').html(data.posts_html03)


                                  $('#' + id).html('Search');
                                  $('#' + id).prop('disabled', false);

                                  console.log('It works!');

                              } else {
                                //link.hide();
                              }
                              
                            },
                            error: function(xhr, status, error) {
                              // shit happens friends!
                            }

                          });



                    };


                });
            

            });




            //function nhằm phục vụ cho comment mỗi số mobile
            $(function () {
              $('.btn-secondary').on('click', function (e) {

                  var app_id_c_raw = $('#datacheck_tab_item_checklist_tab').text().replace(/DC CL - /g, '');
                  var app_id_c_1 = app_id_c_raw.replace(/^\s*\n/gm, '');
                  var app_id_c = app_id_c_1.trim(app_id_c_1);

                  //e.preventDefault();
                  var id = $(this).attr('id');
                  var process_type_button = id.substring(0, 22);
                  var commented_mobile = id.replace('submit_comment_4_mobi_','');
                  


                  var phv_decision = $('#pickup_phv_decision_' + commented_mobile).text()
                  

                  var phv_emoji = $('#pickup_phv_emoji_' + commented_mobile).text()

                  var phv_note = $('#phv_provide_comment_4_mobi_' + commented_mobile).val()


                  var loading = '<img width="60" height="40" alt="loading" src = "https://loading.io/spinners/equalizer/lg.equalizer-bars-loader.gif" />';

                  if( process_type_button == 'submit_comment_4_mobi_' ){

                      $.ajax({
                        type: 'post',
                        url:  {% url 'phv_comment_for_every_mobile_check' %},
                        data: {
                          'commented_mobile' : commented_mobile,
                          'app_id_c' : app_id_c,
                          'phv_decision' : phv_decision,
                          'phv_emoji' : phv_emoji,
                          'phv_note' : phv_note,
                          'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
                        },

                        beforeSend: function () {
                              $('#' + id).html(loading);
                              $('#' + id).prop('disabled', true);
                          },

                        success: function(data) {
                          // if there are still more pages to load,
                          // add 1 to the "Load More Posts" link's page data attribute
                          // else hide the link
                          if (data.save_complete) {
                              //$('#posts').append(data.posts_html);
                              $('#phv_comment_history_4_mobi_' + commented_mobile).html(data.phv_note_list_html);



                              $('#' + id).html('Submit!');
                              $('#' + id).prop('disabled', false);

                              console.log('It works!');

                          } else {
                            //link.hide();
                          }
                          
                        },
                        error: function(xhr, status, error) {
                          // shit happens friends!
                        }
                      });
                    




                  };

              });

            });




            //function nhằm phục vụ việc tạo cũng như cập nhập thông tin công ty
            (function($) {
              $('#phv_create_update_company_infor').on('click', function(event) {

                event.preventDefault();


                var f1_company_tax_code = $('#f1_company_tax_code').val();
                var f1_company_name = $('#f1_company_name').val();
                var riskbox_company_tax_code = $('#riskbox_company_tax_code').val();
                var und_company_name = $('#und_company_name').val();
                var phv_company_note = $('#phv_company_note').val();




                $.ajax({
                  type: 'POST',
                  url:  {% url 'phv_create_update_company_information' %},
                  data: {
                    'app_id_c' : app_id_c,

                    'f1_company_tax_code' : f1_company_tax_code,
                    'f1_company_name': f1_company_name,
                    'riskbox_company_tax_code' : riskbox_company_tax_code,
                    'und_company_name' : und_company_name,
                    'phv_company_note' : phv_company_note,

                    'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
                  },

                  beforeSend: function () {

                        $("#phv_create_update_company_infor").prop('disabled', true);

                  },

                  success: function(data) {
                    // if there are still more pages to load,
                    // add 1 to the "Load More Posts" link's page data attribute
                    // else hide the link
                    if (data.save_complete) {
                        
                        //$('#undcl_company_detail_note').html(data.);
                        
                        $("#phv_create_update_company_infor").prop('disabled', false);
                        $('#phv_create_update_company_infor').html('Done');
                        console.log('It works!');

                    } else {
                      //link.hide();
                    }
                    
                  },
                  error: function(xhr, status, error) {
                    // shit happens friends!
                  }

                });

              });

            }(jQuery));



            //function phục vụ cho việc hiện fiv form
            $(document).ready(function() {

                $("#phv_provide_fiv_requirement").hide()

                $("input[name$='uw_phv_pending']").click(function() {
                    var phv_selected_result = $("input[type='radio'][name='uw_phv_pending']:checked");

                    var phv_selected_fiv = phv_selected_result.val();

                    console.log(phv_selected_fiv);

                    if (phv_selected_fiv == 'UW_SEND_FI') {
                        $("#phv_provide_fiv_requirement").show();
                    } 
                    else{
                        $("#phv_provide_fiv_requirement").hide();
                    };

                });

            });           


            

            //function phục vụ cho việc gửi fiv form
            $(document).ready(function() {

                jQuery(':button').click(function () {

                    button_fiv_curres = 0;
                    button_fiv_permnent = 0;
                    button_fiv_headoff = 0;
                    button_fiv_bchoff = 0;
                    button_fiv_office = 0;

                    if (this.id == 'send_save_fiv_request_4_curres') {
                        button_fiv_curres = 1;
                    }
                    else if (this.id == 'send_save_fiv_request_4_permnent') {
                        button_fiv_permnent = 1;
                    }
                    else if (this.id == 'send_save_fiv_request_4_headoff') {
                        button_fiv_headoff = 1;
                    }
                    else if (this.id == 'send_save_fiv_request_4_bchoff') {
                        button_fiv_bchoff = 1;
                    }
                    else if (this.id == 'send_save_fiv_request_4_office') {
                        button_fiv_office = 1;
                    }

                    var loading = '<img width="60" height="40" alt="loading" src = "https://loading.io/spinners/equalizer/lg.equalizer-bars-loader.gif" />';

                    if (  button_fiv_curres > 0 || 
                          button_fiv_permnent > 0 || 
                          button_fiv_headoff > 0 ||
                          button_fiv_bchoff > 0 ||
                          button_fiv_office > 0 
                          ){

                          var app_id_c_raw = $('#datacheck_tab_item_checklist_tab').text().replace(/DC CL - /g, '');
                          var app_id_c_1 = app_id_c_raw.replace(/^\s*\n/gm, '');
                          var app_id_c = app_id_c_1.trim(app_id_c_1);


                          exist_curess = $('#fiv_type_vist_CURRES').length;
                          exist_headoff = $('#fiv_type_vist_HEADOFF').length;
                          exist_permnent = $('#fiv_type_vist_PERMNENT').length;
                          exist_office = $('#fiv_type_vist_OFFICE').length;
                          exist_bchoff = $('#fiv_type_vist_BCHOFF').length;


                          checked_curess = $('#fiv_type_vist_CURRES').is(":checked");
                          checked_headoff = $('#fiv_type_vist_HEADOFF').is(":checked");
                          checked_permnent = $('#fiv_type_vist_PERMNENT').is(":checked");
                          checked_office = $('#fiv_type_vist_OFFICE').is(":checked");
                          checked_bchoff = $('#fiv_type_vist_BCHOFF').is(":checked");

                          householder1_note_curres = $('#CURRES_Householder1').val();
                          householder1_note_headoff = $('#HEADOFF_Householder1').val();
                          householder1_note_permnent = $('#PERMNENT_Householder1').val();
                          householder1_note_office = $('#OFFICE_Householder1').val();
                          householder1_note_bchoff = $('#BCHOFF_Householder1').val();


                          Relationship1_note_curres = $('#CURRES_Relationship1').val();
                          Relationship1_note_headoff = $('#HEADOFF_Relationship1').val();
                          Relationship1_note_permnent = $('#PERMNENT_Relationship1').val();
                          Relationship1_note_office = $('#OFFICE_Relationship1').val();
                          Relationship1_note_bchoff = $('#BCHOFF_Relationship1').val();

                          Room_number_note_curres = $('#CURRES_Room_number').val();
                          Room_number_note_headoff = $('#HEADOFF_Room_number').val();
                          Room_number_note_permnent = $('#PERMNENT_Room_number').val();
                          Room_number_note_office = $('#OFFICE_Room_number').val();
                          Room_number_note_bchoff = $('#BCHOFF_Room_number').val();


                          Partner_Other_note_curres = $('#CURRES_Partner_Other').val();
                          Partner_Other_note_headoff = $('#HEADOFF_Partner_Other').val();
                          Partner_Other_note_permnent = $('#PERMNENT_Partner_Other').val();
                          Partner_Other_note_office = $('#OFFICE_Partner_Other').val();
                          Partner_Other_note_bchoff = $('#BCHOFF_Partner_Other').val();


                          Describe_the_ways_note_curres = $('#CURRES_Describe_the_ways').val();
                          Describe_the_ways_note_headoff = $('#HEADOFF_Describe_the_ways').val();
                          Describe_the_ways_note_permnent = $('#PERMNENT_Describe_the_ways').val();
                          Describe_the_ways_note_office = $('#OFFICE_Describe_the_ways').val();
                          Describe_the_ways_note_bchoff = $('#BCHOFF_Describe_the_ways').val();


                          Note_note_curres = $('#CURRES_Note').val();
                          Note_note_headoff = $('#HEADOFF_Note').val();
                          Note_note_permnent = $('#PERMNENT_Note').val();
                          Note_note_office = $('#OFFICE_Note').val();
                          Note_note_bchoff = $('#BCHOFF_Note').val();

                          $.ajax({
                            type: 'POST',
                            url:  {% url 'phv_create_send_fiv_data' %},
                            data: {
                              'app_id_c' : app_id_c,

                              'button_fiv_curres' : button_fiv_curres,
                              'button_fiv_permnent' : button_fiv_permnent,
                              'button_fiv_headoff' : button_fiv_headoff,
                              'button_fiv_bchoff' : button_fiv_bchoff,
                              'button_fiv_office' : button_fiv_office,


                              'exist_curess' : exist_curess, 
                              'exist_headoff' : exist_headoff,
                              'exist_permnent' : exist_permnent,
                              'exist_office' : exist_office,
                              'exist_bchoff' : exist_bchoff,

                              'checked_curess' : checked_curess,
                              'checked_headoff' : checked_headoff,
                              'checked_permnent' : checked_permnent,
                              'checked_office' : checked_office,
                              'checked_bchoff' : checked_bchoff,

                              'householder1_note_curres' : householder1_note_curres,
                              'householder1_note_headoff' : householder1_note_headoff,
                              'householder1_note_permnent' : householder1_note_permnent,
                              'householder1_note_office' : householder1_note_office,
                              'householder1_note_bchoff' : householder1_note_bchoff,

                              'Relationship1_note_curres' : Relationship1_note_curres,
                              'Relationship1_note_headoff' : Relationship1_note_headoff,
                              'Relationship1_note_permnent' : Relationship1_note_permnent,
                              'Relationship1_note_office' : Relationship1_note_office,
                              'Relationship1_note_bchoff' : Relationship1_note_bchoff,

                              'Room_number_note_curres' : Room_number_note_curres,
                              'Room_number_note_headoff' : Room_number_note_headoff,
                              'Room_number_note_permnent' : Room_number_note_permnent,
                              'Room_number_note_office' : Room_number_note_office,
                              'Room_number_note_bchoff' : Room_number_note_bchoff,

                              'Partner_Other_note_curres' : Partner_Other_note_curres,
                              'Partner_Other_note_headoff' : Partner_Other_note_headoff,
                              'Partner_Other_note_permnent' : Partner_Other_note_permnent,
                              'Partner_Other_note_office' : Partner_Other_note_office,
                              'Partner_Other_note_bchoff' : Partner_Other_note_bchoff,

                              'Describe_the_ways_note_curres' : Describe_the_ways_note_curres,
                              'Describe_the_ways_note_headoff' : Describe_the_ways_note_headoff,
                              'Describe_the_ways_note_permnent' : Describe_the_ways_note_permnent,
                              'Describe_the_ways_note_office' : Describe_the_ways_note_office,
                              'Describe_the_ways_note_bchoff' : Describe_the_ways_note_bchoff,

                              'Note_note_curres' : Note_note_curres,
                              'Note_note_headoff' : Note_note_headoff,
                              'Note_note_permnent' : Note_note_permnent,
                              'Note_note_office' : Note_note_office,
                              'Note_note_bchoff' : Note_note_bchoff,


                              'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
                            },

                            beforeSend: function () {

                                  if (button_fiv_curres = 1) {
                                      $('#send_save_fiv_request_4_curres').html(loading);
                                      $("#send_save_fiv_request_4_curres").prop('disabled', true);
                                  }
                                  if (button_fiv_permnent = 1) {
                                      $('#send_save_fiv_request_4_permnent').html(loading);
                                      $("#send_save_fiv_request_4_permnent").prop('disabled', true);
                                  }
                                  if (button_fiv_headoff = 1) {
                                      $('#send_save_fiv_request_4_headoff').html(loading);
                                      $("#send_save_fiv_request_4_headoff").prop('disabled', true);
                                  }
                                  if (button_fiv_bchoff = 1) {
                                      $('#send_save_fiv_request_4_bchoff').html(loading);
                                      $("#send_save_fiv_request_4_bchoff").prop('disabled', true);
                                  }
                                  if (button_fiv_office = 1) {
                                      $('#send_save_fiv_request_4_office').html(loading);
                                      $("#send_save_fiv_request_4_office").prop('disabled', true);
                                  }

                            },

                            success: function(data) {

                              if (data.save_complete) {
                                  
                                //$('#undcl_company_detail_note').html(data.);
                                $("#send_save_fiv_request_4_curres").prop('disabled', false);
                                $('#send_save_fiv_request_4_curres').html('SEND/SAVE');

                                $("#send_save_fiv_request_4_permnent").prop('disabled', false);
                                $('#send_save_fiv_request_4_permnent').html('SEND/SAVE');

                                $("#send_save_fiv_request_4_headoff").prop('disabled', false);
                                $('#send_save_fiv_request_4_headoff').html('SEND/SAVE');

                                $("#send_save_fiv_request_4_bchoff").prop('disabled', false);
                                $('#send_save_fiv_request_4_bchoff').html('SEND/SAVE');

                                $("#send_save_fiv_request_4_office").prop('disabled', false);
                                $('#send_save_fiv_request_4_office').html('SEND/SAVE');


                                if ( data.button_fiv_curres > 0 ){

                                  $('#send_save_fiv_request_date_4_curres').html(data.phv_final_request_fiv_day_finish);

                                }

                                if (  data.button_fiv_permnent > 0 ){

                                  $('#send_save_fiv_request_date_4_permnent').html(data.phv_final_request_fiv_day_finish);

                                }

                                if (  data.button_fiv_headoff > 0 ){

                                  $('#send_save_fiv_request_date_4_headoff').html(data.phv_final_request_fiv_day_finish);

                                } 

                                if (  data.button_fiv_bchoff > 0 ){

                                  $('#send_save_fiv_request_date_4_bchoff').html(data.phv_final_request_fiv_day_finish);

                                } 

                                if (  data.button_fiv_office > 0 ){

                                  $('#send_save_fiv_request_date_4_office').html(data.phv_final_request_fiv_day_finish);

                                }


                              } else {
                                //link.hide();
                              } 
                            },

                            error: function(xhr, status, error) {
                              // shit happens friends!
                            }

                          });




                    }

                });

                $('#send_save_fiv_request').click(function() {

                });


            });
            




             //trong khung comment của các số điện thoại, khu user chọn decision hay emoji sẽ hiện số
            $(".dropdown-menu li").click(function(){
              var selText = $(this).val();
              //console.log( selText);
              //$(this).parents('.dropdown').find('.dropdown-toggle').val(selText);
              $(this).parents('.dropdown').find('.dropdown-toggle').text(selText);
            });




            $(document).ready(function(){
                $('[data-toggle="popover"]').popover({
                    placement : 'right',
                    trigger : 'hover'
                });
            }); 


            $(document).ready(function(){
                $('[data-toggle="popover1"]').popover({
                    placement : 'left',
                    trigger : 'hover'
                });
            });            




            $(".collapse").collapse({toggle: false});

            $("#button_get_app_for_dedupe_mobile").prop('disabled', false);



            $( "#phvcl_dti_cal_la" ).keyup(function() {

              calculate_dti();

            });

            $( "#phvcl_dti_cal_tenure" ).keyup(function() {

              calculate_dti();

            });

            $( "#phvcl_dti_cal_income" ).keyup(function() {

              calculate_dti();

            });




            function calculate_dti(){

              var loan_la = $('#phvcl_dti_cal_la').val();

              var loan_la = loan_la.replace(/,/g,'');

              var loan_la_2_num = parseInt(loan_la);

              console.log(loan_la_2_num);


              var loan_tennor = $('#phvcl_dti_cal_tenure').val();

              var loan_tennor_2_num = parseInt(loan_tennor);

              console.log(loan_tennor_2_num);


              var loan_ir = $('#phvcl_dti_cal_ir').val();

              var loan_ir_2_num = parseInt(loan_ir);

              console.log(loan_ir_2_num);


              var loan_total_emi = $('#phvcl_dti_cal_total_emi').val();

              var loan_total_emi = loan_total_emi.replace(/,/g,'');

              var loan_total_emi_2_num = parseInt(loan_total_emi); 

              console.log(loan_total_emi_2_num);



              var loan_income = $('#phvcl_dti_cal_income').val();
              var loan_income = loan_income.replace(/,/g,'');
              var loan_income_2_num = parseInt(loan_income); 

              console.log(loan_income);

              var a = Math.pow(1+loan_ir_2_num/12/100, (-loan_tennor_2_num));

              var loan_new_emi = (loan_la_2_num * (loan_ir_2_num/12/100)) / (1-a)

              var final_loan_new_emi = Math.ceil(loan_new_emi);

              console.log(final_loan_new_emi);


              var loan_new_dti = parseInt(final_loan_new_emi) / (parseInt (loan_income_2_num) - parseInt(loan_total_emi_2_num));

 
              if (loan_la_2_num <= 20000000 && loan_tennor_2_num > 24) {
                  
                  $("#button_phvcl_dti_tenure").removeClass().addClass("btn btn-danger btn-sm");
                  $("#phvcl_dti_cal_tenure").removeClass().addClass("form-control is-invalid");
              }
              else{

                  $("#button_phvcl_dti_tenure").removeClass().addClass("btn btn-secondary btn-sm");
                  $("#phvcl_dti_cal_tenure").removeClass().addClass("form-control");
              }


              //var loan_la = loan_la_2_num.toLocaleString();
              var loan_la = loan_la_2_num.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
              $('#phvcl_dti_cal_la').val(loan_la);

              //var final_loan_new_emi = final_loan_new_emi.toLocaleString();
              var final_loan_new_emi = final_loan_new_emi.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
              $('#phvcl_dti_cal_emi').val(final_loan_new_emi);

              //var loan_income = loan_income_2_num.toLocaleString();
              var loan_income = loan_income_2_num.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
              $('#phvcl_dti_cal_income').val(loan_income);


              $('#phvcl_dti_cal_dti').val(loan_new_dti);


            };





            //thực hiện search pcb
            (function($) {
              $('#button_send_request_to_pcb').on('click', function(event) {

                event.preventDefault();

                //lấy app id
                var app_id_c_raw = $('#datacheck_tab_item_checklist_tab').text().replace(/DC CL - /g, '');
                var app_id_c_1 = app_id_c_raw.replace(/^\s*\n/gm, '');
                var app_id_c = app_id_c_1.trim(app_id_c_1);

                var first_click = 'first_click'
                var second_click = ''


                $.ajax({
                  type: 'POST',
                  url:  {% url 'phv_send_request_pcb' %},
                  data: {
                    'app_id_c': app_id_c,
                    'first_click': first_click,
                    'second_click': second_click,
                    'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
                  },

                  beforeSend: function () {
                        $('#button_send_request_to_pcb').prop('disabled', true);
                  },

                  success: function(data) {
                    // if there are still more pages to load,
                    // add 1 to the "Load More Posts" link's page data attribute
                    // else hide the link
                    if (data.save_complete) {
                        //$('#posts').append(data.posts_html);
                        $('#pcb_report_error').html(data.pcb_status);
                        $('#pcb_customer_basic_infor').html(data.pcb_customer_infor_temp);
                        $('#pcb_score').html(data.pcb_customer_score_temp);
                        $('#pcb_loan_history').html(data.pcb_customer_loan_temp);
                        $('#pcb_card_history').html(data.pcb_customer_card_temp);
                        $('#pcb_button_check_reconfirm').html(data.pcb_check_button_reconfirm);
                        $('#button_send_request_to_pcb').prop('disabled', false);


                        $('#button_send_request_to_pcb_again').on('click', function(event) {

                          event.preventDefault();

                          //lấy app id
                          var app_id_c_raw = $('#datacheck_tab_item_checklist_tab').text().replace(/DC CL - /g, '');
                          var app_id_c_1 = app_id_c_raw.replace(/^\s*\n/gm, '');
                          var app_id_c = app_id_c_1.trim(app_id_c_1);

                          var first_click = ''
                          var second_click = 'second_click'


                          $.ajax({
                            type: 'POST',
                            url:  {% url 'phv_send_request_pcb' %},
                            data: {
                              'app_id_c': app_id_c,
                              'first_click': first_click,
                              'second_click': second_click,
                              'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
                            },

                            beforeSend: function () {
                                  $('#button_send_request_to_pcb_again').prop('disabled', true);
                              },

                            success: function(data) {
                              // if there are still more pages to load,
                              // add 1 to the "Load More Posts" link's page data attribute
                              // else hide the link
                              if (data.save_complete) {
                                  //$('#posts').append(data.posts_html);
                                  $('#pcb_report_error').html(data.pcb_status);
                                  $('#pcb_customer_basic_infor').html(data.pcb_customer_infor_temp);
                                  $('#pcb_score').html(data.pcb_customer_score_temp);
                                  $('#pcb_loan_history').html(data.pcb_customer_loan_temp);
                                  $('#pcb_card_history').html(data.pcb_customer_card_temp);
                                  $('#pcb_button_check_reconfirm').html(data.pcb_check_button_reconfirm);
                                  $('#button_send_request_to_pcb_again').prop('disabled', false);
                                  console.log('It works!');
                              } else {
                                //link.hide();
                              }
                              
                            },
                            error: function(xhr, status, error) {
                              // shit happens friends!
                            }
                          });
                        });



                        console.log('It works!');


                    } else {
                      //link.hide();
                    }
                    
                  },

                  error: function(xhr, status, error) {
                    // shit happens friends!
                  }

                });
              });
            

            }(jQuery));





            

            console.log('It works!');

        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));












//function để search với nguyên thông tin khách hàng không điều chình bất kỳ thông tin nào của KH

(function($) {
  $('#button_get_app_info').on('click', function(event) {

    event.preventDefault();

    var customer_name = $('#convert_name_2_percent').val();
    var customer_dob = $('#convert_dob_2_percent').val();
    var customer_id = $('#search_customer_national_id').val();


    var loading = '<img width="60" height="40" alt="loading" src = "https://loading.io/spinners/equalizer/lg.equalizer-bars-loader.gif" />';



    $.ajax({
      type: 'get',
      url:  {% url 'search_customer_information_with_full_information_id_dob_name_on_phv_checklist' %},
      data: {
        'customer_name': customer_name,
        'customer_dob': customer_dob,
        'customer_id': customer_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },

      beforeSend: function () {
            $('#button_get_app_info').html(loading);
            $('#button_get_app_info').prop('disabled', true);
        },

      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#main-results-search').html(data.posts_html);

            $('#button_get_app_info').html('Cux Search');
            $('#button_get_app_info').prop('disabled', false);

            console.log('It works!');
        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));












//function để UW xóa số search như home directory
(function($) {
  $('#button_get_info_dc_style').on('click', function(event) {

    event.preventDefault();

    var customer_name = $('#convert_name_2_percent').val();
    var customer_dob = $('#convert_dob_2_percent').val();
    var customer_id = $('#search_customer_national_id').val();



    $.ajax({
      type: 'get',
      url:  {% url 'search_customer_information_with_home_directory_style_on_phv_checklist' %},
      data: {
        'customer_name': customer_name,
        'customer_dob': customer_dob,
        'customer_id': customer_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },
      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#main-results-search').html(data.posts_html);

            console.log('It works!');
        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));












//thực hiện xóa số và search với phần còn lại của CMND
$(document).on('keyup','#search_customer_national_id',function( e ) {  


    event.preventDefault();

    var customer_name = $('#convert_name_2_percent').val();
    var customer_dob = $('#convert_dob_2_percent').val();
    var customer_id = $('#search_customer_national_id').val();


    $.ajax({
      type: 'get',
      url:  {% url 'search_customer_information_with_home_directory_style_on_phv_checklist' %},
      data: {
        'customer_name': customer_name,
        'customer_dob': customer_dob,
        'customer_id': customer_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },
      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#main-results-search').html(data.posts_html);

            console.log('It works!');
        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });












//thực hiện search spouse id free style
(function($) {
  $('#button_get_spouse_info').on('click', function(event) {

    event.preventDefault();

    var spouse_name = $('#convert_spouse_name_2_percent').val();
    var spouse_id = $('#convert_spouse_id_2_percent').val();

    var loading = '<img width="60" height="40" alt="loading" src = "https://loading.io/spinners/equalizer/lg.equalizer-bars-loader.gif" />';




    $.ajax({
      type: 'get',
      url:  {% url 'search_customer_spouse_information_with_free_style_on_phv_checklist' %},
      data: {
        'spouse_name': spouse_name,
        'spouse_id': spouse_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },

      beforeSend: function () {
            $('#button_get_spouse_info').html(loading);
            $('#button_get_spouse_info').prop('disabled', true);
        },

      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#main-results-search').html(data.posts_html);

            $('#button_get_spouse_info').html('Spouse Search');
            $('#button_get_spouse_info').prop('disabled', false);

            console.log('It works!');
        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));










//thực hiện lưu main check list
(function($) {
  $('#sumit_all_phv_result').on('click', function(event) {

    event.preventDefault();

    //lấy app id
    var app_id_c_raw = $('#datacheck_tab_item_checklist_tab').text().replace(/DC CL - /g, '');
    var app_id_c_1 = app_id_c_raw.replace(/^\s*\n/gm, '');
    var app_id_c = app_id_c_1.trim(app_id_c_1);


    //lấy kết quả check CIC detail
    var checked_type_label = $('#doc_type_cic_dtail');
    var cic_detail_checked_type = checked_type_label.attr('paper_type');


    var cic_detail_selectedVal = "";
    var selected = $("input[type='radio'][name='cic_detail_result']:checked");
    if (selected.length > 0) {
        cic_detail_selectedVal = selected.val();
    }


    var cic_detail_comment = $('#cic_detail_comment').val();



    //lấy kết quả payment
    var checked_type_label = $('#doc_type_payment');
    var payment_checked_type = checked_type_label.attr('paper_type');


    var payment_selectedVal = "";
    var selected = $("input[type='radio'][name='payment_result']:checked");
    if (selected.length > 0) {
        payment_selectedVal = selected.val();
    }   


    var payment_comment = $('#payment_comment').val();



    //lấy kết quả kiểm tra điện thoại nhà
    var checked_type_label = $('#doc_type_home');
    var home_checked_type = checked_type_label.attr('paper_type');    


    var home_selectedVal = "";
    var selected = $("input[type='radio'][name='home_result']:checked");
    if (selected.length > 0) {
        home_selectedVal = selected.val();
    } 


    var home_type = $('#home_type').find(":selected").text();
    var home_type_uw_decision = $('#home_type_uw_decision').find(":selected").text();

    var home_comment = $('#home_comment').val();




    //lấy kết quả kiểm tra điện thoại công ty
    var checked_type_label = $('#doc_type_work');
    var work_checked_type = checked_type_label.attr('paper_type');    


    var work_selectedVal = "";
    var selected = $("input[type='radio'][name='work_result']:checked");
    if (selected.length > 0) {
        work_selectedVal = selected.val();
    } 


    var work_check_directory = $('#work_check_directory').find(":selected").text();
    var work_type_uw_decision = $('#work_type_uw_decision').find(":selected").text();

    var work_comment = $('#work_comment').val();




    //lấy kết quả và thông tin của loan trong quá trình tính DTI
    var phvcl_basic_loan_infor_priority = $('#phvcl_basic_loan_infor_priority').val();
    var phvcl_basic_loan_infor_sale_officer = $('#phvcl_basic_loan_infor_sale_officer').val();
    var phvcl_basic_loan_infor_pos = $('#phvcl_basic_loan_infor_pos').val();
    var phvcl_basic_loan_infor_amount = $('#phvcl_basic_loan_infor_amount').val();
    var phvcl_basic_loan_infor_emi = $('#phvcl_basic_loan_infor_emi').val();
    var phvcl_basic_loan_infor_tenure = $('#phvcl_basic_loan_infor_tenure').val();
    var phvcl_basic_loan_infor_product = $('#phvcl_basic_loan_infor_product').val();
    var phvcl_dti_cal_financial_name = $('#phvcl_dti_cal_financial_name').val();
    var phvcl_dti_cal_total_outstanding = $('#phvcl_dti_cal_total_outstanding').val();
    var phvcl_dti_cal_total_emi = $('#phvcl_dti_cal_total_emi').val();
    var phvcl_dti_cal_ir = $('#phvcl_dti_cal_ir').val();
    var phvcl_dti_cal_emi = $('#phvcl_dti_cal_emi').val();
    var phvcl_dti_cal_la = $('#phvcl_dti_cal_la').val();
    var phvcl_dti_cal_tenure = $('#phvcl_dti_cal_tenure').val();
    var phvcl_dti_cal_income = $('#phvcl_dti_cal_income').val();
    var phvcl_dti_cal_dti = $('#phvcl_dti_cal_dti').val();




    //lấy note status của phv
    var checked_type_label = $('#doc_type_defer');
    var defer_note_doc_type = checked_type_label.attr('paper_type');    


    var check_defer_pending_selectedVal = "";
    var selected = $("input[type='radio'][name='uw_phv_pending']:checked");
    if (selected.length > 0) {
        check_defer_pending_selectedVal = selected.val();
    } 


    var phv_note_status = $('#phv_note_status').val(); 



    $.ajax({
      type: 'post',
      url:  {% url 'phv_cl_super_total_comment' %},
      data: {
        'app_id_c': app_id_c,
        'cic_detail_checked_type' : cic_detail_checked_type,
        'cic_detail_selectedVal' : cic_detail_selectedVal,
        'cic_detail_comment' : cic_detail_comment,
        'payment_checked_type' : payment_checked_type,
        'payment_selectedVal' : payment_selectedVal,
        'payment_comment' : payment_comment,
        'home_checked_type' : home_checked_type,
        'home_selectedVal' : home_selectedVal,
        'home_type' : home_type,
        'home_type_uw_decision' : home_type_uw_decision,
        'home_comment' : home_comment,
        'work_checked_type' : work_checked_type,
        'work_selectedVal' : work_selectedVal,
        'work_check_directory' : work_check_directory,
        'work_type_uw_decision' : work_type_uw_decision,
        'work_comment' : work_comment,
        'defer_note_doc_type': defer_note_doc_type,
        'check_defer_pending_selectedVal': check_defer_pending_selectedVal,
        'phv_note_status': phv_note_status,


        'phvcl_basic_loan_infor_priority' : phvcl_basic_loan_infor_priority,
        'phvcl_basic_loan_infor_sale_officer' : phvcl_basic_loan_infor_sale_officer,
        'phvcl_basic_loan_infor_pos' : phvcl_basic_loan_infor_pos,
        'phvcl_basic_loan_infor_amount' : phvcl_basic_loan_infor_amount,
        'phvcl_basic_loan_infor_emi' : phvcl_basic_loan_infor_emi,
        'phvcl_basic_loan_infor_tenure' : phvcl_basic_loan_infor_tenure,
        'phvcl_basic_loan_infor_product' : phvcl_basic_loan_infor_product,
        'phvcl_dti_cal_financial_name' : phvcl_dti_cal_financial_name,
        'phvcl_dti_cal_total_outstanding' : phvcl_dti_cal_total_outstanding,
        'phvcl_dti_cal_total_emi' : phvcl_dti_cal_total_emi,
        'phvcl_dti_cal_ir' : phvcl_dti_cal_ir,
        'phvcl_dti_cal_emi' : phvcl_dti_cal_emi,
        'phvcl_dti_cal_la' : phvcl_dti_cal_la,
        'phvcl_dti_cal_tenure' : phvcl_dti_cal_tenure,
        'phvcl_dti_cal_income' : phvcl_dti_cal_income,
        'phvcl_dti_cal_dti' : phvcl_dti_cal_dti,


        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },

      beforeSend: function () {

            $("#sumit_all_phv_result").prop('disabled', true);

        },

      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#phv_check_list_checked_posts').html(data.checklist_result_html);

            console.log('It works!');

        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }

    });

  });

}(jQuery));








</script>




<script type="text/javascript">
  


$(document).ready(function() {

    $("#phv_provide_fiv_requirement").hide()

    $("input[name$='uw_phv_pending']").click(function() {
        var phv_selected_result = $("input[type='radio'][name='uw_phv_pending']:checked");

        var phv_selected_fiv = phv_selected_result.val();

        console.log(phv_selected_fiv);

        if (phv_selected_fiv == 'UW_SEND_FI') {
            $("#phv_provide_fiv_requirement").show();
        } 
        else{
            $("#phv_provide_fiv_requirement").hide();
        };

    });
});


</script>





<script type="text/javascript">


function Convert_name_in_textfield() {
    document.getElementById('convert_name_2_percent').value = "%";
};

function Convert_dob_in_textfield() {
    document.getElementById('convert_dob_2_percent').value = "%";
};

function Convert_id_in_textfield() {
    document.getElementById('convert_id_2_percent').value = "%";
};

function Convert_spouse_name_in_textfield() {
    document.getElementById('convert_spouse_name_2_percent').value = "%";
};

function Convert_spouse_id_in_textfield() {
    document.getElementById('convert_spouse_id_2_percent').value = "%";
};


  
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        placement : 'right',
        trigger : 'hover'
    });
});



$(document).ready(function(){
    $('[data-toggle="popover1"]').popover({
        placement : 'left',
        trigger : 'hover'
    });
});


</script>




<script type="text/javascript" src=""></script>


{% endblock %}

