{% extends "en/stage_und/base_und.html" %}

{% load staticfiles %}



{% block  css_framework %}


{% endblock %}



{% block request_app_id %}

<form method="get" >

    {% csrf_token %}
    <div>
      <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" name="search_app_id_for_checklist_und" id= "search_app_id_for_checklist_und" style="font-size: 12px; text-align: center;" >
            <span class="input-group-btn">
              <button type="button" class="btn btn-info" data-container="body" style = "width: 78px !important; height: 30px !important;" name = "button_get_app_for_checklist_und" id = "button_get_app_for_checklist_und">
                Get App
              </button>
            </span>
        </div>
      </div>
    </div>


</form>




<div>
  <div class="form-group">
    <div class="input-group">
        <input type="text" class="form-control" name="text_field_4_dedupe_mobile_phone_free_style" id ="text_field_4_dedupe_mobile_phone_free_style" style="font-size: 12px; text-align: center;" value="{{ items.mobile }}" >
        <span class="input-group-btn">
          <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="right" data-content="Search tự do" style="width: 78px !important; height: 30px !important;" name = "button_get_dedupe_mobile_phone_free_style" id = "button_get_dedupe_mobile_phone_free_style">
            Search
          </button>
        </span>
    </div>
  </div>
</div>






<div class="col-12" id="main_searched_mobile_phone_number">

  {% include "./module1_phv_get_all_mobile_phone.html" %}

</div>



{% endblock %}






{% block main_items_dc %}

<div class="nav flex-column nav-pills" id="und-list-items-v-pills-tab" role="tablist">

  <a class="nav-link active" id="check_dedupe_id_4_cux_sp_tab" data-toggle="pill" href="#check_dedupe_id_4_cux_sp" role="tab" aria-controls="check_dedupe_id_4_cux_sp" aria-expanded="true">
    
    <strong style="color: black;"> <i class="fa fa-list-ol"></i> Dedupe ID </strong>

  </a> 



  <a class="nav-link" id="datacheck_tab_item_checklist_tab" data-toggle="pill" href="#datacheck_tab_item_checklist" role="tab" aria-controls="datacheck_tab_item_checklist" aria-expanded="true">
    
    <strong style="color: black;"> <i class="fa fa-list-ol"></i> DC CL - NOT YET</strong>
    <!--  chổ này có thể import template   module_tab_data_checker_cl.html nếu không ajax -->

  </a>



  <a class="nav-link" id="check_dedupe_mobile_4_cux_ref_tab" data-toggle="pill" href="#check_dedupe_mobile_4_cux_ref" role="tab" aria-controls="check_dedupe_mobile_4_cux_ref" aria-expanded="true">

    <strong style="color: black;"> <i class="fa fa-list-ol"></i> Dedupe Mobile </strong>

  </a>



  <a class="nav-link" id="phv_tab_item_checklist_tab" data-toggle="pill" href="#phv_tab_item_checklist" role="tab" aria-controls="phv_tab_item_checklist" aria-expanded="true">

    <strong style="color: black;"> <i class="fa fa-list-ol"></i> PHV CL - NOT YET</strong>

    <!--  chổ này có thể import template   module_tab_phv_cl.html nếu không ajax -->

  </a>



  <a class="nav-link" id="und_tab_item_checklist_tab" data-toggle="pill" href="#und_tab_item_checklist" role="tab" aria-controls="und_tab_item_checklist" aria-expanded="true">

    <strong style="color: black;"> <i class="fa fa-list-ol"></i> UND CL - NOT YET</strong>

    <!--  chổ này có thể import template   module_tab_phv_cl.html nếu không ajax -->

  </a>




</div>



{% endblock %}











{% block dedupe_function %}

<div class="tab-content" id="myTabContent">


  <div class="tab-pane fade show active" id="check_dedupe_id_4_cux_sp" name= "check_dedupe_id_4_cux_sp" role="tabpanel0" aria-labelledby="check_dedupe_id_4_cux_sp_tab">

  <!-- tab để kiểm tra dedupe id -->
  {% include "en/checklist/module_gui_dedupeid.html" %}
  
  </div>  



  <div class="tab-pane fade in active" id="datacheck_tab_item_checklist" role="tabpane1" aria-labelledby="datacheck_tab_item_checklist">


    <!-- phần thể hiện kết quả kiểm tra -->
    {% include "en/checklist/module_gui_dccl_checked_result.html" %}


  </div>



  <div class="tab-pane fade show active" id="check_dedupe_mobile_4_cux_ref" name= "check_dedupe_mobile_4_cux_ref" role="tabpane3" aria-labelledby="check_dedupe_mobile_4_cux_ref">


      <div class="row" id = "show_arlet_4_searching_dedupe_mobi">


      </div>

      <!-- phần thể hiện chức năng kiểm tra trùng lắp số điện thoại -->
      <div class="row">
        
        <div class="col-xs-12 col-sm-12">
        
          <div class="card filterable">

            <div class="panel-heading">
                <h3 class="panel-title">As Customer</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter" id="mydedupedc"></span> Filter</button>
                </div>
            </div>

            <div style="display: inline-block; height: 40%; width: 100%; overflow-x: scroll;">
              <div style="position: relative;">

                <table class="table table-striped table-hover table-responsive" style="border-collapse: collapse; border-spacing: 10px; font-size:  12px;" id="dedupe_customer_spouse_table">
                    <thead>
                      <tr class="filters">
                        <th onclick="sortTable(0)"><input type="text" class="form-control" style="font-size:  10px;" disabled>APP ID</th>
                        <th onclick="sortTable(1)"><input type="text" class="form-control" style="font-size:  10px;" disabled>ID NO</th>
                        <th onclick="sortTable(2)"><input type="text" class="form-control" style="font-size:  10px;" disabled>ADDRESS TYPE</th>
                        <th onclick="sortTable(3)"><input type="text" class="form-control" style="font-size:  10px;" disabled>PHONE 1</th>
                        <th onclick="sortTable(4)"><input type="text" class="form-control" style="font-size:  10px;" disabled>MOBILE</th>
                        <th onclick="sortTable(5)"><input type="text" class="form-control" style="font-size:  10px;" disabled>ADDRESS 1</th>
                        <th onclick="sortTable(6)"><input type="text" class="form-control" style="font-size:  10px;" disabled>DPD</th>
                        <th onclick="sortTable(7)"><input type="text" class="form-control" style="font-size:  10px;" disabled>STATUS</th>
                      </tr>
                    </thead>


                    <tbody id = "dedupe_mobi_result_4_cux">

                    <!-- phần thể hiện chức năng kiểm tra trùng lắp số điện thoại của KH -->
                    {% include "en/checklist/module1_gui_dedupemobi_cux_mobi.html" %}


                    </tbody>


                </table> 
              </div>
            </div>


          </div>

        </div>

      </div>






      <div class="row">

        <div class="col-xs-12 col-sm-12">
        
          <div class="card filterable">

            <div class="panel-heading">
                <h3 class="panel-title">As References</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter" id="mydedupedc"></span> Filter</button>
                </div>
            </div>

            <div style="display: inline-block; height: 40%; width: 100%; overflow-x: scroll;">
              <div style="position: relative;">

                <table class="table table-striped table-hover table-responsive" style="border-collapse: collapse; border-spacing: 10px; font-size:  12px;" id="dedupe_customer_spouse_table">
                    <thead>
                      <tr class="filters">
                        <th onclick="sortTable(0)"><input type="text" class="form-control" style="font-size:  10px;" disabled>APP ID</th>
                        <th onclick="sortTable(1)"><input type="text" class="form-control" style="font-size:  10px;" disabled>ID NO</th>
                        <th onclick="sortTable(2)"><input type="text" class="form-control" style="font-size:  10px;" disabled>REF NAME</th>
                        <th onclick="sortTable(3)"><input type="text" class="form-control" style="font-size:  10px;" disabled>REF REL</th>
                        <th onclick="sortTable(4)"><input type="text" class="form-control" style="font-size:  10px;" disabled>PHONE1</th>
                        <th onclick="sortTable(5)"><input type="text" class="form-control" style="font-size:  10px;" disabled>PHONE2</th>
                        <th onclick="sortTable(6)"><input type="text" class="form-control" style="font-size:  10px;" disabled>STDISD</th>
                        <th onclick="sortTable(7)"><input type="text" class="form-control" style="font-size:  10px;" disabled>DPD</th>
                        <th onclick="sortTable(8)"><input type="text" class="form-control" style="font-size:  10px;" disabled>STATUS</th>
                      </tr>
                    </thead>


                    <tbody id = "dedupe_mobi_result_4_ref">

                      <!-- phần thể hiện chức năng kiểm tra trùng lắp số điện thoại của REF -->
                      {% include "en/checklist/module1_gui_dedupemobi_ref_mobi.html" %}

                    </tbody>
                </table> 
              </div>
            </div>


          </div>

        </div>


      </div>

  </div>




  <div class="tab-pane fade" id="phv_tab_item_checklist" name= "phv_tab_item_checklist" role="tabpane3" aria-labelledby="phv_tab_item_checklist">


    <!-- phần thể hiện check list của phv -->

    <div class="row equal">



      <div  class="col-8" >

      {% include "en/checklist/module1_gui_phvcl.html" %}

      </div>




      <div class="col-4" style="min-height: 2000px;">

        <ul class="nav nav-tabs" id="phvclTab" role="tablist">

          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#phvcl_mobi_note" role="tab" aria-controls="home" aria-expanded="true">UW</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#col_mobi_note" role="tab" aria-controls="profile">Collection</a>
          </li>

        </ul>




        <div class="tab-content" id="myTabContent">

          <!-- thẻ chứa ghi chú của UW cho từng số điện thoại -->
          <div class="tab-pane fade show active" id="phvcl_mobi_note" role="tabpanel" aria-labelledby="phvcl_mobi_note-tab">

            {% include "en/checklist/module1_gui_phvcl_mobi_comment.html" %}

          </div>






          <!-- thẻ chứa ghi chú của collection cho từng số điện thoại -->
          <div class="tab-pane fade" id="col_mobi_note" role="tabpanel" aria-labelledby="col_mobi_note-tab">
            


          </div>

        </div>




      </div>




    </div>



  </div>






  <div class="tab-pane fade" id="und_tab_item_checklist" role="tabpane2" aria-labelledby="und_tab_item_checklist">


    <!-- phần thể hiện kết quả kiểm tra -->
    {% include "en/checklist/module2_gui_undcl.html" %}


  </div>






</div>



{% endblock %}
























{% block javascript_for_textfield %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRhkL1qJ_LoAawHjoJyNbBCpBIO2NDRjo&libraries=places&callback=initAutocomplete"
         async defer>
           
</script>



<script type="text/javascript">
//script sử dụng cho việc ẩn các nội dung trong tab chuyển qua trạng thái inactive

$("#check_dedupe_id_4_cux_sp_tab").on("click", function () {
    console.log("[INFO] Showing Dedupe Tab");
    $("#check_dedupe_id_4_cux_sp").show();
    $("#und_tab_item_checklist").hide();
    $("#check_dedupe_mobile_4_cux_ref").hide();
    $("#phv_tab_item_checklist").hide();
    $("#datacheck_tab_item_checklist").hide();
    if ($(".navbar-toggler").is(":visible")) {
        console.log("[INFO] Closing navbar toggler");
        $(".navbar-toggler").trigger("click");
    }
});



$("#datacheck_tab_item_checklist_tab").on("click", function () {
    console.log("[INFO] Showing DC CL");
    $("#check_dedupe_id_4_cux_sp").hide();
    $("#datacheck_tab_item_checklist").show();
    $("#check_dedupe_mobile_4_cux_ref").hide();
    $("#phv_tab_item_checklist").hide();
    $("#und_tab_item_checklist").hide();
    if ($(".navbar-toggler").is(":visible")) {
        console.log("[INFO] Closing navbar toggler");
        $(".navbar-toggler").trigger("click");
    }
});  



$("#check_dedupe_mobile_4_cux_ref_tab").on("click", function () {
    console.log("[INFO] Showing Dedupe Tab");
    $("#check_dedupe_id_4_cux_sp").hide();
    $("#datacheck_tab_item_checklist").hide();
    $("#check_dedupe_mobile_4_cux_ref").show();
    $("#phv_tab_item_checklist").hide();
    $("#und_tab_item_checklist").hide();
    if ($(".navbar-toggler").is(":visible")) {
        console.log("[INFO] Closing navbar toggler");
        $(".navbar-toggler").trigger("click");
    }
});



$("#phv_tab_item_checklist_tab").on("click", function () {
    console.log("[INFO] Showing DC PHV");
    $("#check_dedupe_id_4_cux_sp").hide();
    $("#datacheck_tab_item_checklist").hide();
    $("#check_dedupe_mobile_4_cux_ref").hide();
    $("#phv_tab_item_checklist").show();
    $("#und_tab_item_checklist").hide();
    if ($(".navbar-toggler").is(":visible")) {
        console.log("[INFO] Closing navbar toggler");
        $(".navbar-toggler").trigger("click");
    }
});



$("#und_tab_item_checklist_tab").on("click", function () {
    console.log("[INFO] Showing DC UND");
    $("#check_dedupe_id_4_cux_sp").hide();
    $("#datacheck_tab_item_checklist").hide();
    $("#check_dedupe_mobile_4_cux_ref").hide();
    $("#phv_tab_item_checklist").hide();
    $("#und_tab_item_checklist").show();
    if ($(".navbar-toggler").is(":visible")) {
        console.log("[INFO] Closing navbar toggler");
        $(".navbar-toggler").trigger("click");
    }
});



</script>






<script type="text/javascript">
  

//function để search với nguyên thông tin khách hàng không điều chình bất kỳ thông tin nào của KH

(function($) {
  $('#button_get_app_info').on('click', function(event) {

    event.preventDefault();

    var customer_name = $('#convert_name_2_percent').val();
    var customer_dob = $('#convert_dob_2_percent').val();
    var customer_id = $('#search_customer_national_id').val();


    var loading = '<img width="60" height="40" alt="loading" src = "https://loading.io/spinners/equalizer/lg.equalizer-bars-loader.gif" />';



    $.ajax({
      type: 'get',
      url:  {% url 'search_customer_information_with_full_information_id_dob_name_on_und_checklist' %},
      data: {
        'customer_name': customer_name,
        'customer_dob': customer_dob,
        'customer_id': customer_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },

      beforeSend: function () {
            $('#button_get_app_info').html(loading);
            $('#button_get_app_info').prop('disabled', true);
        },

      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#main-results-search').html(data.posts_html);

            $('#button_get_app_info').html('Cux Search');
            $('#button_get_app_info').prop('disabled', false);

            console.log('It works!');
        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));





//function để UW xóa số search như home directory
(function($) {
  $('#button_get_info_dc_style').on('click', function(event) {

    event.preventDefault();

    var customer_name = $('#convert_name_2_percent').val();
    var customer_dob = $('#convert_dob_2_percent').val();
    var customer_id = $('#search_customer_national_id').val();



    $.ajax({
      type: 'get',
      url:  {% url 'search_customer_information_with_home_directory_style_on_und_checklist' %},
      data: {
        'customer_name': customer_name,
        'customer_dob': customer_dob,
        'customer_id': customer_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },
      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#main-results-search').html(data.posts_html);

            console.log('It works!');
        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));









//thực hiện xóa số và search với phần còn lại của CMND
$(document).on('keyup','#search_customer_national_id',function( e ) {  


    event.preventDefault();

    var customer_name = $('#convert_name_2_percent').val();
    var customer_dob = $('#convert_dob_2_percent').val();
    var customer_id = $('#search_customer_national_id').val();


    $.ajax({
      type: 'get',
      url:  {% url 'search_customer_information_with_home_directory_style_on_und_checklist' %},
      data: {
        'customer_name': customer_name,
        'customer_dob': customer_dob,
        'customer_id': customer_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },
      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#main-results-search').html(data.posts_html);

            console.log('It works!');
        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });




//thực hiện search spouse id free style
(function($) {
  $('#button_get_spouse_info').on('click', function(event) {

    event.preventDefault();

    var spouse_name = $('#convert_spouse_name_2_percent').val();
    var spouse_id = $('#convert_spouse_id_2_percent').val();

    var loading = '<img width="60" height="40" alt="loading" src = "https://loading.io/spinners/equalizer/lg.equalizer-bars-loader.gif" />';




    $.ajax({
      type: 'get',
      url:  {% url 'search_customer_spouse_information_with_free_style_on_und_checklist' %},
      data: {
        'spouse_name': spouse_name,
        'spouse_id': spouse_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },

      beforeSend: function () {
            $('#button_get_spouse_info').html(loading);
            $('#button_get_spouse_info').prop('disabled', true);
        },

      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#main-results-search').html(data.posts_html);

            $('#button_get_spouse_info').html('Spouse Search');
            $('#button_get_spouse_info').prop('disabled', false);

            console.log('It works!');
        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));



</script>








<script type="text/javascript">


function remove_note_on_und_check_list() {

    $('input[name="id_card_result"]').prop('checked', false);
    $('input[name="family_book_result"]').prop('checked', false);
    $('input[name="resident_proof_result"]').prop('checked', false);
    $('input[name="work_proof_result"]').prop('checked', false);
    $('input[name="income_proof_result"]').prop('checked', false);
    $('input[name="current_address_result"]').prop('checked', false);
    $('input[name="current_job_result"]').prop('checked', false);
    $('input[name="current_debt_result"]').prop('checked', false);
    $('input[name="payment_ability_result"]').prop('checked', false);
    $('input[name="uw_und_last_status"]').prop('checked', false);



    $('#id_card_comment').val('');
    $('#family_book_comment').val('');
    $('#resident_proof_comment').val('');
    $('#work_proof_comment').val('');
    $('#income_proof_comment').val('');
    $('#current_address_comment').val('');
    $('#current_job_comment').val('');
    $('#current_debt_comment').val('');
    $('#payment_ability_comment').val('');
    $('#other_evaluation_comment').val('');
    $('#approve_loan_amount_comment').val('');
    $('#final_tennor_comment').val('');
    $('#reason_decrease_loan_amount_comment').val('');
    $('#und_note_last_status').val('');



    $('#und_cl_home_type').val('...');



    $("#sumit_all_und_result").prop('disabled', false);

}


(function($) {
  $('#clear_all_und_choose').on('click', function(event) {


  remove_note_on_und_check_list()

  });
}(jQuery));




//google map function
function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 8,
          mapTypeId: 'roadmap'
        });


        google.maps.event.addListenerOnce(map, 'idle', function() {
            google.maps.event.trigger(map, 'resize');
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }
  






</script>













<script type="text/javascript">



(function($) {
  $('#sumit_all_und_result').on('click', function(event) {

    event.preventDefault();

    //lấy app id
    var app_id_c_raw = $('#datacheck_tab_item_checklist_tab').text().replace(/DC CL - /g, '');
    var app_id_c_1 = app_id_c_raw.replace(/^\s*\n/gm, '');
    var app_id_c = app_id_c_1.trim(app_id_c_1);


    //lấy kết quả check của ID card
    var doc_type_label = $('#doc_type_id_card');
    var id_card_doc_type = doc_type_label.attr('paper_type');


    var id_card_selectedVal = "";
    var selected = $("input[type='radio'][name='id_card_result']:checked");
    if (selected.length > 0) {
        id_card_selectedVal = selected.val();
    }

    var id_card_comment = $('#id_card_comment').val();




    //lấy kết quả check FB
    var doc_type_label = $('#doc_type_family_book');
    var family_book_doc_type = doc_type_label.attr('paper_type');


    var family_book_selectedVal = "";
    var selected = $("input[type='radio'][name='family_book_result']:checked");
    if (selected.length > 0) {
        family_book_selectedVal = selected.val();
    }

    var family_book_comment = $('#family_book_comment').val();



    //lấy kết quả check cư trú
    var doc_type_label = $('#doc_type_resident_proof');
    var resident_proof_doc_type = doc_type_label.attr('paper_type');


    var resident_proof_selectedVal = "";
    var selected = $("input[type='radio'][name='resident_proof_result']:checked");
    if (selected.length > 0) {
        resident_proof_selectedVal = selected.val();
    }


    var resident_proof_comment = $('#resident_proof_comment').val();





    //lấy kết quả check chứng minh công việc
    var doc_type_label = $('#doc_type_work_proof');
    var work_proof_doc_type = doc_type_label.attr('paper_type');


    var work_proof_selectedVal = "";
    var selected = $("input[type='radio'][name='work_proof_result']:checked");
    if (selected.length > 0) {
        work_proof_selectedVal = selected.val();
    }


    var work_proof_comment = $('#work_proof_comment').val();




    //lấy kết quả chứng minh thu nhập

    var doc_type_label = $('#doc_type_income_proof');
    var income_proof_doc_type = doc_type_label.attr('paper_type');


    var income_proof_selectedVal = "";
    var selected = $("input[type='radio'][name='income_proof_result']:checked");
    if (selected.length > 0) {
        income_proof_selectedVal = selected.val();
    }


    var income_proof_comment = $('#income_proof_comment').val();




    //lấy kết quả chứng minh nơi ở hiện tại

    var doc_type_label = $('#doc_type_current_address');
    var current_address_doc_type = doc_type_label.attr('paper_type');


    var current_address_selectedVal = "";
    var selected = $("input[type='radio'][name='current_address_result']:checked");
    if (selected.length > 0) {
        current_address_selectedVal = selected.val();
    }

    var current_address_paper_type = $('#und_cl_home_type').find(":selected").text();

    console.log(current_address_paper_type);

    var current_address_comment = $('#current_address_comment').val();




    //lấy kết quả chứng minh công việc hiện tại

    var doc_type_label = $('#doc_type_current_job');
    var current_job_doc_type = doc_type_label.attr('paper_type');


    var current_job_selectedVal = "";
    var selected = $("input[type='radio'][name='current_job_result']:checked");
    if (selected.length > 0) {
        current_job_selectedVal = selected.val();
    }


    var current_job_comment = $('#current_job_comment').val();




    //lấy kết quả nợ hiện tại
    var doc_type_label = $('#doc_type_current_debt');
    var current_debt_doc_type = doc_type_label.attr('paper_type');


    var current_debt_selectedVal = "";
    var selected = $("input[type='radio'][name='current_debt_result']:checked");
    if (selected.length > 0) {
        current_debt_selectedVal = selected.val();
    }


    var current_debt_comment = $('#current_debt_comment').val();




    //lấy kết quả của việc chi trả
    var doc_type_label = $('#doc_type_payment_ability');
    var current_payment_doc_type = doc_type_label.attr('paper_type');


    var current_payment_selectedVal = "";
    var selected = $("input[type='radio'][name='payment_ability_result']:checked");
    if (selected.length > 0) {
        current_payment_selectedVal = selected.val();
    }


    var current_payment_comment = $('#payment_ability_comment').val();




    //lấy kết quả của mục other
    var doc_type_label = $('#doc_type_other_evaluation');
    var other_evaluation_doc_type = doc_type_label.attr('paper_type');

    var other_evaluation_comment = $('#other_evaluation_comment').val();



    //lấy kết quả của mục approve la
    var doc_type_label = $('#doc_type_approve_loan_amount');
    var approve_la_doc_type = doc_type_label.attr('paper_type');

    var approve_la_comment = $('#approve_loan_amount_comment').val();



    //lấy kết quả của mục tennor
    var doc_type_label = $('#doc_type_final_tennor');
    var approve_tennor_doc_type = doc_type_label.attr('paper_type');

    var approve_tennor_comment = $('#final_tennor_comment').val();



    //lấy kết quả của mục reason
    var doc_type_label = $('#doc_type_reason_decrease_loan_amount');
    var approve_reason_doc_type = doc_type_label.attr('paper_type');

    var approve_reason_comment = $('#reason_decrease_loan_amount_comment').val();



    //lấy kết quả status của und
    var doc_type_label = $('#und_las_status');
    var und_las_status_doc_type = doc_type_label.attr('paper_type');

    var und_final_decision_selectedVal = "";
    var selected = $("input[type='radio'][name='uw_und_last_status']:checked");
    if (selected.length > 0) {
        und_final_decision_selectedVal = selected.val();
    }

    var und_note_last_status = $('#und_note_last_status').val();




    $.ajax({
      type: 'POST',
      url:  {% url 'und_cl_super_total_comment' %},
      data: {
        'app_id_c' : app_id_c,


        'und_las_status_doc_type': und_las_status_doc_type,
        'und_final_decision_selectedVal' : und_final_decision_selectedVal,
        'und_note_last_status' : und_note_last_status,

        'id_card_doc_type' : id_card_doc_type,
        'id_card_selectedVal' : id_card_selectedVal,
        'id_card_comment' : id_card_comment,

        'family_book_doc_type' : family_book_doc_type,
        'family_book_selectedVal' : family_book_selectedVal,
        'family_book_comment' : family_book_comment,

        'resident_proof_doc_type' : resident_proof_doc_type,
        'resident_proof_selectedVal' : resident_proof_selectedVal,
        'resident_proof_comment' : resident_proof_comment,

        'work_proof_doc_type' : work_proof_doc_type,
        'work_proof_selectedVal' : work_proof_selectedVal,
        'work_proof_comment' : work_proof_comment,

        'income_proof_doc_type' : income_proof_doc_type,
        'income_proof_selectedVal' : income_proof_selectedVal,
        'income_proof_comment' : income_proof_comment,

        'current_address_doc_type' : current_address_doc_type,
        'current_address_selectedVal' : current_address_selectedVal,
        'current_address_paper_type' : current_address_paper_type,
        'current_address_comment' : current_address_comment,

        'current_job_doc_type' : current_job_doc_type,
        'current_job_selectedVal' : current_job_selectedVal,
        'current_job_comment' : current_job_comment,

        'current_debt_doc_type' : current_debt_doc_type,
        'current_debt_selectedVal' : current_debt_selectedVal,
        'current_debt_comment' : current_debt_comment,

        'current_payment_doc_type' : current_payment_doc_type,
        'current_payment_selectedVal' : current_payment_selectedVal,
        'current_payment_comment' : current_payment_comment,

        'other_evaluation_doc_type' : other_evaluation_doc_type,
        'other_evaluation_comment' : other_evaluation_comment,

        'approve_la_doc_type' : approve_la_doc_type,
        'approve_la_comment' : approve_la_comment,

        'approve_tennor_doc_type' : approve_tennor_doc_type,
        'approve_tennor_comment' : approve_tennor_comment,

        'approve_reason_doc_type' : approve_reason_doc_type,
        'approve_reason_comment' : approve_reason_comment,

        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },

      beforeSend: function () {

            $("#sumit_all_und_result").prop('disabled', true);

        },

      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#und_check_list_checked_posts').html(data.checklist_result_html);
            //$('#uw_dc_pending_cases').html(data.dc_pending_case_html);

            console.log('It works!');

        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }

    });

  });

}(jQuery));





//$("button").click(function() {
//    var id_of_clicked_button = this.id;
//    console.log(id_of_clicked_button); // or alert($(this).attr('id'));
//});

  
//function lấy thông tin app trên finnone và đổ data vào các items cần chp check list của und

(function($) {
  $('#button_get_app_for_checklist_und').on('click', function(event) {

    google.maps.event.trigger(map, 'resize');

    var app_id_c = $('#search_app_id_for_checklist_und').val();

    var loading = '<img width="60" height="60" alt="loading" src = "http://www.clipartbest.com/cliparts/RiG/Bpq/RiGBpqy6T.gif" />';

    var button_get_app = $('#button_get_app_for_checklist_und');
    
    $.ajax({
      type: 'get',
      url:  {% url 'get_app_data_from_finnone_before_using_funtion_of_checklist_und' %},
      data: {
        'app_id_c': app_id_c,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },

      beforeSend: function () {
            $('#button_get_app_for_checklist_und').html(loading);
            $("#button_get_app_for_checklist_und").prop('disabled', true);
        },

      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link

        //remove_note_on_und_check_list()
        
        if (data.save_complete) {

            //$('#posts').append(data.posts_html);
            //$('#main_searched_mobile_phone_number').html(data.posts_html00);
            $('#phvcl_mobi_note').html(data.posts_html01);
            $('#main_searched_mobile_phone_number').html(data.posts_html00);


            //cụm của dedupe id--------------------------------------------
            $('#main-items-search_cux').html(data.posts_html1);
            $('#main-items-search_spouse').html(data.posts_html2);
            $('#main-results-search').html(data.posts_html3);
            $('#check_list_checked_posts').html(data.checklist_result_html);
            //-------------------------------------------------------------



            //cụm của phv checklist----------------------------------------
            $('#dc_note_fianal_status').html(data.dc_final_note_status_html);
            $('#phv_check_list_checked_posts').html(data.phv_checklist_result_html);
            $('#get_phv_note_4_status').html(data.phv_final_note_status_html);
            $('#phv_calculate_dti').html(data.posts_html5);
            $('#phv_calculate_dti_result').html(data.posts_html7);
            $('#phvcl_show_f1_loan_information').html(data.posts_html6);
            //$('#phv_comment_history_4_all_mobi').html(data.phv_note_list_html);
            //-------------------------------------------------------------


            //cụm của und checklist----------------------------------------
            $('#undcl_show_f1_loan_information').html(data.posts_html6);
            $('#phv_cl_view_phv_dti_calculation').html(data.posts_html7);
            $('#undcl_company_detail_note').html(data.posts_html8);
            $('#get_und_note_4_status').html(data.und_final_note_status_html);
            $('#und_check_list_checked_posts').html(data.und_checklist_result_html);
            $('#basic_app_data_on_fiv_form').html(data.posts_html9);
            
            //--------------------------------------------------------------

            $('#und-list-items-v-pills-tab').html(data.posts_html4);

            $('#button_get_app_for_checklist_und').html('Get App');




            $('#und_create_update_company_infor').on('click', function(event) {

              window.clicked_button = 'und_create_update_company_infor';

              create_update_company_data();

            });




            $('#uw_suptl_confirm_company_infor').on('click', function(event) {

              window.clicked_button = 'uw_suptl_confirm_company_infor';

              create_update_company_data();

            });



            function create_update_company_data(){

              event.preventDefault();


              var f1_company_tax_code = $('#f1_company_tax_code_on_undcl').val();
              var f1_company_name = $('#f1_company_name_on_undcl').val();
              var riskbox_company_tax_code = $('#riskbox_company_tax_code_on_undcl').val();
              var und_company_name = $('#und_company_name_on_undcl').val();
              var und_company_note = $('#und_company_note_on_undcl').val();
              var suptl_company_note_on_undcl = $('#suptl_company_note_on_undcl').val();

              var get_clicked_button = window.clicked_button;

              console.log(get_clicked_button);

              $.ajax({
                type: 'POST',
                url:  {% url 'und_create_update_company_information' %},
                data: {

                  'app_id_c' : app_id_c,

                  'f1_company_tax_code' : f1_company_tax_code,
                  'f1_company_name': f1_company_name,
                  'riskbox_company_tax_code' : riskbox_company_tax_code,
                  'und_company_name' : und_company_name,
                  'und_company_note' : und_company_note,
                  'suptl_company_note_on_undcl' : suptl_company_note_on_undcl,
                  'get_clicked_button' : get_clicked_button,

                  'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
                },

                beforeSend: function () {

                      if (get_clicked_button == 'und_create_update_company_infor'){

                          $("#und_create_update_company_infor").prop('disabled', true);  

                      } else if (get_clicked_button == 'uw_suptl_confirm_company_infor'){

                          $("#uw_suptl_confirm_company_infor").prop('disabled', true);

                      }

                  },

                success: function(data) {
                  // if there are still more pages to load,
                  // add 1 to the "Load More Posts" link's page data attribute
                  // else hide the link
                  if (data.save_complete) {


                      if (get_clicked_button == 'und_create_update_company_infor'){

                          $("#und_create_update_company_infor").prop('disabled', false);
                          $('#und_create_update_company_infor').html('Done');

                      } else if (get_clicked_button == 'uw_suptl_confirm_company_infor'){

                          $("#uw_suptl_confirm_company_infor").prop('disabled', false);
                          $('#uw_suptl_confirm_company_infor').html('Done');

                      }
                      
                      //$('#undcl_company_detail_note').html(data.);
                      
                      console.log('It works!');

                  } else {
                    //link.hide();
                  }
                  
                },
                error: function(xhr, status, error) {
                  // shit happens friends!
                }

              });


            };







            $(function () {
                $('.btn-info').on('click', function (e) {
                    //e.preventDefault();
                    var id = $(this).attr('id');
                    var process_type_button = id.substring(0, 23);
                    var searched_mobile = id.replace('button_get_dedupe_mobi_','');

                    var free_style_phone = $('#text_field_4_dedupe_mobile_phone_free_style').val()


                    var loading = '<img width="60" height="40" alt="loading" src = "https://loading.io/spinners/equalizer/lg.equalizer-bars-loader.gif" />';

                    if( process_type_button == 'button_get_dedupe_mobi_' ){


                          $.ajax({
                            type: 'get',
                            url:  {% url 'search_mobile_dedupe_mobile_phone_cux_and_ref_on_und_checklist' %},
                            data: {
                              'searched_mobile': searched_mobile,
                              'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
                            },

                            beforeSend: function () {
                                  $('#' + id).html(loading);
                                  $('#' + id).prop('disabled', true);
                              },

                            success: function(data) {
                              // if there are still more pages to load,
                              // add 1 to the "Load More Posts" link's page data attribute
                              // else hide the link
                              if (data.save_complete) {
                                  //$('#posts').append(data.posts_html);
                                  $('#dedupe_mobi_result_4_cux').html(data.posts_html01);
                                  $('#dedupe_mobi_result_4_ref').html(data.posts_html02);
                                  $('#show_arlet_4_searching_dedupe_mobi').html(data.posts_html03)


                                  $('#' + id).html('Search');
                                  $('#' + id).prop('disabled', false);

                                  //console.log('It works!');


                              } else {
                                //link.hide();
                              }
                              
                            },
                            error: function(xhr, status, error) {
                              // shit happens friends!
                            }

                          });
                      


                    }


                    else if (id == 'button_get_dedupe_mobile_phone_free_style'){


                          $.ajax({
                            type: 'get',
                            url:  {% url 'search_mobile_dedupe_mobile_phone_cux_and_ref_on_und_checklist' %},
                            data: {
                              'searched_mobile': free_style_phone,
                              'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
                            },

                            beforeSend: function () {
                                  //$('#' + id).html(loading);
                                  $('#' + id).prop('disabled', true);
                              },

                            success: function(data) {
                              // if there are still more pages to load,
                              // add 1 to the "Load More Posts" link's page data attribute
                              // else hide the link
                              if (data.save_complete) {
                                  //$('#posts').append(data.posts_html);
                                  $('#dedupe_mobi_result_4_cux').html(data.posts_html01);
                                  $('#dedupe_mobi_result_4_ref').html(data.posts_html02);
                                  $('#show_arlet_4_searching_dedupe_mobi').html(data.posts_html03)


                                  $('#' + id).html('Search');
                                  $('#' + id).prop('disabled', false);

                                  console.log('It works!');

                              } else {
                                //link.hide();
                              }
                              
                            },
                            error: function(xhr, status, error) {
                              // shit happens friends!
                            }

                          });



                    };


                });
            

            });



            $("#doc_type_work").removeAttr("href");
            


            $( "#phvcl_dti_cal_la" ).keyup(function() {

              calculate_dti();

            });

            $( "#phvcl_dti_cal_tenure" ).keyup(function() {

              calculate_dti();

            });

            $( "#phvcl_dti_cal_income" ).keyup(function() {

              calculate_dti();

            });




            function calculate_dti(){

              var loan_la = $('#phvcl_dti_cal_la').val();

              var loan_la = loan_la.replace(/,/g,'');

              var loan_la_2_num = parseInt(loan_la);

              console.log(loan_la_2_num);


              var loan_tennor = $('#phvcl_dti_cal_tenure').val();

              var loan_tennor_2_num = parseInt(loan_tennor);

              console.log(loan_tennor_2_num);


              var loan_ir = $('#phvcl_dti_cal_ir').val();

              var loan_ir_2_num = parseInt(loan_ir);

              console.log(loan_ir_2_num);


              var loan_total_emi = $('#phvcl_dti_cal_total_emi').val();

              var loan_total_emi = loan_total_emi.replace(/,/g,'');

              var loan_total_emi_2_num = parseInt(loan_total_emi); 

              console.log(loan_total_emi_2_num);



              var loan_income = $('#phvcl_dti_cal_income').val();
              var loan_income = loan_income.replace(/,/g,'');
              var loan_income_2_num = parseInt(loan_income); 

              console.log(loan_income);

              var a = Math.pow(1+loan_ir_2_num/12/100, (-loan_tennor_2_num));

              var loan_new_emi = (loan_la_2_num * (loan_ir_2_num/12/100)) / (1-a)

              var final_loan_new_emi = Math.ceil(loan_new_emi);

              console.log(final_loan_new_emi);


              var loan_new_dti = parseInt(final_loan_new_emi) / (parseInt (loan_income_2_num) - parseInt(loan_total_emi_2_num));

 
              if (loan_la_2_num <= 20000000 && loan_tennor_2_num > 24) {
                  
                  $("#button_phvcl_dti_tenure").removeClass().addClass("btn btn-danger btn-sm");
                  $("#phvcl_dti_cal_tenure").removeClass().addClass("form-control is-invalid");
              }
              
              else{

                  $("#button_phvcl_dti_tenure").removeClass().addClass("btn btn-secondary btn-sm");
                  $("#phvcl_dti_cal_tenure").removeClass().addClass("form-control");
              }


              //var loan_la = loan_la_2_num.toLocaleString();
              var loan_la = loan_la_2_num.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
              $('#phvcl_dti_cal_la').val(loan_la);

              //var final_loan_new_emi = final_loan_new_emi.toLocaleString();
              var final_loan_new_emi = final_loan_new_emi.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
              $('#phvcl_dti_cal_emi').val(final_loan_new_emi);

              //var loan_income = loan_income_2_num.toLocaleString();
              var loan_income = loan_income_2_num.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
              $('#phvcl_dti_cal_income').val(loan_income);


              $('#phvcl_dti_cal_dti').val(loan_new_dti);


            };









            $(document).ready(function(){
                $('[data-toggle="popover"]').popover({
                    placement : 'right',
                    trigger : 'hover'
                });
            }); 


            $(document).ready(function(){
                $('[data-toggle="popover1"]').popover({
                    placement : 'left',
                    trigger : 'hover'
                });
            });            




            $("#check_dedupe_id_4_cux_sp_tab").on("click", function () {
                console.log("[INFO] Showing Dedupe Tab");
                $("#check_dedupe_id_4_cux_sp").show();
                $("#und_tab_item_checklist").hide();
                $("#check_dedupe_mobile_4_cux_ref").hide();
                $("#phv_tab_item_checklist").hide();
                $("#datacheck_tab_item_checklist").hide();
                if ($(".navbar-toggler").is(":visible")) {
                    console.log("[INFO] Closing navbar toggler");
                    $(".navbar-toggler").trigger("click");
                }
            });



            $("#datacheck_tab_item_checklist_tab").on("click", function () {
                console.log("[INFO] Showing DC CL");
                $("#check_dedupe_id_4_cux_sp").hide();
                $("#datacheck_tab_item_checklist").show();
                $("#check_dedupe_mobile_4_cux_ref").hide();
                $("#phv_tab_item_checklist").hide();
                $("#und_tab_item_checklist").hide();
                if ($(".navbar-toggler").is(":visible")) {
                    console.log("[INFO] Closing navbar toggler");
                    $(".navbar-toggler").trigger("click");
                }
            });  



            $("#check_dedupe_mobile_4_cux_ref_tab").on("click", function () {
                console.log("[INFO] Showing Dedupe Tab");
                $("#check_dedupe_id_4_cux_sp").hide();
                $("#datacheck_tab_item_checklist").hide();
                $("#check_dedupe_mobile_4_cux_ref").show();
                $("#phv_tab_item_checklist").hide();
                $("#und_tab_item_checklist").hide();
                if ($(".navbar-toggler").is(":visible")) {
                    console.log("[INFO] Closing navbar toggler");
                    $(".navbar-toggler").trigger("click");
                }
            });



            $("#phv_tab_item_checklist_tab").on("click", function () {
                console.log("[INFO] Showing DC PHV");
                $("#check_dedupe_id_4_cux_sp").hide();
                $("#datacheck_tab_item_checklist").hide();
                $("#check_dedupe_mobile_4_cux_ref").hide();
                $("#phv_tab_item_checklist").show();
                $("#und_tab_item_checklist").hide();
                if ($(".navbar-toggler").is(":visible")) {
                    console.log("[INFO] Closing navbar toggler");
                    $(".navbar-toggler").trigger("click");
                }
            });



            $("#und_tab_item_checklist_tab").on("click", function () {
                console.log("[INFO] Showing DC UND");
                $("#check_dedupe_id_4_cux_sp").hide();
                $("#datacheck_tab_item_checklist").hide();
                $("#check_dedupe_mobile_4_cux_ref").hide();
                $("#phv_tab_item_checklist").hide();
                $("#und_tab_item_checklist").show();
                if ($(".navbar-toggler").is(":visible")) {
                    console.log("[INFO] Closing navbar toggler");
                    $(".navbar-toggler").trigger("click");
                }
            });


            $(".collapse").collapse({toggle: false});

            $("#button_get_app_for_checklist_und").prop('disabled', false);

            console.log('It works!');

        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));






</script>






<script type="text/javascript">

$(document).ready(function(){

  $("#doc_type_work").removeAttr("href");

});

  
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        placement : 'right',
        trigger : 'hover'
    });
});



$(document).ready(function(){
    $('[data-toggle="popover1"]').popover({
        placement : 'left',
        trigger : 'hover'
    });
});


</script>




{% endblock %}

