{% extends "en/stage_dc/base_dc.html" %}

{% load staticfiles %}




{% block request_app_id %}

<form method="get" id="formtakeinformationfromapp">
    {% csrf_token %}
    <div class="form-group" >
        <div class="input-group" >
            <input type="text" class="form-control" name="search_app_id" id ="search_app_id" value="{{ get_app_id }}" >
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" name = "button_get_app" id = "button_get_app" style = "width: 78px !important; height: 30px !important;"> 
                  Get App
                </button>
            </span>
        </div>
    </div>
</form>


{% endblock %}







{% block black_list_function %}

  <div id='ajax_black_list_module'>
  {% include "en/blacklist/module_blacklist.html" %}
  </div>

{% endblock %}







{% block policy_function %}


  {% include "en/policy_rules/module_policy_rules.html" %}
  
<hr>


{% endblock %}







{% block main_items_dc %}

<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" style="">
  <a class="nav-link active" id="check_dedupe_id_4_cux_sp_tab" data-toggle="pill" href="#check_dedupe_id_4_cux_sp" role="tab" aria-controls="check_dedupe_id_4_cux_sp" aria-expanded="true">
    
    <strong style="color: black;"> <i class="fa fa-list-ol"></i> Dedupe ID </strong>

  </a>

  <a class="nav-link" id="datacheck_tab_item_checklist_tab" data-toggle="pill" href="#datacheck_tab_item_checklist" role="tab" aria-controls="datacheck_tab_item_checklist" aria-expanded="true">
    
    <strong style="color: black;"> <i class="fa fa-list-ol"></i> DC CL - NOT YET</strong>
    <!--  chổ này có thể import template   module_tab_data_checker_cl.html nếu không ajax (DC CL - 12345)-->

  </a>


</div>



{% endblock %}








{% block dedupe_function %}



<div class="tab-content" id="v-pills-tabContent">

  <div class="tab-pane fade show active" id="check_dedupe_id_4_cux_sp" name= "check_dedupe_id_4_cux_sp" role="tabpanel" aria-labelledby="check_dedupe_id_4_cux_sp_tab">

  <!-- tab để kiểm tra dedupe id -->
  {% include "en/checklist/module_gui_dedupeid.html" %}
  
  </div>  


  <!-- tab để ghi lại kết quả kiểm tra giấy tờ -->
  <div class="tab-pane fade" id="datacheck_tab_item_checklist" role="tabpanel" aria-labelledby="datacheck_tab_item_checklist_tab" style="overflow: hidden;">


  <!-- phần thể hiện các tab trong dc check list như check list và app information-->
  {% include "en/checklist/module_gui_dccl_tab_item.html" %}


  <!-- phần thể hiện các items có trong các tab check list và app information ở trên -->
  {% include "en/checklist/module_gui_dccl_check_doc.html" %}


  <!-- phần thể hiện giao diện của check list là module_gui_dccl -->
  <!-- phần này không cần import vì sẽ được ajax lúc khởi tạo -->


  <!-- phần thể hiện chi tiết các mục cần lưu lại trong check list là module_add_data_checker_result -->
  <!-- phần này không cần import vì sẽ được ajax lúc khởi tạo -->



  <!-- phần thể hiện kết quả kiểm tra -->
  {% include "en/checklist/module_gui_dccl_checked_result.html" %}




  </div>


</div>



{% endblock %}











{% block javascript_for_textfield %}


<script type="text/javascript">
  
$(document).ready(function() {
  $('[data-toggle="toggle"]').change(function(){
    $(this).parents().next('.hide').toggle();
  });
});


</script>





<script type="text/javascript">



//function lấy thông tin app trên finnone và đổ data vào các items cần search dupe
//cũng như thực hiện việc check black list
(function($) {
  $('#button_get_app').on('click', function(event) {

    event.preventDefault();

    var app_id_c = $('#search_app_id').val();

    var loading = '<img width="60" height="60" alt="loading" src = "http://www.clipartbest.com/cliparts/RiG/Bpq/RiGBpqy6T.gif" />';

    var button_get_app = $('#button_get_app');
    
    $.ajax({
      type: 'get',
      url:  {% url 'get_app_data_from_finnone_for_dedupe_and_blacklist' %},
      data: {
        'app_id_c': app_id_c,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },

      beforeSend: function () {
            $('#button_get_app').html(loading);
            $("#button_get_app").prop('disabled', true);
        },

      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#ajax_black_list_module').html(data.posts_html);

            $('#main-items-search_cux').html(data.posts_html1);

            $('#main-items-search_spouse').html(data.posts_html2);

            $('#main-results-search').html(data.posts_html3);

            $('#datacheck_tab_item_checklist_tab').html(data.posts_html4);

            $('#check_list_checked_posts').html(data.checklist_result_html);

            $('#get_link_from_und_sale_directory').html(data.posts_html5);

            remove_note_on_dc_check_list();

            $('#get_dc_note_4_status').html(data.dc_final_note_status_html);

            $('#button_get_app').html('Get App');
            $("#button_get_app").prop('disabled', false);


            $('#dccl_company_detail_note').html(data.posts_html8);

            


            (function($) {
              $('#dc_create_update_company_infor').on('click', function(event) {

                event.preventDefault();


                var f1_company_tax_code = $('#f1_company_tax_code').val();
                var f1_company_name = $('#f1_company_name').val();
                var riskbox_company_tax_code = $('#riskbox_company_tax_code').val();
                var und_company_name = $('#und_company_name').val();
                var dc_company_note = $('#dc_company_note').val();




                $.ajax({
                  type: 'POST',
                  url:  {% url 'dc_create_update_company_information' %},
                  data: {
                    'app_id_c' : app_id_c,

                    'f1_company_tax_code' : f1_company_tax_code,
                    'f1_company_name': f1_company_name,
                    'riskbox_company_tax_code' : riskbox_company_tax_code,
                    'und_company_name' : und_company_name,
                    'dc_company_note' : dc_company_note,

                    'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
                  },

                  beforeSend: function () {

                        $("#dc_create_update_company_infor").prop('disabled', true);

                    },

                  success: function(data) {
                    // if there are still more pages to load,
                    // add 1 to the "Load More Posts" link's page data attribute
                    // else hide the link
                    if (data.save_complete) {
                        
                        //$('#undcl_company_detail_note').html(data.);
                        
                        $("#dc_create_update_company_infor").prop('disabled', false);
                        $('#dc_create_update_company_infor').html('Done');
                        console.log('It works!');

                    } else {
                      //link.hide();
                    }
                    
                  },
                  error: function(xhr, status, error) {
                    // shit happens friends!
                  }

                });

              });

            }(jQuery));





            console.log('It works!');
        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));




//function để search với nguyên thông tin khách hàng không điều chình bất kỳ thông tin nào của KH
(function($) {
  $('#button_get_app_info').on('click', function(event) {

    event.preventDefault();

    var customer_name = $('#convert_name_2_percent').val();
    var customer_dob = $('#convert_dob_2_percent').val();
    var customer_id = $('#search_customer_national_id').val();


    var loading = '<img width="60" height="40" alt="loading" src = "https://loading.io/spinners/equalizer/lg.equalizer-bars-loader.gif" />';



    $.ajax({
      type: 'get',
      url:  {% url 'search_customer_information_with_full_information_id_dob_name' %},
      data: {
        'customer_name': customer_name,
        'customer_dob': customer_dob,
        'customer_id': customer_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },

      beforeSend: function () {
            $('#button_get_app_info').html(loading);
            $('#button_get_app_info').prop('disabled', true);
        },

      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#main-results-search').html(data.posts_html);

            $('#button_get_app_info').html('Cux Search');
            $('#button_get_app_info').prop('disabled', false);

            console.log('It works!');
        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));




//function để UW xóa số search như home directory
(function($) {
  $('#button_get_info_dc_style').on('click', function(event) {

    event.preventDefault();

    var customer_name = $('#convert_name_2_percent').val();
    var customer_dob = $('#convert_dob_2_percent').val();
    var customer_id = $('#search_customer_national_id').val();



    $.ajax({
      type: 'get',
      url:  {% url 'search_customer_information_with_home_directory_style' %},
      data: {
        'customer_name': customer_name,
        'customer_dob': customer_dob,
        'customer_id': customer_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },
      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#main-results-search').html(data.posts_html);

            console.log('It works!');
        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));





//thực hiện xóa số và search với phần còn lại của CMND
$(document).on('keyup','#search_customer_national_id',function( e ) {  


    event.preventDefault();

    var customer_name = $('#convert_name_2_percent').val();
    var customer_dob = $('#convert_dob_2_percent').val();
    var customer_id = $('#search_customer_national_id').val();


    $.ajax({
      type: 'get',
      url:  {% url 'search_customer_information_with_home_directory_style' %},
      data: {
        'customer_name': customer_name,
        'customer_dob': customer_dob,
        'customer_id': customer_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },
      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#main-results-search').html(data.posts_html);

            console.log('It works!');
        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });





//thực hiện search spouse id free style
(function($) {
  $('#button_get_spouse_info').on('click', function(event) {

    event.preventDefault();

    var spouse_name = $('#convert_spouse_name_2_percent').val();
    var spouse_id = $('#convert_spouse_id_2_percent').val();

    var loading = '<img width="60" height="40" alt="loading" src = "https://loading.io/spinners/equalizer/lg.equalizer-bars-loader.gif" />';




    $.ajax({
      type: 'get',
      url:  {% url 'search_customer_spouse_information_with_free_style' %},
      data: {
        'spouse_name': spouse_name,
        'spouse_id': spouse_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },

      beforeSend: function () {
            $('#button_get_spouse_info').html(loading);
            $('#button_get_spouse_info').prop('disabled', true);
        },

      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#main-results-search').html(data.posts_html);

            $('#button_get_spouse_info').html('Spouse Search');
            $('#button_get_spouse_info').prop('disabled', false);

            console.log('It works!');
        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));









(function($) {
  $('#sumit_all_datachecker_result').on('click', function(event) {

    event.preventDefault();

    //lấy app id
    var app_id_c_raw = $('#datacheck_tab_item_checklist_tab').text().replace(/DC CL - /g, '');
    var app_id_c_1 = app_id_c_raw.replace(/^\s*\n/gm, '');
    var app_id_c = app_id_c_1.trim(app_id_c_1);



    //lấy kết quả check của ID card
    var doc_type_label = $('#doc_type_id_card');
    var id_card_doc_type = doc_type_label.attr('paper_type');


    var id_card_selectedVal = "";
    var selected = $("input[type='radio'][name='id_card_result']:checked");
    if (selected.length > 0) {
        id_card_selectedVal = selected.val();
    }



    var id_card_comment = $('#id_card_comment').val();




    //lấy kết quả check FB
    var doc_type_label = $('#doc_type_family_book');
    var family_book_doc_type = doc_type_label.attr('paper_type');


    var family_book_selectedVal = "";
    var selected = $("input[type='radio'][name='family_book_result']:checked");
    if (selected.length > 0) {
        family_book_selectedVal = selected.val();
    }



    var family_book_comment = $('#family_book_comment').val();




    //lấy kết quả check chứng minh công việc
    var doc_type_label = $('#doc_type_work_proof');
    var work_proof_doc_type = doc_type_label.attr('paper_type');


    var work_proof_selectedVal = "";
    var selected = $("input[type='radio'][name='work_proof_result']:checked");
    if (selected.length > 0) {
        work_proof_selectedVal = selected.val();
    }

    var work_proof_paper_type = $('#work_proof_paper_type').find(":selected").text();

    var work_proof_comment = $('#work_proof_comment').val();




    //lấy kết quả chứng minh thu nhập

    var doc_type_label = $('#doc_type_income_proof');
    var income_proof_doc_type = doc_type_label.attr('paper_type');


    var income_proof_selectedVal = "";
    var selected = $("input[type='radio'][name='income_proof_result']:checked");
    if (selected.length > 0) {
        income_proof_selectedVal = selected.val();
    }

    var income_proof_paper_type = $('#income_proof_paper_type').find(":selected").text();

    var income_proof_comment = $('#income_proof_comment').val();


    //lấy kết quả chứng minh nơi ở hiện tại

    var doc_type_label = $('#doc_type_current_address_proof');
    var current_address_doc_type = doc_type_label.attr('paper_type');


    var current_address_selectedVal = "";
    var selected = $("input[type='radio'][name='current_address_result']:checked");
    if (selected.length > 0) {
        current_address_selectedVal = selected.val();
    }

    var current_address_paper_type = $('#current_address_paper_type').find(":selected").text();

    var current_address_comment = $('#current_address_comment').val();


    //lấy kết quả kiểm tra cib

    var doc_type_label = $('#doc_type_cib');
    var cib_doc_type = doc_type_label.attr('paper_type');


    var cib_selectedVal = "";
    var selected = $("input[type='radio'][name='cib_result']:checked");
    if (selected.length > 0) {
        cib_selectedVal = selected.val();
    }

    var cib_result_type = $('#cib_result_type').find(":selected").text();

    var cib_result_id_card = $('#cib_result_id_card').find(":selected").text();

    var cib_comment = $('#cib_comment').val();


    console.log(cib_comment);


    //lấy kết quả kiểm tra thuế

    var doc_type_label = $('#doc_type_tax');
    var check_tax_doc_type = doc_type_label.attr('paper_type');


    var check_tax_selectedVal = "";
    var selected = $("input[type='radio'][name='check_tax_result']:checked");
    if (selected.length > 0) {
        check_tax_selectedVal = selected.val();
    }

    var check_tax_type = $('#check_tax_type').find(":selected").text();

    var check_tax_id_card = $('#check_tax_id_card').find(":selected").text();

    var tax_comment = $('#tax_comment').val();


    //lấy kết quả kiểm tra dupe
    var doc_type_label = $('#doc_type_dedupe');
    var check_dedupe_doc_type = doc_type_label.attr('paper_type');


    var check_dedupe_selectedVal = "";
    var selected = $("input[type='radio'][name='check_dedupe_result']:checked");
    if (selected.length > 0) {
        check_dedupe_selectedVal = selected.val();
    };

    var check_dedupe_type = $('#check_dedupe_type').find(":selected").text();

    var dedupe_comment = $('#dedupe_comment').val();


    //lấy note defer và pending
    var doc_type_label = $('#doc_type_defer');
    var defer_note_doc_type = doc_type_label.attr('paper_type');

    var check_defer_pending_selectedVal = "";
    var selected = $("input[type='radio'][name='uw_dc_pending']:checked");
    if (selected.length > 0) {
        check_defer_pending_selectedVal = selected.val();
    };

    var defer_note = $('#defer_note').val();



    $.ajax({
      type: 'POST',
      url:  {% url 'dc_cl_super_total_comment' %},
      data: {
        'app_id_c': app_id_c,

        'id_card_doc_type': id_card_doc_type,
        'id_card_selectedVal': id_card_selectedVal,
        'id_card_comment' : id_card_comment,

        'family_book_doc_type':family_book_doc_type,
        'family_book_selectedVal':family_book_selectedVal,
        'family_book_comment':family_book_comment,

        'work_proof_doc_type':work_proof_doc_type,
        'work_proof_selectedVal':work_proof_selectedVal,
        'work_proof_paper_type':work_proof_paper_type,
        'work_proof_comment':work_proof_comment,

        'income_proof_doc_type':income_proof_doc_type,
        'income_proof_selectedVal':income_proof_selectedVal,
        'income_proof_paper_type':income_proof_paper_type,
        'income_proof_comment':income_proof_comment,

        'current_address_doc_type':current_address_doc_type,
        'current_address_selectedVal':current_address_selectedVal,
        'current_address_paper_type':current_address_paper_type,
        'current_address_comment':current_address_comment,

        'cib_doc_type':cib_doc_type,
        'cib_selectedVal':cib_selectedVal,
        'cib_result_type':cib_result_type,
        'cib_result_id_card':cib_result_id_card,
        'cib_comment':cib_comment,

        'check_tax_doc_type':check_tax_doc_type,
        'check_tax_selectedVal':check_tax_selectedVal,
        'check_tax_type':check_tax_type,
        'check_tax_id_card':check_tax_id_card,
        'tax_comment':tax_comment,

        'check_dedupe_doc_type':check_dedupe_doc_type,
        'check_dedupe_selectedVal':check_dedupe_selectedVal,
        'check_dedupe_type':check_dedupe_type,
        'dedupe_comment':dedupe_comment,

        'defer_note_doc_type':defer_note_doc_type,
        'check_defer_pending_selectedVal': check_defer_pending_selectedVal,
        'defer_note':defer_note,


        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },

      beforeSend: function () {

            $("#sumit_all_datachecker_result").prop('disabled', true);

        },

      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.save_complete) {
            //$('#posts').append(data.posts_html);
            $('#check_list_checked_posts').html(data.checklist_result_html);
            $('#uw_dc_pending_cases').html(data.dc_pending_case_html);

            console.log('It works!');

        } else {
          //link.hide();
        }
        
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }

    });

  });

}(jQuery));







(function($) {
  $('#clear_all_datachecker_choose').on('click', function(event) {


  remove_note_on_dc_check_list()

  });
}(jQuery));






function remove_note_on_dc_check_list() {

    $('input[name="id_card_result"]').prop('checked', false);
    $('input[name="family_book_result"]').prop('checked', false);
    $('input[name="work_proof_result"]').prop('checked', false);
    $('input[name="income_proof_result"]').prop('checked', false);
    $('input[name="current_address_result"]').prop('checked', false);
    $('input[name="cib_result"]').prop('checked', false);
    $('input[name="check_tax_result"]').prop('checked', false);
    $('input[name="check_dedupe_result"]').prop('checked', false);
    $('input[name="uw_dc_pending"]').prop('checked', false);



    $('#id_card_comment').val('');
    $('#family_book_comment').val('');
    $('#work_proof_comment').val('');
    $('#income_proof_comment').val('');
    $('#current_address_comment').val('');
    $('#cib_comment').val('');
    $('#tax_comment').val('');
    $('#dedupe_comment').val('');
    $('#defer_note').val('');


    $('#work_proof_paper_type').val('...');
    $('#income_proof_paper_type').val('...');
    $('#current_address_paper_type').val('...');
    $('#cib_result_type').val('...');
    $('#cib_result_id_card').val('...');
    $('#check_tax_type').val('...');
    $('#check_dedupe_type').val('...');
    $('#check_tax_id_card').val('...');



    $("#sumit_all_datachecker_result").prop('disabled', false);

}







</script>






















<script type='text/javascript'>

    function Convert_name_in_textfield() {
        document.getElementById('convert_name_2_percent').value = "%";
    };

    function Convert_dob_in_textfield() {
        document.getElementById('convert_dob_2_percent').value = "%";
    };

    function Convert_id_in_textfield() {
        document.getElementById('convert_id_2_percent').value = "%";
    };

    function Convert_spouse_name_in_textfield() {
        document.getElementById('convert_spouse_name_2_percent').value = "%";
    };

    function Convert_spouse_id_in_textfield() {
        document.getElementById('convert_spouse_id_2_percent').value = "%";
    };







    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("dedupe_customer_spouse_table");
      switching = true;
      //Set the sorting direction to ascending:
      dir = "asc"; 
      /*Make a loop that will continue until
      no switching has been done:*/
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.getElementsByTagName("TR");
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /*check if the two rows should switch place,
          based on the direction, asc or desc:*/
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch= true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch
          and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          //Each time a switch is done, increase this count by 1:
          switchcount ++; 
        } else {
          /*If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again.*/
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    };

</script>






<script type="text/javascript">
        document.getElementById("search_app_id").value = getSavedValue("search_app_id");    // set the value to this input
        //document.getElementById("txt_2").value = getSavedValue("txt_2");   // set the value to this input
        /* Here you can add more inputs to set value. if it's saved */

        //Save the value function - save it to localStorage as (ID, VALUE)
        function saveValue(e){
            var id = e.id;  // get the sender's id to save it . 
            var val = e.value; // get the value. 
            localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override . 
        }

        //get the saved value function - return the value of "v" from localStorage. 
        function getSavedValue  (v){
            if (localStorage.getItem(v) === null) {
                return "";// You can change this to your defualt value. 
            }
            return localStorage.getItem(v);
        }
</script>





<script language="javascript" type="text/javascript">
//auto get value after typing in text field

$(document).ready(
                    function(){$("#search_customer_national_id").focus();
                    var val = document.getElementById("search_customer_national_id").value; //store the value of the element
                    document.getElementById("search_customer_national_id").value = ''; //clear the value of the element
                    document.getElementById("search_customer_national_id").value = val; //set that value back.
                  });


$('#search_customer_national_id').keyup(function () {
    DelayedSubmission();
});



function DelayedSubmission() {
    var date = new Date();
    initial_time = date.getTime();
    if (typeof setInverval_Variable == 'undefined') {
            setInverval_Variable = setInterval(DelayedSubmission_Check, 50);
    } 
}


function DelayedSubmission_Check() {
    var date = new Date();
    check_time = date.getTime();
    var limit_ms=check_time-initial_time;
    if (limit_ms > 800) { //Change value in milliseconds
        document.getElementById('button_get_info_dc_style').click(function(){$("search_customer_national_id").focus()});
        //alert("insert your function"); //Insert your function
        clearInterval(setInverval_Variable);
        delete setInverval_Variable;
    }
}


</script>



{% endblock %}



{% block provide_velocity_report %}


<li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2"> Velocity Alerts <i class="glyphicon glyphicon-chevron-right"></i></a>

    <ul class="nav nav-stacked collapse" id="menu2">
        <li><a href="#">Information &amp; Stats</a></li>
        <li><a href="#">Views</a></li>
        <li><a href="#">Requests</a></li>
        <li><a href="#">Timetable</a></li>
        <li><a href="#">Alerts</a></li>
    </ul>

</li>


{% endblock %}


