{% for post in posts_defer_note %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_defer" data-target=".posts_defer">
  <td bgcolor="#CCFFCC"><i class="chevron fa fa-fw" ></i>{{ post.check_type }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_result }}</td>
  <td bgcolor="#CCFFCC">{{ post.check_type_detail }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_comment }}</td>
  <td bgcolor="#CCFFCC">{{ post.action_username }}</td>
  <td bgcolor="#CCFFCC">{{ post.date_created }}</td>

</tr>    

{% else %}

<tr class="collapse posts_defer show">
  <td>{{ post.check_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}






{% for post in posts_cic_detail %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_cic_detail" data-target=".posts_cic_detail">
  <td bgcolor="#FF717E"><i class="chevron fa fa-fw" ></i>{{ post.check_type }}</td>
  <td bgcolor="#FF717E">{{ post.checked_result }}</td>
  <td bgcolor="#FF717E">{{ post.check_type_detail }}</td>
  <td bgcolor="#FF717E">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#FF717E">{{ post.checked_comment }}</td>
  <td bgcolor="#FF717E">{{ post.action_username }}</td>
  <td bgcolor="#FF717E">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_cic_detail show">
  <td>{{ post.check_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}




{% for post in posts_payment %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_payment" data-target=".posts_payment">
  <td bgcolor="#5D7B9D"><i class="chevron fa fa-fw" ></i>{{ post.check_type }}</td>
  <td bgcolor="#5D7B9D">{{ post.checked_result }}</td>
  <td bgcolor="#5D7B9D">{{ post.check_type_detail }}</td>
  <td bgcolor="#5D7B9D">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#5D7B9D">{{ post.checked_comment }}</td>
  <td bgcolor="#5D7B9D">{{ post.action_username }}</td>
  <td bgcolor="#5D7B9D">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_payment show">
  <td>{{ post.check_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}



{% for post in posts_home %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_home" data-target=".posts_home">
  <td bgcolor="#0099CC"><i class="chevron fa fa-fw" ></i>{{ post.check_type }}</td>
  <td bgcolor="#0099CC">{{ post.checked_result }}</td>
  <td bgcolor="#0099CC">{{ post.check_type_detail }}</td>
  <td bgcolor="#0099CC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#0099CC">{{ post.checked_comment }}</td>
  <td bgcolor="#0099CC">{{ post.action_username }}</td>
  <td bgcolor="#0099CC">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_home show">
  <td>{{ post.check_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}




{% for post in posts_work %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_work" data-target=".posts_work">
  <td bgcolor="#CCFFCC"><i class="chevron fa fa-fw" ></i>{{ post.check_type }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_result }}</td>
  <td bgcolor="#CCFFCC">{{ post.check_type_detail }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_comment }}</td>
  <td bgcolor="#CCFFCC">{{ post.action_username }}</td>
  <td bgcolor="#CCFFCC">{{ post.date_created }}</td>

</tr>    

{% else %}

<tr class="collapse posts_work show">
  <td>{{ post.check_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}
