
<div id='pcb_button_check_reconfirm'>
  <button type="button" class="btn btn-info" style="width: 100%" id="button_send_request_to_pcb">Request PCB</button>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 75%; height: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>


<div id='pcb_report_error'>

</div>


<div id= 'pcb_customer_basic_infor'>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tên</label>
        <div class="col-sm-9">
          <input class="form-control" id="inputEmail3">
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-3 col-form-label">CMND</label>
        <div class="col-sm-9">
          <input class="form-control" id="inputEmail3">
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Năm Sinh</label>
        <div class="col-sm-9">
          <input class="form-control" id="inputEmail3">
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Nơi Sinh</label>
        <div class="col-sm-9">
          <input class="form-control" id="inputEmail3">
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tạm trú</label>
        <div class="col-sm-9">
          <input class="form-control" id="inputEmail3">
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Thường trú</label>
        <div class="col-sm-8">
          <input class="form-control" id="inputEmail3">
        </div>
    </div>



    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Điện Thoại</label>
        <div class="col-sm-8">
          <input class="form-control" id="inputEmail3">
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Số lượng hỏi tin</label>
        <div class="col-sm-8">
          <input class="form-control" id="inputEmail3">
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nhóm nợ</label>
        <div class="col-sm-8">
          <input class="form-control" id="inputEmail3">
        </div>
    </div>

</div>

<p>1/ Thông tin điểm tín dụng của KH<p>

<div id="pcb_score">
    <div class="table-responsive table-hover">
        <table class="table">
            <thead>
                <tr>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;">#</th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Dải Điểm</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Điểm</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Mô Tả</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Lý do</small></th>
                </tr>
            </thead>
            <tbody>

                <tr>

                </tr>

            </tbody>
        </table>
    </div>
</div>

<p>2/ Danh sách hợp đồng vay đang tồn tại(Chi tiết Hiện Tại)<p>
<p>a - Vay Thông Thường</p>

<div id="pcb_loan_history">
    <div class="table-responsive table-hover">
        <table class="table">
            <thead>
                <tr>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;">#</th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Mã TCTD</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Bắt đầu</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Kết thúc</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Còn</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>EMI</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Nhóm</small></th>
                </tr>
            </thead>
            <tbody>

                <tr>

                </tr>

            </tbody>
        </table>
    </div>
</div>


<p>b - Thẻ Tín Dụng</p>


<div id="pcb_card_history">
    <div class="table-responsive table-hover">
        <table class="table">
            <thead>
                <tr>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;">#</th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Mã TCTD</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Hạn mức</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Dư nợ</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Tháng</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Nhóm</small></th>
                </tr>
            </thead>
            <tbody>

                <tr>

                </tr>
                
            </tbody>
        </table>
    </div>
</div>