    <!--phần cần coppy -->

      
      <div id = "dc_note_fianal_status">
        <!-- phần này thể hiện kết quả cho status của app cho phv -->

      </div>


      <div class="card filterable" style="height: 70%; overflow-y: scroll; padding: 1 1 1 1;">

        <div class="pull-right">
            <button class="btn btn-default btn-xs btn-filter"><span class="fa fa-filter" id="mydedupedc"></span> Filter</button>
        </div>

        <div style="display: inline-block; height: 100%; width: 100%; overflow-x: scroll;" id = 'results-search'>
          <div style="position: relative;">
              <table class="table table-striped table-hover table-responsive" style="border-collapse: collapse; border-spacing: 10px; font-size:  12px;" id="dedupe_customer_spouse_table">
                <thead>
                  <tr class="filters">
                    <th onclick="sortTable(0)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Loại giấy tờ</th>
                    <th onclick="sortTable(1)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Chi tiết</th>
                    <th onclick="sortTable(2)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Kết quả</th>
                    <th onclick="sortTable(3)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Code</th>
                    <th onclick="sortTable(4)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Ghi chú</th>
                    <th onclick="sortTable(5)"><input type="text" class="form-control" style="font-size:  10px;" disabled>User</th>
                    <th onclick="sortTable(6)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Ngày tạo</th>


                  </tr>
                </thead>
                <tbody id='check_list_checked_posts' name ='check_list_checked_posts' >

                {% include "en/checklist/module_show_data_checker_result.html" %}

                </tbody>
              </table>
          </div>
        </div>
      </div>
