		<label style="min-width: 160px" paper_type = 'DEFER' id = "doc_type_defer">STATUS</label>

		{% if dc_note_status %}

			{% for note in dc_note_status %}

			
			{% if note.action_type_detail == 'UW_DC_DEFER' %}

			<div class="form-check form-check-inline">
			<label class="form-check-label">
			  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_defer" value="UW_DC_DEFER" checked = "checked" >DEFER
			</label>
			</div>

			<div class="form-check form-check-inline">
			<label class="form-check-label">
			  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_pending" value="UW_DC_PEND">PENDING
			</label>
			</div>

			<div class="form-check form-check-inline">
			<label class="form-check-label" style = " padding-right: 3px;">
			  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_pending" value="UW_DC_FINISH" >FINISH 
			</label>
			</div>

			<input type="text" class="form-control" placeholder="Your comment please..." aria-label="Product name" id= "defer_note" name = "defer_note" value = "{{ note.action_comment }}">


			{% elif note.action_type_detail == 'UW_DC_PEND' %}

			<div class="form-check form-check-inline">
			<label class="form-check-label">
			  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_defer" value="UW_DC_DEFER">DEFER
			</label>
			</div>

			<div class="form-check form-check-inline">
			<label class="form-check-label">
			  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_pending" value="UW_DC_PEND" checked = "checked">PENDING
			</label>
			</div>

			<div class="form-check form-check-inline">
			<label class="form-check-label" style = " padding-right: 3px;">
			  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_pending" value="UW_DC_FINISH" >FINISH 
			</label>
			</div>

			<input type="text" class="form-control" placeholder="Your comment please..." aria-label="Product name" id= "defer_note" name = "defer_note" value = "{{ note.action_comment }}">


			{% elif note.action_type_detail == 'UW_DC_FINISH' %}

			<div class="form-check form-check-inline">
			<label class="form-check-label">
			  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_defer" value="UW_DC_DEFER">DEFER
			</label>
			</div>

			<div class="form-check form-check-inline">
			<label class="form-check-label">
			  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_pending" value="UW_DC_PEND">PENDING
			</label>
			</div>

			<div class="form-check form-check-inline">
			<label class="form-check-label" style = " padding-right: 3px;">
			  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_pending" value="UW_DC_FINISH" checked = "checked" >FINISH 
			</label>
			</div>

			<input type="text" class="form-control" placeholder="Your comment please..." aria-label="Product name" id= "defer_note" name = "defer_note" value="{{ note.action_comment }}">



			{% else %}

			<div class="form-check form-check-inline">
			<label class="form-check-label">
			  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_defer" value="UW_DC_DEFER">DEFER
			</label>
			</div>

			<div class="form-check form-check-inline">
			<label class="form-check-label">
			  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_pending" value="UW_DC_PEND">PENDING
			</label>
			</div>

			<div class="form-check form-check-inline">
			<label class="form-check-label" style = " padding-right: 3px;">
			  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_pending" value="UW_DC_FINISH" >FINISH 
			</label>
			</div>

			<input type="text" class="form-control" placeholder="Your comment please..." aria-label="Product name" id= "defer_note" name = "defer_note">

			{% endif %}

			{% endfor %}

		{% else %}


		<div class="form-check form-check-inline">
		<label class="form-check-label">
		  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_defer" value="UW_DC_DEFER">DEFER
		</label>
		</div>

		<div class="form-check form-check-inline">
		<label class="form-check-label">
		  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_pending" value="UW_DC_PEND">PENDING
		</label>
		</div>

		<div class="form-check form-check-inline">
		<label class="form-check-label" style = " padding-right: 3px;">
		  <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_pending" value="UW_DC_FINISH" >FINISH 
		</label>
		</div>

		<input type="text" class="form-control" placeholder="Your comment please..." aria-label="Product name" id= "defer_note" name = "defer_note">


		{% endif %}
