

{% for i in repeatcheck %}
    {% if i == 'NOT YET' %} 
    <button type="button" class="btn btn-info" style="width: 100%" id="button_send_request_to_pcb">Request PCB</button>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 0%; height: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    {% elif i == 'YES' %}
    <button type="button" class="btn btn-info" style="width: 100%" id="button_send_request_to_pcb_again">Request PCB</button>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 100%; height: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    {% endif %}

{% endfor %}