

<div class="table-responsive table-hover">
    <table class="table">
        <thead>
            <tr>
                <th style="padding-top: 0rem; padding-bottom: 0rem;">type</th>
                <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Mã TCTD</small></th>
                <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Bắt đầu</small></th>
                <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Kết thúc</small></th>
                <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Còn</small></th>
                <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>EMI</small></th>
                <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Nhóm</small></th>
            </tr>
        </thead>
        <tbody>
            {% for i in pcb_customer_loan%}
            <tr>
                <td><small>{{i.loantype}}</small></td>
                <td><small>{{i.cbcontractcode}}</small></td>
                <td><small>{{i.startingdate}}</small></td>
                <td><small>{{i.enddateofcontract}}</small></td>
                <td><small>{{i.remaininginstalmentsamount}}</small></td>
                <td><small>{{i.monthlyinstalmentamount}}</small></td>
                <td><small>{{i.worststatus}}</small></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>