

<div id="pcb_score">
    <div class="table-responsive table-hover">
        <table class="table">
            <thead>
                <tr>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;">#</th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Dải Điểm</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Điểm</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Mô Tả</small></th>
                    <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Lý do</small></th>
                </tr>
            </thead>
            <tbody>
                {% for i in pcb_customer_score %}
                <tr>
                    <td>1</td>
                    <td><small>{{i.scoreraw}}</small></td>
                    <td><small>{{i.scorecode}}</small></td>
                    <td><small>{{i.scoredescription}}</small></td>
                    <td><small>{{i.ex_scoredescription}}</small></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>