{% for post in posts_und_defer %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_und_defer" data-target=".posts_und_defer">
  <td bgcolor="#CCFFCC"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_result }}</td>
  <td bgcolor="#CCFFCC">{{ post.check_type_detail }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_comment }}</td>
  <td bgcolor="#CCFFCC">{{ post.action_username }}</td>
  <td bgcolor="#CCFFCC">{{ post.date_created }}</td>

</tr>    

{% else %}

<tr class="collapse posts_und_defer show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}





{% for post in posts_und_id_card %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_und_id_card" data-target=".posts_und_id_card">
  <td bgcolor="#CCFFCC"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_result }}</td>
  <td bgcolor="#CCFFCC">{{ post.check_type_detail }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_comment }}</td>
  <td bgcolor="#CCFFCC">{{ post.action_username }}</td>
  <td bgcolor="#CCFFCC">{{ post.date_created }}</td>

</tr>    

{% else %}

<tr class="collapse posts_und_id_card show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}






{% for post in posts_und_family_book %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_und_family_book" data-target=".posts_und_family_book">
  <td bgcolor="#FF717E"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#FF717E">{{ post.checked_result }}</td>
  <td bgcolor="#FF717E">{{ post.check_type_detail }}</td>
  <td bgcolor="#FF717E">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#FF717E">{{ post.checked_comment }}</td>
  <td bgcolor="#FF717E">{{ post.action_username }}</td>
  <td bgcolor="#FF717E">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_und_family_book show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}




{% for post in posts_und_resident_proof %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_und_resident_proof" data-target=".posts_und_resident_proof">
  <td bgcolor="#5D7B9D"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#5D7B9D">{{ post.checked_result }}</td>
  <td bgcolor="#5D7B9D">{{ post.check_type_detail }}</td>
  <td bgcolor="#5D7B9D">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#5D7B9D">{{ post.checked_comment }}</td>
  <td bgcolor="#5D7B9D">{{ post.action_username }}</td>
  <td bgcolor="#5D7B9D">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_und_resident_proof show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}



{% for post in posts_und_work_proof %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_und_work_proof" data-target=".posts_und_work_proof">
  <td bgcolor="#0099CC"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#0099CC">{{ post.checked_result }}</td>
  <td bgcolor="#0099CC">{{ post.check_type_detail }}</td>
  <td bgcolor="#0099CC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#0099CC">{{ post.checked_comment }}</td>
  <td bgcolor="#0099CC">{{ post.action_username }}</td>
  <td bgcolor="#0099CC">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_und_work_proof show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}




{% for post in posts_und_income_proof %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_und_income_proof" data-target=".posts_und_income_proof">
  <td bgcolor="#CCFFCC"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_result }}</td>
  <td bgcolor="#CCFFCC">{{ post.check_type_detail }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_comment }}</td>
  <td bgcolor="#CCFFCC">{{ post.action_username }}</td>
  <td bgcolor="#CCFFCC">{{ post.date_created }}</td>

</tr>    

{% else %}

<tr class="collapse posts_und_income_proof show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}





{% for post in posts_und_current_address %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_und_current_address" data-target=".posts_und_current_address">
  <td bgcolor="#CCFFCC"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_result }}</td>
  <td bgcolor="#CCFFCC">{{ post.check_type_detail }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_comment }}</td>
  <td bgcolor="#CCFFCC">{{ post.action_username }}</td>
  <td bgcolor="#CCFFCC">{{ post.date_created }}</td>

</tr>    

{% else %}

<tr class="collapse posts_und_current_address show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}






{% for post in posts_und_current_job %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_und_current_job" data-target=".posts_und_current_job">
  <td bgcolor="#CCFFCC"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_result }}</td>
  <td bgcolor="#CCFFCC">{{ post.check_type_detail }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_comment }}</td>
  <td bgcolor="#CCFFCC">{{ post.action_username }}</td>
  <td bgcolor="#CCFFCC">{{ post.date_created }}</td>

</tr>    

{% else %}

<tr class="collapse posts_und_current_job show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}






{% for post in posts_und_current_debt %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_und_current_debt" data-target=".posts_und_current_debt">
  <td bgcolor="#CCFFCC"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_result }}</td>
  <td bgcolor="#CCFFCC">{{ post.check_type_detail }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_comment }}</td>
  <td bgcolor="#CCFFCC">{{ post.action_username }}</td>
  <td bgcolor="#CCFFCC">{{ post.date_created }}</td>

</tr>    

{% else %}

<tr class="collapse posts_und_current_debt show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}






{% for post in posts_und_payment_ability %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_und_payment_ability" data-target=".posts_und_payment_ability">
  <td bgcolor="#CCFFCC"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_result }}</td>
  <td bgcolor="#CCFFCC">{{ post.check_type_detail }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_comment }}</td>
  <td bgcolor="#CCFFCC">{{ post.action_username }}</td>
  <td bgcolor="#CCFFCC">{{ post.date_created }}</td>

</tr>    

{% else %}

<tr class="collapse posts_und_payment_ability show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}






{% for post in posts_und_other_evaluation %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_und_other_evaluation" data-target=".posts_und_other_evaluation">
  <td bgcolor="#CCFFCC"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_result }}</td>
  <td bgcolor="#CCFFCC">{{ post.check_type_detail }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_comment }}</td>
  <td bgcolor="#CCFFCC">{{ post.action_username }}</td>
  <td bgcolor="#CCFFCC">{{ post.date_created }}</td>

</tr>    

{% else %}

<tr class="collapse posts_und_other_evaluation show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}







{% for post in posts_und_approve_la %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_und_approve_la" data-target=".posts_und_approve_la">
  <td bgcolor="#CCFFCC"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_result }}</td>
  <td bgcolor="#CCFFCC">{{ post.check_type_detail }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_comment }}</td>
  <td bgcolor="#CCFFCC">{{ post.action_username }}</td>
  <td bgcolor="#CCFFCC">{{ post.date_created }}</td>

</tr>    

{% else %}

<tr class="collapse posts_und_approve_la show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}




{% for post in posts_und_final_tennor %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_und_final_tennor" data-target=".posts_und_final_tennor">
  <td bgcolor="#CCFFCC"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_result }}</td>
  <td bgcolor="#CCFFCC">{{ post.check_type_detail }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_comment }}</td>
  <td bgcolor="#CCFFCC">{{ post.action_username }}</td>
  <td bgcolor="#CCFFCC">{{ post.date_created }}</td>

</tr>    

{% else %}

<tr class="collapse posts_und_final_tennor show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}




{% for post in posts_und_decrease_la %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_und_decrease_la" data-target=".posts_und_decrease_la">
  <td bgcolor="#CCFFCC"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_result }}</td>
  <td bgcolor="#CCFFCC">{{ post.check_type_detail }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_type_uw_decision }}</td>
  <td bgcolor="#CCFFCC">{{ post.checked_comment }}</td>
  <td bgcolor="#CCFFCC">{{ post.action_username }}</td>
  <td bgcolor="#CCFFCC">{{ post.date_created }}</td>

</tr>    

{% else %}

<tr class="collapse posts_und_decrease_la show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.check_type_detail }}</td>
  <td>{{ post.checked_type_uw_decision }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}