


{% for mobile_dedupe in mobilephone_dupe_result %}
  {% if mobile_dedupe.status == 'ACTIVE' %}
  <tr class="table-success">
  {% elif mobile_dedupe.status == 'CLOSED' %}
  <tr class="table-active">
  {% elif mobile_dedupe.status == 'REJECTED' %}
  <tr class="table-danger">
  {% elif mobile_dedupe.status == 'IN-PROGRESS' %}
  <tr class="table-info">
  {% elif mobile_dedupe.status == 'APPROVED' %}
  <tr class="table-warning">
  {% else %}
  <tr>
  {% endif %}
    <td>{{ mobile_dedupe.app_id }}</td>
    <td>{{ mobile_dedupe.customer_id_no }}</td>
    <td>{{ mobile_dedupe.address_type }}</td>
    <td>{{ mobile_dedupe.cux_phone1 }}</td>
    <td>{{ mobile_dedupe.cux_mobile }}</td>
    <td>{{ mobile_dedupe.cux_add1 }}</td>
    <td>{{ mobile_dedupe.dpd }}</td>
    <td>{{ mobile_dedupe.status }}</td>
  </tr>
{% endfor %}

