
{% for basic_infor in queryset_name_remove_vn_mark %}
  <p> 
  <a href="http://file:\\192.168.100.80\sales_und\UND\{{ basic_infor.app_id }}_{{ basic_infor.customername_wo_mark }}.pdf" target="_blank">Home File Link: {{ basic_infor.app_id }}_{{ basic_infor.customername_wo_mark }}.pdf</a>
  </p>
{% endfor %}