
    <div id = "phvcl_show_f1_loan_information">

      <!--  chổ này có thể import template   module1_gui_phvcl_show_basic_loan_infor.html nếu không ajax -->
      <div class="row" style="padding-bottom: 3px;">

        <div class="input-group" >

          <div class= "col-5">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" PRIORITY :">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
         
            </div>
          </div>

          <div class= "col-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" SALE OFFICER :">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
         
            </div>
          </div>

          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" POS/SIP/RO :">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
         
            </div>
          </div>

        </div>
        
      </div>


      <div class="row" style="padding-bottom: 3px;">

        <div class="input-group" >

          <div class= "col-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" AMOUNT:">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
            </div>
          </div>


          <div class= "col-2">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" TENURE:">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
            </div>
          </div>



          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" EMI:">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
            </div>
          </div>



          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" PRODUCT :">
                </span>

                <input type="text" class="form-control" name="search_customer_name" id="convert_name_2_percent" style="font-size: 12px; text-align: center;" value="">
            </div>
          </div>


        </div>

      </div>

    </div>


  <!-- cột chứa các items trên check list-->


    <div class="card text-center">



      <div class="card-header">

        <div class="input-group">

          <button class="btn btn-outline-light" style="color: black;"><strong> Main Items </strong></button>

           <span style="padding-right: 5px;">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#phv_show_google_map" aria-expanded="false" aria-controls="collapseExample">
              Google Map
            </button>
          </span>         

          <span style="padding-right: 5px;">
            <button class="btn btn-outline-danger" id ="clear_all_phv_choose" name="clear_all_phv_choose"  type="button" >Clear</button>
          </span>

          <span>
            <button class="btn btn-outline-primary" id ="sumit_all_phv_result" name="sumit_all_phv_result"  type="button">Submit</button>
          </span>

        </div>

      </div>

      <div class="card-body">


        <div class="collapse" id="phv_show_google_map">
          <input id="pac-input" class="controls" type="text" placeholder="Search Box">

          <div id="map" style="padding-bottom: 3px;">
            

          </div>
        </div>







        <!-- phần bên dưới google map -->

        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-id-card">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'CIC DETAIL' id = "doc_type_cic_dtail">CIC DETAIL</label>

            <span style=" padding-right: 3px;">

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="cic_detail_result" id="cic_detail_ok" value="OK">OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="cic_detail_result" id="cic_detail_not_ok" value="NOT OK">NOT OK
                </label>
              </div>


              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="cic_detail_result" id="cic_detail_warning" value="WARNING">WARNING
                </label>
              </div>

            </span>


            <input type="text" class="form-control" placeholder="Your comment please..." id= "cic_detail_comment" name = "cic_detail_comment" aria-label="Product name">

          </div>

        </div>





        <div class="row" style="padding-bottom: 3px;">
          <div class="input-group" id = "decision-id-card">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'PAYMENT' id = "doc_type_payment">PAYMENT</label>

            <span style=" padding-right: 3px;">

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="payment_result" id="payment_ok" value="OK">OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="payment_result" id="payment_not_ok" value="NOT OK">NOT OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="payment_result" id="payment_warning" value="WARNING">WARNING
                </label>
              </div>

            </span>


            <input type="text" class="form-control" placeholder="Your comment please..." id= "payment_comment" name = "id_card_comment" aria-label="Product name">

            <span>
              
              <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#phvcl_dtl_calculate_dti_box" aria-expanded="false" aria-controls="collapseExample">DTI Calculator</button>

            </span>

          </div>

        </div>







        <div id = "phv_calculate_dti">

          <div class="collapse" id="phvcl_dtl_calculate_dti_box" style="padding-bottom: 3px;">

            <div class="card card-body">


              <div class="row" style="padding-bottom: 3px; ">
                <div class="input-group" id = "decision-id-card">


                  <div class= "col-10">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="FINANCIAL NAME :">
                        </span>

                        <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
                    </div>
                  </div>


                  <div class= "col-2">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="IR :">
                        </span>

                        <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
                    </div>
                  </div>


                </div>
              
              </div>


              <div class="row" style="padding-bottom: 3px; ">
                <div class="input-group" id = "decision-id-card">

                  <div class= "col-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="OTHER OUTSTANDING:">
                        </span>

                        <input type="text" class="form-control"  style="font-size: 12px; text-align: center;" value="">
                    </div>
                  </div>


                  <div class= "col-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="OTHER EMI:">
                        </span>

                        <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
                    </div>
                  </div>


                  <div class= "col-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value=" PHV EMI :">
                        </span>

                        <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
                    </div>
                  </div>


                </div>

              </div>



            </div>

          </div>

        </div>



        <div id = "phv_calculate_dti_result">

          <div class="card" style="width: 100%;">

            <div class="card-body" style="padding-bottom: 6px;">


              <div class="row" style="padding-bottom: 6px;">
                
                <div class="input-group">


                  <div class= "col-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="AMOUNT :">
                        </span>

                        <input type="text" class="form-control" id="phvcl_dti_cal_la" style="font-size: 12px; text-align: center;" value="">
                    </div>
                  </div>


                  <div class= "col-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" id="button_phvcl_dti_tenure" value="TENURE :">
                        </span>

                        <input type="text" class="form-control" id="phvcl_dti_cal_tenure" style="font-size: 12px; text-align: center;" value="">
                    </div>
                  </div>

                  <div class= "col-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="INCOME :">
                        </span>

                        <input type="text" class="form-control" id="phvcl_dti_cal_income" style="font-size: 12px; text-align: center;" value="">
                    </div>
                  </div>


                </div>

              </div>



              <div class="form-group row">

                <label for="staticEmail" class="col-sm-5 col-form-label">Last User's Calculation: </label>

                <div class="col-sm-5">

                  <div class="input-group">
                    <span class="input-group-addon">DTI :</span>
                    <input type="text" class="form-control" id="phvcl_dti_cal_dti" style="font-size: 12px; text-align: center;" value="" readonly>
                  </div>

                </div>

              </div>


            </div>

          </div>

        </div>



        <div class="row" style="padding-bottom: 3px;">
          <div class="input-group" id = "decision-id-card">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'HOME' id = "doc_type_home">HOME</label>

            <span style=" padding-right: 3px;">

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="home_result" id="home_ok" value="OK">OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="home_result" id="home_not_ok" value="NOT OK">NOT OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="home_result" id="home_warning" value="WARNING">WARNING
                </label>
              </div>

            </span>

            <span class="input-group-btn">

              <select class="form-control" id="home_type" style="width: 50px;">
                <option>...</option>
                <option>1 - Hộ Khẩu</option>
                <option>2 - Tạm Trú</option>
              </select>

            </span>


            <span class="input-group-btn">

              <select class="form-control" id="home_type_uw_decision" style="width: 50px;">
                <option>...</option>
                <option>1 - Does not pickup phone</option>
                <option>2 - Negative information</option>
                <option>3 - Neutral information</option>
                <option>4 - Positive information</option>
                <option>5 - Wrong number</option>
              </select>

            </span>


            <input type="text" class="form-control" placeholder="Your comment please..." id= "home_comment" name = "home_comment" aria-label="Product name">

          </div>

        </div>




        <div class="row" style="padding-bottom: 3px;">
          <div class="input-group" id = "decision-id-card">

            <a href="#phvcl_company_detail_note" data-toggle="collapse" style="min-width: 80px;" paper_type = 'WORK' id = "doc_type_work">WORK</a>


            <span style=" padding-right: 3px;">

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="work_result" id="work_ok" value="OK">OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="work_result" id="work_not_ok" value="NOT OK">NOT OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="work_result" id="work_warning" value="WARNING">WARNING
                </label>
              </div>

            </span>


            <span class="input-group-btn">

              <select class="form-control" id="work_check_directory" style="width: 50px;">
                <option>...</option>
                <option>1 - Danh bạ: OK</option>
                <option>2 - Danh bạ: NOT OK</option>
                <option>3 - Danh bạ: CAN NOT</option>
              </select>

            </span>


            <span class="input-group-btn">

              <select class="form-control" id="work_type_uw_decision" style="width: 50px;">
                <option>...</option>
                <option>1 - Does not pickup phone</option>
                <option>2 - Negative information</option>
                <option>3 - Neutral information</option>
                <option>4 - Positive information</option>
                <option>5 - Wrong number</option>
              </select>

            </span>


            <input type="text" class="form-control" placeholder="Your comment please..." id= "work_comment" name = "work_comment" aria-label="Product name">

          </div>

        </div>





        <div id = "phv_company_note_detail">

          <div class="collapse" id="phvcl_company_detail_note" style="padding-bottom: 3px;">

            <div class="card card-body">

              <div class="row" style="padding-bottom: 3px; ">

                <div class="input-group">

                  <div class= "col-5">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="F1 TAX CODE:">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="f1_company_tax_code" style="font-size: 12px; text-align: center;" value="">

                    </div>

                  </div>



                  <div class= "col-7">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="F1 COMPANY NAME :">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="f1_company_name" style="font-size: 12px; text-align: center;" value="">

                    </div>

                  </div>


                </div>

              </div>





              <div class="row" style="padding-bottom: 3px; ">

                <div class="input-group">


                  <div class= "col-5">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="TAX CODE:" style="min-width: 85px;">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="riskbox_company_tax_code" style="font-size: 12px; text-align: center;" value="">

                    </div>

                  </div>




                  <div class= "col-7">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="COMPANY NAME :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="und_company_name" style="font-size: 12px; text-align: center;" value="">

                    </div>

                  </div>



                </div>
              
              </div>





              <div class="row" style="padding-bottom: 3px; ">

                <div class="input-group">


                  <div class= "col-12">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="RISK NOTE :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="risk_company_note" id="risk_company_note" style="font-size: 12px; text-align: center;" value="">


                    </div>

                  </div>


                </div>
              
              </div>



              <div class="row" style="padding-bottom: 3px; ">

                <div class="input-group">


                  <div class= "col-12">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="DC NOTE :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="dc_company_note" style="font-size: 12px; text-align: center;" value="">

                    </div>

                  </div>


                </div>
              
              </div>




              <div class="row" style="padding-bottom: 3px; ">

                <div class="input-group">


                  <div class= "col-12">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="PHV NOTE :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="phv_company_note" style="font-size: 12px; text-align: center;" value="">
                        
                        <span>
                            <button type="button" class="btn btn-success" id="phv_create_update_company_infor">Create/Update</button>
                        </span>

                    </div>

                  </div>


                </div>
              
              </div>





              <div class="row" style="padding-bottom: 3px; ">

                <div class="input-group">


                  <div class= "col-12">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="UND NOTE :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="und_company_note" style="font-size: 12px; text-align: center;" value="">

                    </div>

                  </div>


                </div>
              
              </div>





              <div class="row" style="padding-bottom: 3px; ">

                <div class="input-group">


                  <div class= "col-12">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="SUP/TL CONFIRM :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="suptl_company_note" style="font-size: 12px; text-align: center;" value="">


                    </div>

                  </div>


                </div>
              
              </div>





            </div>

          </div>

        </div>














        <div class="row border border-dark" style="padding-bottom: 3px;">

          <div class="card" style="width: 100%"">

            <div class="card-body">

              <div class="input-group" id= "get_phv_note_4_status">


                    <div class="row" style="margin-left: auto; margin-right: auto;">

                      <div class="col-sm-12">

                        <label paper_type = 'DEFER' id = "doc_type_defer" style="padding-right: 15px;">STATUS : </label>

                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_defer" value="UW_PHV_DEFER">DEFER
                          </label>
                        </div>

                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_pending" value="UW_PHV_PEND">PENDING
                          </label>
                        </div>

                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_send_fi" value="UW_SEND_FI" >FI 
                          </label>
                        </div>

                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_reject" value="UW_PHV_REJECT" >REJECT 
                          </label>
                        </div>

                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_approve" value="UW_PHV_APPROVE" >APPROVE 
                          </label>
                        </div>

                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_finish" value="UW_PHV_FINISH" >FINISH 
                          </label>
                        </div>

                      </div>

                      <div class="col-sm-12">

                        <input type="text" class="form-control" placeholder="Your comment please..." id= "phv_note_status" name = "phv_note_status" aria-label="Product name" style="width: 100%">

                      </div>

                    </div>


              </div>


              <div class="col-sm-12" style="padding-top: 3px;" id="phv_provide_fiv_requirement">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">FII form</button>

                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">




                      <div id = 'basic_app_data_on_fiv_form'>
                        
 



                      </div>



            
                    </div>
                  </div>
                </div>

              </div>



            </div>

          </div>


        </div>  





        <br/>




        <div class="card filterable" style="height: 70%; padding: 1 1 1 1;">

          <div class="pull-right">
              <button class="btn btn-default btn-xs btn-filter"><span class="fa fa-filter" id="mydedupedc"></span> Filter</button>
          </div>

          <div style="display: inline-block; height: 100%; width: 100%; overflow-x: scroll;" id = 'results-search'>
            <div style="position: relative;">
                <table class="table table-striped table-hover table-responsive" style="border-collapse: collapse; border-spacing: 10px; font-size:  12px; overflow-x: scroll;" id="dedupe_customer_spouse_table">

                  <thead>
                    <tr class="filters">

                      <th onclick="sortTable(0)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Item</th>
                      <th onclick="sortTable(1)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Kết quả</th>
                      <th onclick="sortTable(2)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Types</th>
                      <th onclick="sortTable(3)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Quyết định</th>
                      <th onclick="sortTable(4)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Ghi chú</th>
                      <th onclick="sortTable(5)"><input type="text" class="form-control" style="font-size:  10px;" disabled>User</th>
                      <th onclick="sortTable(6)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Ngày</th>

                    </tr>



                  </thead>


                  <tbody id='phv_check_list_checked_posts' name ='phv_check_list_checked_posts' >

                  <!-- import table chứa lịch sử kiểm tra ở đây  -->

                  </tbody>


                </table>
            </div>
          </div>
        </div>




      </div>

    </div>


