
{% for item in posts_phv_note%}
    <!-- có class base_sent -->
<div class="row msg_container base_receive">

    {% if item.phv_emoji_after_call == '1' %}
    <div class="col-md-2 col-xs-2 avatar" style="padding-left: 0px; padding-right: 0px;">
        <img width="30" height="28" src="http://emojis.slackmojis.com/emojis/images/1500426224/2650/allo-love.gif" data-toggle="popover1" class=" img-responsive " data-content="{{ item.action_username }} - {{ item.date_created }}" >
    </div>

    {% elif item.phv_emoji_after_call == '2' %}
    <div class="col-md-2 col-xs-2 avatar" style="padding-left: 0px; padding-right: 0px;">
        <img width="30" height="28" src="http://emojis.slackmojis.com/emojis/images/1500425996/2647/allo-kissing.gif" data-toggle="popover1" class=" img-responsive " data-content="{{ item.action_username }} - {{ item.date_created }}" >
    </div>

    {% elif item.phv_emoji_after_call == '3' %}
    <div class="col-md-2 col-xs-2 avatar" style="padding-left: 0px; padding-right: 0px;">
        <img width="30" height="28" src="http://emojis.slackmojis.com/emojis/images/1500425901/2646/allo-happy.gif" data-toggle="popover1" class=" img-responsive " data-content="{{ item.action_username }} - {{ item.date_created }}" >
    </div>

    {% elif item.phv_emoji_after_call == '4' %}
    <div class="col-md-2 col-xs-2 avatar" style="padding-left: 0px; padding-right: 0px;">
        <img width="30" height="28" src="http://emojis.slackmojis.com/emojis/images/1500426200/2649/allo-unamused.gif" data-toggle="popover1" class=" img-responsive " data-content="{{ item.action_username }} - {{ item.date_created }}" >
    </div>

    {% elif item.phv_emoji_after_call == '5' %}
    <div class="col-md-2 col-xs-2 avatar" style="padding-left: 0px; padding-right: 0px;">
        <img width="30" height="28" src="http://emojis.slackmojis.com/emojis/images/1500426362/2651/allo-shocked.gif" data-toggle="popover1" class=" img-responsive " data-content="{{ item.action_username }} - {{ item.date_created }}" >
    </div>
    {% endif %}


    <div class="col-md-10 col-xs-10">

      <div class="card card-1">
        <div class="card-body" style="padding-top: 0px; padding-bottom: 0px;">

        {% if item.phv_decision_after_call == '1' %}
        <h10 class="card-subtitle mb-2 text-muted" style="font-size:10px" ><time datetime="2009-11-13T20:00"> {{ item.app_id }} • Does not pickup phone </time></h10>

        {% elif item.phv_decision_after_call == '2' %}
        <h10 class="card-subtitle mb-2 text-muted" style="font-size:10px" ><time datetime="2009-11-13T20:00"> {{ item.app_id }} • Negative information </time></h10>

        {% elif item.phv_decision_after_call == '3' %}
        <h10 class="card-subtitle mb-2 text-muted" style="font-size:10px" ><time datetime="2009-11-13T20:00"> {{ item.app_id }} • Neutral information </time></h10>

        {% elif item.phv_decision_after_call == '4' %}
        <h10 class="card-subtitle mb-2 text-muted" style="font-size:10px" ><time datetime="2009-11-13T20:00"> {{ item.app_id }} • Positive information </time></h10>

        {% elif item.phv_decision_after_call == '5' %}
        <h10 class="card-subtitle mb-2 text-muted" style="font-size:10px" ><time datetime="2009-11-13T20:00"> {{ item.app_id }} • Wrong number </time></h10>

        {% endif %}

        <p class="card-text" align="left"> {{ item.phv_comment_4_mobi }}</p>

        </div>
      </div>

    </div>
    
</div>

{% endfor %}