



            <div class="card card-body">

            {% for app in basic_app_infor %}

              <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

                <div class="input-group">

                  <div class= "col-3">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="F1 TAX CODE:">
                        </span>

                        <input type="text" class="form-control" name="f1_company_tax_code_on_undcl" id="f1_company_tax_code_on_undcl" style="font-size: 12px; text-align: center;" value="{{ app.tax_code }}" disabled>

                    </div>

                  </div>



                  <div class= "col-7">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="F1 COMPANY NAME :">
                        </span>

                        <input type="text" class="form-control" name="f1_company_name_on_undcl" id="f1_company_name_on_undcl" style="font-size: 12px; text-align: center;" value="{{ app.company_name }}">

                    </div>

                  </div>



                </div>

              </div>

            {% endfor %}


            {% for tax in riskox_company_infor %}

              <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

                <div class="input-group">


                  <div class= "col-3">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="TAX CODE:" style="min-width: 85px;">
                        </span>

                        <input type="text" class="form-control" name="riskbox_company_tax_code_on_undcl" id="riskbox_company_tax_code_on_undcl" style="font-size: 12px; text-align: center;" value="{{tax.riskboxtaxcode}}">

                    </div>

                  </div>



                  <div class= "col-7">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="COMPANY NAME :">
                        </span>

                        <input type="text" class="form-control" name="und_company_name_on_undcl" id="und_company_name_on_undcl" style="font-size: 12px; text-align: center;" value="{{tax.employername}}">

                    </div>

                  </div>


                </div>
              
              </div>





              <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

                <div class="input-group">


                  <div class= "col-10">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="RISK NOTE :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="risk_company_note_on_undcl" id="risk_company_note_on_undcl" style="font-size: 12px; text-align: center;" value="{{tax.risknote}}">


                    </div>

                  </div>


                </div>
              
              </div>






              <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

                <div class="input-group">


                  <div class= "col-10">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="DC NOTE :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="dc_company_note_on_undcl" id="dc_company_note_on_undcl" style="font-size: 12px; text-align: center;" value="{{ tax.dcnote }}">


                    </div>

                  </div>


                </div>
              
              </div>




              <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

                <div class="input-group">


                  <div class= "col-10">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="PHV NOTE :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="phv_company_note_on_undcl" id="phv_company_note_on_undcl" style="font-size: 12px; text-align: center;" value="{{ tax.phvnote }}">


                    </div>

                  </div>


                </div>
              
              </div>







              <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

                <div class="input-group">


                  <div class= "col-10">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="UND NOTE :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="und_company_note_on_undcl" id="und_company_note_on_undcl" style="font-size: 12px; text-align: center;" value="{{ tax.undnote }}">

                        <span>
                            <button type="button" class="btn btn-success" id="und_create_update_company_infor">Create/Update</button>
                        </span>

                    </div>

                  </div>


                </div>
              
              </div>




              <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

                <div class="input-group">


                  <div class= "col-10">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="SUP/TL CONFIRM :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="suptl_company_note_on_undcl" id="suptl_company_note_on_undcl" style="font-size: 12px; text-align: center;" value="{{ tax.sup_tl_note }}">

                        <span>
                            <button type="button" class="btn btn-success" id="uw_suptl_confirm_company_infor">Confirm</button>
                        </span>


                    </div>

                  </div>


                </div>
              
              </div>




            {% endfor %}
            </div>        


