

    {% for loan in basic_loan_infor%}

    <div class="collapse" id="phvcl_dtl_calculate_dti_box" style="padding-bottom: 3px;">

      <div class="card card-body">

        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-id-card">


            <div class= "col-10">
              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="FINANCIAL NAME :">
                  </span>

                  <input type="text" class="form-control" id="phvcl_dti_cal_financial_name" style="font-size: 12px; text-align: center;" value="{{ loan.cic_comment }}" readonly>
              </div>
            </div>


            <div class= "col-2">
              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="IR :">
                  </span>

                  <input type="text" class="form-control" name="search_customer_name" id="phvcl_dti_cal_ir" style="font-size: 12px; text-align: center;" value="{{ loan.laa_app_req_effrate_n }}" readonly>
              </div>
            </div>


          </div>
        
        </div>


        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-id-card">

            <div class= "col-4">
              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="OTHER OUTSTANDING:">
                  </span>

                  <input type="text" class="form-control" id="phvcl_dti_cal_total_outstanding" style="font-size: 12px; text-align: center;" value="{{ loan.total_cic_amt }}" readonly>
              </div>
            </div>


            <div class= "col-4">
              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="OTHER EMI:">
                  </span>

                  <input type="text" class="form-control" id="phvcl_dti_cal_total_emi" style="font-size: 12px; text-align: center;" value="{{ loan.total_cic_emi }}" readonly>
              </div>
            </div>


            <div class= "col-4">
              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="PHV EMI :">
                  </span>

                  <input type="text" class="form-control" name="search_customer_name" id="phvcl_dti_cal_emi" style="font-size: 12px; text-align: center;" value="{{ loan.laa_emi_n }}" readonly>
              </div>
            </div>            


          </div>

        </div>


      </div>

    </div>

    
    {% endfor %}