

    {% for loan in basic_loan_infor%}

    <div class="card" style="width: 100%;">
      <div class="card-body" style="padding-bottom: 6px;">

        <div class="row" style="padding-bottom: 3px;">
          
          <div class="input-group">


            <div class= "col-4">
              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="AMOUNT :">
                  </span>

                  <input type="text" class="form-control" id="phvcl_dti_cal_la" style="font-size: 12px; text-align: center;" value="{{ loan.laa_app_req_amtfin_n}}">
              </div>
            </div>


            <div class= "col-3">
              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" id="button_phvcl_dti_tenure" value="TENURE :">
                  </span>

                  <input type="text" class="form-control" id="phvcl_dti_cal_tenure" style="font-size: 12px; text-align: center;" value="{{ loan.laa_app_loandtl_term_n }}">
              </div>
            </div>

            <div class= "col-4">
              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="INCOME :">
                  </span>

                  <input type="text" class="form-control" id="phvcl_dti_cal_income" style="font-size: 12px; text-align: center;" value="{{ loan.monthly_income }}">
              </div>
            </div>


          </div>

        </div>

        <div class="form-group row">

          <label for="staticEmail" class="col-sm-5 col-form-label">Last User's Calculation: {{loan.action_username}}</label>

          <div class="col-sm-5">

            <div class="input-group">
              <span class="input-group-addon">DTI :</span>
              <input type="text" class="form-control" id="phvcl_dti_cal_dti" style="font-size: 12px; text-align: center;" value="{{ loan.dti }}" readonly>
            </div>

          </div>

        </div>


      </div>

    </div>

    
    {% endfor %}