



    <ul class="nav nav-tabs" id="myTab" role="tablist">

      <li class="nav-item">
        <a class="nav-link active" id="check_list_main-tab" data-toggle="tab" href="#check_list_main" role="tab" aria-controls="check_list_main" aria-expanded="true">Check List</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" id="app_information_main-tab" data-toggle="tab" href="#app_information_main" role="tab" aria-controls="app_information_main">App Information</a>
      </li>


      <li class="nav-item">
        <a class="nav-link disabled" id="checklist_decision_main-tab" data-toggle="tab" href="#app_information_main" role="tab" aria-controls="app_information_main">

          <button class="btn btn-outline-danger" id ="clear_all_datachecker_choose" name="clear_all_datachecker_choose"  type="button">Clear</button>

          <button class="btn btn-outline-primary" id ="sumit_all_datachecker_result" name="sumit_all_datachecker_result"  type="button">Submit</button>

        </a>
      </li>


    </ul>



    <div class="tab-content" id="myTabContent">


      <div class="tab-pane fade show active" id="check_list_main" role="tabpanel" aria-labelledby="check_list_main-tab">
        

        {% include "en/checklist/module_add_data_checker_result.html" %}



      </div>



      <div class="tab-pane fade" id="app_information_main" role="tabpanel" aria-labelledby="app_information_main-tab">







        <!-- nơi này sẽ chứa nội dung của app -->
        <!-- hiện chưa xác định thông tin nào cần thêm vào nên để trống -->








      </div>


    </div>




    <!--phần cần coppy -->


      <div class="card filterable" style="height: 70%; overflow-y: scroll; padding: 1 1 1 1;">

        <div class="pull-right">
            <button class="btn btn-default btn-xs btn-filter"><span class="fa fa-filter" id="mydedupedc"></span> Filter</button>
        </div>

        <div style="display: inline-block; height: 100%; width: 100%; overflow-x: scroll;" id = 'results-search'>
          <div style="position: relative;">
              <table class="table table-striped table-hover table-responsive" style="border-collapse: collapse; border-spacing: 10px; font-size:  12px;" id="dedupe_customer_spouse_table">
                <thead>
                  <tr class="filters">
                    <th onclick="sortTable(0)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Loại giấy tờ</th>
                    <th onclick="sortTable(1)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Chi tiết</th>
                    <th onclick="sortTable(2)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Kết quả</th>
                    <th onclick="sortTable(3)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Code</th>
                    <th onclick="sortTable(4)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Ghi chú</th>
                    <th onclick="sortTable(5)"><input type="text" class="form-control" style="font-size:  10px;" disabled>User</th>
                    <th onclick="sortTable(6)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Ngày tạo</th>


                  </tr>
                </thead>
                <tbody id='check_list_checked_posts' name ='check_list_checked_posts' >

                {% include "en/checklist/module_show_data_checker_result.html" %}

                </tbody>
              </table>
          </div>
        </div>
      </div>



