

{% for i in pcb_customer_infor %}

<div class="form-group row">
    <label class="col-sm-12 col-form-label">Tên - {{ i.full_name }}</label>
</div>


<div class="form-group row">
    <label class="col-sm-12 col-form-label">CMND - {{ i.id_no }}</label>
</div>


<div class="form-group row">
    <label class="col-sm-12 col-form-label">Năm Sinh - {{ i.dob }}</label>
</div>


<div class="form-group row">
    <label class="col-sm-12 col-form-label">Nơi Sinh - {{ i.pob }}</label>
</div>


<div class="form-group row">
    <label class="col-sm-12 col-form-label">Tạm trú - {{ i.curress_add }}</label>
</div>


<div class="form-group row">
    <label class="col-sm-12 col-form-label">Thường trú - {{ i.per_add }}</label>
</div>


<div class="form-group row">
    <label class="col-sm-12 col-form-label">Điện Thoại - sẽ thực hiện sau</label>
</div>


<div class="form-group row">
    <label class="col-sm-12 col-form-label">Số lượng hỏi tin - {{ i.request_time }}</label>
</div>


<div class="form-group row">
    <label class="col-sm-12 col-form-label">Nhóm nợ (3 tháng) - {{ i.debt_group_3_month }}</label>
</div>

{% endfor %}