    <div id = "undcl_show_f1_loan_information">

      <!--  chổ này có thể import template   module1_gui_phvcl_show_basic_loan_infor.html nếu không ajax -->
      <div class="row" style="padding-bottom: 3px;">

        <div class="input-group" >

          <div class= "col-5">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" PRIORITY :">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
         
            </div>
          </div>

          <div class= "col-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" SALE OFFICER :">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
         
            </div>
          </div>

          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" POS/SIP/RO :">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
         
            </div>
          </div>

        </div>
        
      </div>


      <div class="row" style="padding-bottom: 3px;">

        <div class="input-group" >

          <div class= "col-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" AMOUNT:">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
            </div>
          </div>


          <div class= "col-2">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" TENURE:">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
            </div>
          </div>



          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" EMI:">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="">
            </div>
          </div>



          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" PRODUCT :">
                </span>

                <input type="text" class="form-control" name="search_customer_name" id="convert_name_2_percent" style="font-size: 12px; text-align: center;" value="">
            </div>
          </div>


        </div>

      </div>

    </div>


  <!-- cột chứa các items trên check list-->

    <div class="card text-center">



      <div class="card-header">

        <div class="input-group">

          <button class="btn btn-outline-light" style="color: black;"><strong> Main Items </strong></button>
     

          <span style="padding-right: 5px;">
            <button class="btn btn-outline-danger" id ="clear_all_und_choose" name="clear_all_und_choose"  type="button" >Clear</button>
          </span>

          <span>
            <button class="btn btn-outline-primary" id ="sumit_all_und_result" name="sumit_all_und_result"  type="button">Submit</button>
          </span>

        </div>

      </div>



      <div class="card-body">

        <label style=" padding-right: 5px; min-width: 80px">Đối chiếu giấy tờ Data kiểm tra tại Home và FI chụp bản gốc</label>

        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-id-card">


            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'ID CARD' id = "doc_type_id_card">CMND</label>

            <span style=" padding-right: 3px;">

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="id_card_result" id="id_card_ok" value="OK">OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="id_card_result" id="id_card_not_ok" value="NOT OK">NOT OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="id_card_result" id="id_card_warning" value="WARNING">WARNING
                </label>
              </div>

            </span>


            <input type="text" class="form-control" placeholder="Your comment please..." id= "id_card_comment" name = "id_card_comment" aria-label="Product name">


          </div>

        </div>



        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-family-book">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'FAMILY BOOK' id = "doc_type_family_book">HỘ KHẨU</label>

            <span style=" padding-right: 3px;">

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="family_book_result" id="family_book_ok" value="OK">OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="family_book_result" id="family_book_not_ok" value="NOT OK">NOT OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="family_book_result" id="family_book_warning" value="WARNING">WARNING
                </label>
              </div>

            </span>


            <input type="text" class="form-control" placeholder="Your comment please..." id= "family_book_comment" name = "family_book_comment">

          </div>

        </div>



        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-resident_proof">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'RESIDENT PROOF' id = "doc_type_resident_proof">CƯ TRÚ</label>

            <span style=" padding-right: 3px;">

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="resident_proof_result" id="resident_proof_ok" value="OK">OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="resident_proof_result" id="resident_proof_not_ok" value="NOT OK">NOT OK
                </label>
              </div>


              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="resident_proof_result" id="resident_proof_warning" value="WARNING">WARNING
                </label>
              </div>


            </span>


            <input type="text" class="form-control" placeholder="Your comment please..." id= "resident_proof_comment" name = "resident_proof_comment">

          </div>

        </div>




        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-work-proof">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'WORK PROOF' id = "doc_type_work_proof">CÔNG VIỆC</label>

            <span style=" padding-right: 3px;">

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="work_proof_result" id="work_proof_ok" value="OK">OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="work_proof_result" id="work_proof_not_ok" value="NOT OK">NOT OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="work_proof_result" id="work_proof_warning" value="WARNING">WARNING
                </label>
              </div>

            </span>


            <input type="text" class="form-control" placeholder="Your comment please..." id= "work_proof_comment" name = "work_proof_comment">

            <span>
              
              <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#undcl_company_detail_note" aria-expanded="false" aria-controls="collapseExample">COMPANY NOTE</button>

            </span>

          </div>

        </div>



        <div id = "und_company_note_detail">

          <div class="collapse" id="undcl_company_detail_note" style="padding-bottom: 3px;">

            <div class="card card-body">

              <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

                <div class="input-group">

                  <div class= "col-3">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="F1 TAX CODE:">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="f1_company_tax_code" style="font-size: 12px; text-align: center;" value="">

                    </div>

                  </div>



                  <div class= "col-7">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="F1 COMPANY NAME :">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="f1_company_name" style="font-size: 12px; text-align: center;" value="">

                    </div>

                  </div>


                </div>

              </div>





              <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

                <div class="input-group">


                  <div class= "col-3">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="TAX CODE:" style="min-width: 85px;">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="riskbox_company_tax_code" style="font-size: 12px; text-align: center;" value="">

                    </div>

                  </div>




                  <div class= "col-7">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="COMPANY NAME :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="und_company_name" style="font-size: 12px; text-align: center;" value="">

                    </div>

                  </div>



                </div>
              
              </div>





              <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

                <div class="input-group">


                  <div class= "col-10">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="RISK NOTE :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="risk_company_note" id="risk_company_note" style="font-size: 12px; text-align: center;" value="">


                    </div>

                  </div>


                </div>
              
              </div>



              <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

                <div class="input-group">


                  <div class= "col-10">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="DC NOTE :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="dc_company_note" style="font-size: 12px; text-align: center;" value="">


                    </div>

                  </div>


                </div>
              
              </div>




              <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

                <div class="input-group">


                  <div class= "col-10">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="PHV NOTE :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="phv_company_note" style="font-size: 12px; text-align: center;" value="">


                    </div>

                  </div>


                </div>
              
              </div>





              <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

                <div class="input-group">


                  <div class= "col-10">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="UND NOTE :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="und_company_note" style="font-size: 12px; text-align: center;" value="">

                        <span>
                            <button type="button" class="btn btn-success" id="und_create_update_company_infor">Create/Update</button>
                        </span>

                    </div>

                  </div>


                </div>
              
              </div>





              <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

                <div class="input-group">


                  <div class= "col-10">

                    <div class="input-group">
                      
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" value="SUP/TL CONFIRM :" style="min-width: 120px;">
                        </span>

                        <input type="text" class="form-control" name="search_customer_name" id="suptl_company_note" style="font-size: 12px; text-align: center;" value="">

                        <span>
                            <button type="button" class="btn btn-success" id="uw_suptl_confirm_company_infor">Confirm</button>
                        </span>


                    </div>

                  </div>


                </div>
              
              </div>





            </div>

          </div>

        </div>








        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-income-proof">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'INCOME PROOF' id = "doc_type_income_proof">THU NHẬP</label>

            <span style=" padding-right: 3px;">

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="income_proof_result" id="income_proof_ok" value="OK">OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="income_proof_result" id="income_proof_not_ok" value="NOT OK">NOT OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="income_proof_result" id="income_proof_warning" value="WARNING">WARNING
                </label>
              </div>

            </span>


            <input type="text" class="form-control" placeholder="Your comment please..." id= "income_proof_comment" name = "income_proof_comment">

          </div>

        </div>



        <label style=" padding-right: 5px; min-width: 80px">Đối chiếu thông tin PHV - FI khai thác</label>



        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-current-address">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'CURRENT ADDRESS' id = "doc_type_current_address">CUR ADD</label>

            <span style=" padding-right: 3px;">

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="current_address_result" id="current_address_ok" value="OK">OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="current_address_result" id="current_address_not_ok" value="NOT OK">NOT OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="current_address_result" id="current_address_warning" value="WARNING">WARNING
                </label>
              </div>

            </span>


            <span class="input-group-btn">

              <select class="form-control" id="und_cl_home_type">
                <option>...</option>
                <option>1 - Hộ Khẩu</option>
                <option>2 - Tạm Trú</option>
              </select>

            </span>


            <input type="text" class="form-control" placeholder="Your comment please..." id= "current_address_comment" name = "current_address_comment">

          </div>

        </div>        




        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-current-job">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'CURRENT JOB' id = "doc_type_current_job">CUR JOB</label>

            <span style=" padding-right: 3px;">

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="current_job_result" id="current_job_ok" value="OK">OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="current_job_result" id="current_job_not_ok" value="NOT OK">NOT OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="current_job_result" id="current_job_warning" value="WARNING">WARNING
                </label>
              </div>

            </span>


            <input type="text" class="form-control" placeholder="Your comment please..." id= "current_job_comment" name = "current_job_comment">

          </div>

        </div>      





        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-current-debt">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'CURRENT DEBT' id = "doc_type_current_debt">DEBT</label>

            <span style=" padding-right: 3px;">

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="current_debt_result" id="current_debt_ok" value="OK">OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="current_debt_result" id="current_debt_not_ok" value="NOT OK">NOT OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="current_debt_result" id="current_debt_warning" value="WARNING">WARNING
                </label>
              </div>

            </span>


            <input type="text" class="form-control" placeholder="Your comment please..." id= "current_debt_comment" name = "current_debt_comment">

          </div>

        </div>  



        <label style=" padding-right: 5px; min-width: 80px">Đánh giá của UND</label>



        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-payment-ability">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'PAYMENT ABILITY' id = "doc_type_payment_ability">PAYMENT</label>

            <span style=" padding-right: 3px;">

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="payment_ability_result" id="payment_ability_ok" value="OK">OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="payment_ability_result" id="payment_ability_not_ok" value="NOT OK">NOT OK
                </label>
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="payment_ability_result" id="payment_ability_warning" value="WARNING">WARNING
                </label>
              </div>

            </span>


            <input type="text" class="form-control" placeholder="Your comment please..." id= "payment_ability_comment" name = "payment_ability_comment">

          </div>

        </div> 





        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-other-evaluation">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'OTHER EVALUATION' id = "doc_type_other_evaluation">OTHER</label>


            <input type="text" class="form-control" placeholder="Your comment please..." id= "other_evaluation_comment" name = "other_evaluation_comment">

          </div>

        </div> 


        <div class="row" id="phv_cl_view_phv_dti_calculation">


        </div>




        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-approve-loan-amount">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'APPROVE LOAN AMOUNT' id = "doc_type_approve_loan_amount">APPROVE LA</label>


            <input type="text" class="form-control" placeholder="Your approved loan amount..." id= "approve_loan_amount_comment" name = "approve_loan_amount_comment" style = "max-width: 200px;">


          </div>

        </div>




        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-approve-tennor">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'FINAL TENNOR' id = "doc_type_final_tennor">TENNOR</label>

            <input type="text" class="form-control" placeholder="Your approved tennor..." id= "final_tennor_comment" name = "final_tennor_comment" style = "max-width: 200px;">


          </div>

        </div> 




        <div class="row" style="padding-bottom: 3px;">

          <div class="input-group" id = "decision-4-decrease-loan-amount">

            <label for="exampleInputEmail1" style=" padding-right: 5px; min-width: 80px" paper_type = 'REASON DECREASE LOAN AMOUNT' id = "doc_type_reason_decrease_loan_amount">REASON</label>

            <input type="text" class="form-control" placeholder="Your approved tennor..." id= "reason_decrease_loan_amount_comment" name = "reason_decrease_loan_amount_comment">



          </div>

        </div> 







        <div class="row border border-dark" style="padding-bottom: 3px;">

          <div class="card" style="width: 100%"">

            <div class="card-body">

              <div class="input-group" id= "get_und_note_4_status">


                    <div class="row" style="margin-left: auto; margin-right: auto;">

                      <div class="col-sm-12">

                        <label paper_type = 'UND_LAS_STATUS' id = "und_las_status" style="padding-right: 15px;">STATUS : </label>

                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_defer" value="UW_UND_DEFER">DEFER
                          </label>
                        </div>

                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_pending" value="UW_UND_PEND">PENDING
                          </label>
                        </div>

                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_send_fi" value="UW_UND_SEND_FI" >FI 
                          </label>
                        </div>

                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_reject" value="UW_UND_REJECT" >REJECT 
                          </label>
                        </div>

                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_approve" value="UW_UND_APPROVE" >APPROVE 
                          </label>
                        </div>


                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_cancel" value="UW_UND_CANCEL" >CANCEL 
                          </label>
                        </div>

                      </div>

                      <div class="col-sm-12">

                        <input type="text" class="form-control" placeholder="Your comment please..." id= "und_note_last_status" name = "und_note_last_status" aria-label="Product name" style="width: 100%">

                      </div>

                    </div>


              </div>

            </div>

          </div>



        </div>  





        <br/>




        <div class="card filterable" style="height: 70%; padding: 1 1 1 1;">

          <div class="pull-right">
              <button class="btn btn-default btn-xs btn-filter"><span class="fa fa-filter" id="mydedupedc"></span> Filter</button>
          </div>

          <div style="display: inline-block; height: 100%; width: 100%; overflow-x: scroll;" id = 'results-search'>
            <div style="position: relative;">
                <table class="table table-striped table-hover table-responsive" style="border-collapse: collapse; border-spacing: 10px; font-size:  12px; overflow-x: scroll;" id="dedupe_customer_spouse_table">

                  <thead>
                    <tr class="filters">

                      <th onclick="sortTable(0)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Item</th>
                      <th onclick="sortTable(1)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Kết quả</th>
                      <th onclick="sortTable(2)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Types</th>
                      <th onclick="sortTable(3)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Quyết định</th>
                      <th onclick="sortTable(4)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Ghi chú</th>
                      <th onclick="sortTable(5)"><input type="text" class="form-control" style="font-size:  10px;" disabled>User</th>
                      <th onclick="sortTable(6)"><input type="text" class="form-control" style="font-size:  10px;" disabled>Ngày</th>

                    </tr>



                  </thead>


                  <tbody id='und_check_list_checked_posts' name ='und_check_list_checked_posts' >

                  <!-- import table chứa lịch sử kiểm tra ở đây  -->

                  </tbody>


                </table>
            </div>
          </div>
        </div>




      </div>

    </div>


