
      <div class="row" style="padding-bottom: 3px;">

           <div class= "alert alert-warning col-6">
            {% for score in nice_score_first_try %}
            Nice score 1st try: {{ score.nice_score }} by {{ score.user_get_app}}
            {% endfor %}

          </div>

          <div class= "alert alert-warning col-6">
            {% for score in nice_score_last_try %}
            Nice score last try: {{ score.nice_score }} by {{ score.user_get_app}}
            {% endfor %}         

          </div>         

      </div>
    
      {% for loan in basic_loan_infor%}

      <div class="row" style="padding-bottom: 3px;">

        <div class="input-group" >

          <div class= "col-5">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" PRIORITY :">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" id = "phvcl_basic_loan_infor_priority" value="{{ loan.priority }}" readonly>
         
            </div>
          </div>

          <div class= "col-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" SALE OFFICER :">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" id = "phvcl_basic_loan_infor_sale_officer" value="{{ loan.inspectorname }}" readonly>
         
            </div>
          </div>

          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" POS/SIP/RO :">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" id = "phvcl_basic_loan_infor_pos" value="" readonly>
         
            </div>
          </div>

        </div>
        
      </div>


      <div class="row" style="padding-bottom: 3px;">

        <div class="input-group" >

          <div class= "col-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" AMOUNT:">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="{{ loan.laa_app_req_amtfin_n }}" id = "phvcl_basic_loan_infor_amount" readonly>
            </div>
          </div>


          <div class= "col-2">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" TENURE:">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="{{ loan.laa_app_loandtl_term_n }}" id = "phvcl_basic_loan_infor_tenure" readonly>
            </div>
          </div>


          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" value=" EMI:">
                </span>

                <input type="text" class="form-control" style="font-size: 12px; text-align: center;" value="{{ loan.laa_emi_n }}" id = "phvcl_basic_loan_infor_emi" readonly>
            </div>
          </div>


          {% if loan.laa_product_id_c == 'SALPIL'  %}
          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Cash Loan" value=" PRODUCT :">
                </span>

                <input type="text" class="form-control" name="search_customer_name" id="convert_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ loan.laa_product_id_c }}" id = "phvcl_basic_loan_infor_product" readonly>
            </div>
          </div>

          {% elif loan.laa_product_id_c == 'FALPIL' %}
          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="bottom" data-content="FAST LOAN" value=" PRODUCT :">
                </span>

                <input type="text" class="form-control" name="search_customer_name" id="convert_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ loan.laa_product_id_c }}" id = "phvcl_basic_loan_infor_product" readonly>
            </div>
          </div>
          {% elif loan.laa_product_id_c == 'MAEALPIL' %}
          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="bottom" data-content="MA EMPLOYEE CASH LOAN" value=" PRODUCT :">
                </span>

                <input type="text" class="form-control" name="search_customer_name" id="convert_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ loan.laa_product_id_c }}" id = "phvcl_basic_loan_infor_product" readonly>
            </div>
          </div>
          {% elif loan.laa_product_id_c == 'OCLPIL' %}
          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="bottom" data-content="ONLINE CASH LOAN" value=" PRODUCT :">
                </span>

                <input type="text" class="form-control" name="search_customer_name" id="convert_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ loan.laa_product_id_c }}" id = "phvcl_basic_loan_infor_product" readonly>
            </div>
          </div>
          {% elif loan.laa_product_id_c == 'SELPIL' %}
          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="bottom" data-content="SELF-EMPLOYED CASH LOAN" value=" PRODUCT :">
                </span>

                <input type="text" class="form-control" name="search_customer_name" id="convert_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ loan.laa_product_id_c }}" id = "phvcl_basic_loan_infor_product" readonly>
            </div>
          </div>
          {% elif loan.laa_product_id_c == 'TOPPIL' %}
          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="bottom" data-content="TOPUP - XSELL" value=" PRODUCT :">
                </span>

                <input type="text" class="form-control" name="search_customer_name" id="convert_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ loan.laa_product_id_c }}" id = "phvcl_basic_loan_infor_product" readonly>
            </div>
          </div>
          {% else %}
          <div class= "col-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="bottom" data-content="unknow" value=" PRODUCT :">
                </span>

                <input type="text" class="form-control" name="search_customer_name" id="convert_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ loan.laa_product_id_c }}" id = "phvcl_basic_loan_infor_product" readonly>
            </div>
          </div> 
          {% endif %}         




        </div>

      </div>

      {% endfor %}