{% for post in posts_defer_note %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_defer_note" data-target=".posts_defer_note">
  <td bgcolor="#FF717E"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#FF717E">{{ post.paper_type_item }}</td>
  <td bgcolor="#FF717E">{{ post.checked_result }}</td>
  <td bgcolor="#FF717E">{{ post.checked_code }}</td>
  <td bgcolor="#FF717E">{{ post.checked_comment }}</td>
  <td bgcolor="#FF717E">{{ post.action_username }}</td>
  <td bgcolor="#FF717E">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_defer_note show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.paper_type_item }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.checked_code }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}




{% for post in posts_id_card %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_id_card" data-target=".posts_id_card">
  <td bgcolor="#5D7B9D"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
  <td bgcolor="#5D7B9D">{{ post.paper_type_item }}</td>
  <td bgcolor="#5D7B9D">{{ post.checked_result }}</td>
  <td bgcolor="#5D7B9D">{{ post.checked_code }}</td>
  <td bgcolor="#5D7B9D">{{ post.checked_comment }}</td>
  <td bgcolor="#5D7B9D">{{ post.action_username }}</td>
  <td bgcolor="#5D7B9D">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_id_card show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.paper_type_item }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.checked_code }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}



{% for post in posts_family_book %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_family_book" data-target=".posts_family_book">
	<td bgcolor="#0099CC"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
	<td bgcolor="#0099CC">{{ post.paper_type_item }}</td>
	<td bgcolor="#0099CC">{{ post.checked_result }}</td>
	<td bgcolor="#0099CC">{{ post.checked_code }}</td>
	<td bgcolor="#0099CC">{{ post.checked_comment }}</td>
	<td bgcolor="#0099CC">{{ post.action_username }}</td>
	<td bgcolor="#0099CC">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_family_book show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.paper_type_item }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.checked_code }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}




{% for post in posts_work_proof %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_work_proof" data-target=".posts_work_proof">
	<td bgcolor="#CCFFCC"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
	<td bgcolor="#CCFFCC">{{ post.paper_type_item }}</td>
	<td bgcolor="#CCFFCC">{{ post.checked_result }}</td>
	<td bgcolor="#CCFFCC">{{ post.checked_code }}</td>
	<td bgcolor="#CCFFCC">{{ post.checked_comment }}</td>
	<td bgcolor="#CCFFCC">{{ post.action_username }}</td>
	<td bgcolor="#CCFFCC">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_work_proof show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.paper_type_item }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.checked_code }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}




{% for post in posts_income_proof %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_income_proof" data-target=".posts_income_proof">
	<td bgcolor="#66CCFF"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
	<td bgcolor="#66CCFF">{{ post.paper_type_item }}</td>
	<td bgcolor="#66CCFF">{{ post.checked_result }}</td>
	<td bgcolor="#66CCFF">{{ post.checked_code }}</td>
	<td bgcolor="#66CCFF">{{ post.checked_comment }}</td>
	<td bgcolor="#66CCFF">{{ post.action_username }}</td>
	<td bgcolor="#66CCFF">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_income_proof show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.paper_type_item }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.checked_code }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}





{% for post in posts_current_address %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_current_address" data-target=".posts_current_address">
	<td bgcolor="#528413"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
	<td bgcolor="#528413">{{ post.paper_type_item }}</td>
	<td bgcolor="#528413">{{ post.checked_result }}</td>
	<td bgcolor="#528413">{{ post.checked_code }}</td>
	<td bgcolor="#528413">{{ post.checked_comment }}</td>
	<td bgcolor="#528413">{{ post.action_username }}</td>
	<td bgcolor="#528413">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_current_address show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.paper_type_item }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.checked_code }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}



{% for post in posts_cib %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_cib" data-target=".posts_cib">
	<td bgcolor="#2088B2"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
	<td bgcolor="#2088B2">{{ post.paper_type_item }}</td>
	<td bgcolor="#2088B2">{{ post.checked_result }}</td>
	<td bgcolor="#2088B2">{{ post.checked_code }}</td>
	<td bgcolor="#2088B2">{{ post.checked_comment }}</td>
	<td bgcolor="#2088B2">{{ post.action_username }}</td>
	<td bgcolor="#2088B2">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_cib show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.paper_type_item }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.checked_code }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}





{% for post in posts_tax %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_tax" data-target=".posts_tax">
	<td bgcolor="#D86E3F"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
	<td bgcolor="#D86E3F">{{ post.paper_type_item }}</td>
	<td bgcolor="#D86E3F">{{ post.checked_result }}</td>
	<td bgcolor="#D86E3F">{{ post.checked_code }}</td>
	<td bgcolor="#D86E3F">{{ post.checked_comment }}</td>
	<td bgcolor="#D86E3F">{{ post.action_username }}</td>
	<td bgcolor="#D86E3F">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_tax show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.paper_type_item }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.checked_code }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}






{% for post in posts_dedupe %}

{% if forloop.first %}
    
<tr class="panel-heading collapsed" data-toggle="collapse" id="posts_dedupe" data-target=".posts_dedupe">
	<td bgcolor="#B0C4DE"><i class="chevron fa fa-fw" ></i>{{ post.paper_type }}</td>
	<td bgcolor="#B0C4DE">{{ post.paper_type_item }}</td>
	<td bgcolor="#B0C4DE">{{ post.checked_result }}</td>
	<td bgcolor="#B0C4DE">{{ post.checked_code }}</td>
	<td bgcolor="#B0C4DE">{{ post.checked_comment }}</td>
	<td bgcolor="#B0C4DE">{{ post.action_username }}</td>
	<td bgcolor="#B0C4DE">{{ post.date_created }}</td>
</tr>    

{% else %}

<tr class="collapse posts_dedupe show">
  <td>{{ post.paper_type }}</td>
  <td>{{ post.paper_type_item }}</td>
  <td>{{ post.checked_result }}</td>
  <td>{{ post.checked_code }}</td>
  <td>{{ post.checked_comment }}</td>
  <td>{{ post.action_username }}</td>
  <td>{{ post.date_created }}</td>
</tr>
{% endif %}

{% endfor %}
