

    <ul class="nav nav-tabs" id="myTab" role="tablist">

      <li class="nav-item">
        <a class="nav-link active" id="check_list_main-tab" data-toggle="tab" href="#check_list_main" role="tab" aria-controls="check_list_main" aria-expanded="true">Check List</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" id="app_information_main-tab" data-toggle="tab" href="#app_information_main" role="tab" aria-controls="app_information_main">App Information</a>
      </li>


      <li class="nav-item">
        <a class="nav-link disabled" id="checklist_decision_main-tab" data-toggle="tab" href="#app_information_main" role="tab" aria-controls="app_information_main">

          <button class="btn btn-outline-danger" id ="clear_all_datachecker_choose" name="clear_all_datachecker_choose"  type="button">Clear</button>

          <button class="btn btn-outline-primary" id ="sumit_all_datachecker_result" name="sumit_all_datachecker_result"  type="button">Submit</button>

        </a>
      </li>


    </ul>