
<div class="table-responsive table-hover">
    <table class="table">
        <thead>
            <tr>
                <th style="padding-top: 0rem; padding-bottom: 0rem;">#</th>
                <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Mã TCTD</small></th>
                <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Hạn mức</small></th>
                <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Dư nợ</small></th>
                <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Tháng</small></th>
                <th style="padding-top: 0rem; padding-bottom: 0rem;"><small>Nhóm</small></th>
            </tr>
        </thead>
        <tbody>

            {% for i in pcb_customer_card%}
            <tr>
                <td><small>{{i.loantype}}</small></td>
                <td><small>{{i.cbcontractcode}}</small></td>
                <td><small>{{i.creditlimit}}</small></td>
                <td><small>{{i.residualamount}}</small></td>
                <td><small>{{i.monthlyinstalmentamount}}</small></td>
                <td><small>{{i.worststatus}}</small></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>