
  {% for basic_infor in basic_app_infor %}

  <a class="nav-link active" id="check_dedupe_id_4_cux_sp_tab" data-toggle="pill" href="#check_dedupe_id_4_cux_sp" role="tab" aria-controls="check_dedupe_id_4_cux_sp" aria-expanded="true">
    
    <strong style="color: black;"> <i class="fa fa-list-ol"></i> Dedupe ID </strong>

  </a> 


  <a class="nav-link" id="datacheck_tab_item_checklist_tab" data-toggle="pill" href="#datacheck_tab_item_checklist" role="tab" aria-controls="datacheck_tab_item_checklist" aria-expanded="true">
    
    <strong style="color: black;"> <i class="fa fa-list-ol"></i> DC CL - {{ basic_infor.app_id_c }}</strong>
    <!--  chổ này có thể import template   module_tab_data_checker_cl.html nếu không ajax -->

  </a>


  <a class="nav-link" id="check_dedupe_mobile_4_cux_ref_tab" data-toggle="pill" href="#check_dedupe_mobile_4_cux_ref" role="tab" aria-controls="check_dedupe_mobile_4_cux_ref" aria-expanded="true">

    <strong style="color: black;"> <i class="fa fa-list-ol"></i> Dedupe Mobile </strong>

  </a>


  <a class="nav-link" id="phv_tab_item_checklist_tab" data-toggle="pill" href="#phv_tab_item_checklist" role="tab" aria-controls="phv_tab_item_checklist" aria-expanded="true">

    <strong style="color: black;"> <i class="fa fa-list-ol"></i> PHV CL - {{ basic_infor.app_id_c }}</strong>

    <!--  chổ này có thể import template   module_tab_phv_cl.html nếu không ajax -->

  </a>



  <a class="nav-link" id="und_tab_item_checklist_tab" data-toggle="pill" href="#und_tab_item_checklist" role="tab" aria-controls="und_tab_item_checklist" aria-expanded="true">

    <strong style="color: black;"> <i class="fa fa-list-ol"></i> UND CL - {{ basic_infor.app_id_c }}</strong>

    <!--  chổ này có thể import template   module_tab_phv_cl.html nếu không ajax -->

  </a>


   
  {% endfor %}