<div class="row" style="margin-left: auto; margin-right: auto;">			

	<div class="col-sm-12">

		<label paper_type = 'UND_LAS_STATUS' id = "und_las_status" style="padding-right: 15px;">STATUS : </label>

		{% if und_note_status %}

			{% for note in und_note_status %}

			
			{% if note.action_type_detail == 'UW_UND_DEFER' %}
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_defer" value="UW_UND_DEFER" checked = "checked">DEFER
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_pending" value="UW_UND_PEND">PENDING
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_send_fi" value="UW_UND_SEND_FI" >FI 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_reject" value="UW_UND_REJECT" >REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_approve" value="UW_UND_APPROVE" >APPROVE 
              </label>
            </div>


            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_cancel" value="UW_UND_CANCEL" >CANCEL 
              </label>
            </div>

          </div>

			<div class="col-sm-12">

				<input type="text" class="form-control" placeholder="Your comment please..." id= "und_note_last_status" name = "und_note_last_status" aria-label="Product name" value = "{{ note.action_comment }}" style="width: 100%">

			</div>


			{% elif note.action_type_detail == 'UW_UND_PEND' %}

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_defer" value="UW_UND_DEFER" >DEFER
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_pending" value="UW_UND_PEND" checked = "checked" >PENDING
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_send_fi" value="UW_UND_SEND_FI" >FI 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_reject" value="UW_UND_REJECT" >REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_approve" value="UW_UND_APPROVE" >APPROVE 
              </label>
            </div>


            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_cancel" value="UW_UND_CANCEL" >CANCEL 
              </label>
            </div>

          </div>

			<div class="col-sm-12">

				<input type="text" class="form-control" placeholder="Your comment please..." id= "und_note_last_status" name = "und_note_last_status" aria-label="Product name" value = "{{ note.action_comment }}" style="width: 100%">

			</div>



			{% elif note.action_type_detail == 'UW_UND_SEND_FI' %}

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_defer" value="UW_UND_DEFER" >DEFER
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_pending" value="UW_UND_PEND"  >PENDING
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_send_fi" value="UW_UND_SEND_FI" checked = "checked" >FI 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_reject" value="UW_UND_REJECT" >REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_approve" value="UW_UND_APPROVE" >APPROVE 
              </label>
            </div>


            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_cancel" value="UW_UND_CANCEL" >CANCEL 
              </label>
            </div>

          </div>

			<div class="col-sm-12">

				<input type="text" class="form-control" placeholder="Your comment please..." id= "und_note_last_status" name = "und_note_last_status" aria-label="Product name" value = "{{ note.action_comment }}" style="width: 100%">

			</div>			




			{% elif note.action_type_detail == 'UW_UND_REJECT' %}

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_defer" value="UW_UND_DEFER" >DEFER
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_pending" value="UW_UND_PEND"  >PENDING
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_send_fi" value="UW_UND_SEND_FI" >FI 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_reject" value="UW_UND_REJECT" checked = "checked">REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_approve" value="UW_UND_APPROVE" >APPROVE 
              </label>
            </div>


            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_cancel" value="UW_UND_CANCEL" >CANCEL 
              </label>
            </div>

          </div>

			<div class="col-sm-12">

				<input type="text" class="form-control" placeholder="Your comment please..." id= "und_note_last_status" name = "und_note_last_status" aria-label="Product name" value = "{{ note.action_comment }}" style="width: 100%">

			</div>		



			{% elif note.action_type_detail == 'UW_UND_APPROVE' %}

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_defer" value="UW_UND_DEFER" >DEFER
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_pending" value="UW_UND_PEND"  >PENDING
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_send_fi" value="UW_UND_SEND_FI" >FI 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_reject" value="UW_UND_REJECT" >REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_approve" value="UW_UND_APPROVE" checked = "checked">APPROVE 
              </label>
            </div>


            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_cancel" value="UW_UND_CANCEL" >CANCEL 
              </label>
            </div>

          </div>

			<div class="col-sm-12">

				<input type="text" class="form-control" placeholder="Your comment please..." id= "und_note_last_status" name = "und_note_last_status" aria-label="Product name" value = "{{ note.action_comment }}" style="width: 100%">

			</div>		




			{% elif note.action_type_detail == 'UW_UND_CANCEL' %}

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_defer" value="UW_UND_DEFER" >DEFER
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_pending" value="UW_UND_PEND"  >PENDING
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_send_fi" value="UW_UND_SEND_FI" >FI 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_reject" value="UW_UND_REJECT" >REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_approve" value="UW_UND_APPROVE" >APPROVE 
              </label>
            </div>


            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_cancel" value="UW_UND_CANCEL" checked = "checked" >CANCEL 
              </label>
            </div>

          </div>

			<div class="col-sm-12">

				<input type="text" class="form-control" placeholder="Your comment please..." id= "und_note_last_status" name = "und_note_last_status" aria-label="Product name" value = "{{ note.action_comment }}" style="width: 100%">

			</div>	



			{% else %}

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_defer" value="UW_UND_DEFER" >DEFER
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_pending" value="UW_UND_PEND"  >PENDING
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_send_fi" value="UW_UND_SEND_FI" >FI 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_reject" value="UW_UND_REJECT" >REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_approve" value="UW_UND_APPROVE" >APPROVE 
              </label>
            </div>


            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_cancel" value="UW_UND_CANCEL" >CANCEL 
              </label>
            </div>

          </div>

			<div class="col-sm-12">

				<input type="text" class="form-control" placeholder="Your comment please..." id= "und_note_last_status" name = "und_note_last_status" aria-label="Product name" style="width: 100%">

			</div>	

			{% endif %}

			{% endfor %}

		{% else %}


            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_defer" value="UW_UND_DEFER" >DEFER
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_pending" value="UW_UND_PEND"  >PENDING
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_send_fi" value="UW_UND_SEND_FI" >FI 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_reject" value="UW_UND_REJECT" >REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_approve" value="UW_UND_APPROVE" >APPROVE 
              </label>
            </div>


            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_und_last_status" id="uw_und_cancel" value="UW_UND_CANCEL" >CANCEL 
              </label>
            </div>

          </div>

			<div class="col-sm-12">

				<input type="text" class="form-control" placeholder="Your comment please..." id= "und_note_last_status" name = "und_note_last_status" aria-label="Product name" style="width: 100%">

			</div>	

</div>
		{% endif %}
