
<!-- Giấy CMND -->
  <div class="row" style="padding-bottom: 3px;">
    <div class="col-lg-offset-3 col-lg-12">

      <div class="input-group" id = "decision-id-card">
        <label for="exampleInputEmail1" style="min-width: 160px" paper_type = 'ID CARD' id = "doc_type_id_card">ID CARD</label>
        <span style=" padding-right: 3px;">

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="id_card_result" id="id_card_ok" value="OK">OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="id_card_result" id="id_card_not_ok" value="NOT OK">NOT OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="id_card_result" id="id_card_warning" value="WARNING">WARNING
            </label>
          </div>

        </span>


        <input type="text" class="form-control" placeholder="Your comment please..." id= "id_card_comment" name = "id_card_comment" aria-label="Product name">

      </div>
    </div>
  </div>







<!-- Giấy HK -->
  <div class="row" style="padding-bottom: 3px;">
    <div class="col-lg-offset-3 col-lg-12">
      <div class="input-group">
        <label for="exampleInputEmail1" style="min-width: 160px" paper_type = 'FAMILY BOOK' id = "doc_type_family_book">FAMILY BOOK</label>

        <span style=" padding-right: 3px;">

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="family_book_result" id="family_book_ok" value="OK">OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="family_book_result" id="family_book_not_ok" value="NOT OK">NOT OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="family_book_result" id="family_book_not_ok" value="WARNING">WARNING
            </label>
          </div>
        </span>


        <input type="text" class="form-control" placeholder="Your comment please..." id= "family_book_comment" name = "family_book_comment" aria-label="Product name">

      </div>
    </div>
  </div>







<!-- Giấy Chứng minh công việc -->
  <div class="row" style="padding-bottom: 3px;">
    <div class="col-lg-offset-3 col-lg-12">
      <div class="input-group">

        <a href="#dccl_company_detail_note" data-toggle="collapse" style="min-width: 160px;" paper_type = 'WORK PROOF' id = "doc_type_work_proof">WORK PROOF</a>

        <span style=" padding-right: 3px;">

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="work_proof_result" id="work_proof_ok" value="OK">OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="work_proof_result" id="work_proof_not_ok" value="NOT OK">NOT OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="work_proof_result" id="work_proof_warning" value="WARNING">WARNING
            </label>
          </div>

        </span>


        <span class="input-group-btn">

          <select class="form-control" id="work_proof_paper_type" style="width: 235px;">
            <option>...</option>
            <option>GXN công tác</option>
            <option>HĐLĐ</option>
            <option>QĐ của công ty/nhà nước</option>
            <option>HĐTD tại TCTD khác</option>
            <option>GPĐKKD</option>
          </select>

        </span>


        <input type="text" class="form-control" placeholder="Your comment please..." id= "work_proof_comment" name = "work_proof_comment" aria-label="Product name">

      </div>
    </div>
  </div>






  <div id = "dc_company_note_detail">

    <div class="collapse" id="dccl_company_detail_note" style="padding-bottom: 3px;">

      <div class="card card-body">

        <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

          <div class="input-group">

            <div class= "col-3">

              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="F1 TAX CODE:">
                  </span>

                  <input type="text" class="form-control" name="search_customer_name" id="f1_company_tax_code" style="font-size: 12px; text-align: center;" value="">

              </div>

            </div>



            <div class= "col-7">

              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="F1 COMPANY NAME :">
                  </span>

                  <input type="text" class="form-control" name="search_customer_name" id="f1_company_name" style="font-size: 12px; text-align: center;" value="">

              </div>

            </div>


          </div>

        </div>





        <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

          <div class="input-group">


            <div class= "col-3">

              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="TAX CODE:" style="min-width: 85px;">
                  </span>

                  <input type="text" class="form-control" name="search_customer_name" id="riskbox_company_tax_code" style="font-size: 12px; text-align: center;" value="">

              </div>

            </div>




            <div class= "col-7">

              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="COMPANY NAME :" style="min-width: 120px;">
                  </span>

                  <input type="text" class="form-control" name="search_customer_name" id="und_company_name" style="font-size: 12px; text-align: center;" value="">

              </div>

            </div>



          </div>
        
        </div>





        <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

          <div class="input-group">


            <div class= "col-10">

              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="RISK NOTE :" style="min-width: 120px;">
                  </span>

                  <input type="text" class="form-control" name="risk_company_note" id="risk_company_note" style="font-size: 12px; text-align: center;" value="">


              </div>

            </div>


          </div>
        
        </div>



        <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

          <div class="input-group">


            <div class= "col-10">

              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="DC NOTE :" style="min-width: 120px;">
                  </span>

                  <input type="text" class="form-control" name="search_customer_name" id="dc_company_note" style="font-size: 12px; text-align: center;" value="">

                  <span>
                      <button type="button" class="btn btn-success" id="dc_create_update_company_infor">Create/Update</button>
                  </span>

              </div>

            </div>


          </div>
        
        </div>




        <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

          <div class="input-group">


            <div class= "col-10">

              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="PHV NOTE :" style="min-width: 120px;">
                  </span>

                  <input type="text" class="form-control" name="search_customer_name" id="phv_company_note" style="font-size: 12px; text-align: center;" value="">


              </div>

            </div>


          </div>
        
        </div>





        <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

          <div class="input-group">


            <div class= "col-10">

              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="UND NOTE :" style="min-width: 120px;">
                  </span>

                  <input type="text" class="form-control" name="search_customer_name" id="und_company_note" style="font-size: 12px; text-align: center;" value="">

              </div>

            </div>


          </div>
        
        </div>





        <div class="row" style="padding-bottom: 3px; padding-left: 70px;">

          <div class="input-group">


            <div class= "col-10">

              <div class="input-group">
                  <span class="input-group-btn">
                      <input type="button" class="btn btn-secondary btn-sm" value="SUP/TL CONFIRM :" style="min-width: 120px;">
                  </span>

                  <input type="text" class="form-control" name="search_customer_name" id="suptl_company_note" style="font-size: 12px; text-align: center;" value="">


              </div>

            </div>


          </div>
        
        </div>





      </div>

    </div>

  </div>























<!-- Giấy Chứng minh thu nhập -->
  <div class="row" style="padding-bottom: 3px;">
    <div class="col-lg-offset-3 col-lg-12">
      <div class="input-group">
        <label for="exampleInputEmail1" style="min-width: 160px" paper_type = 'INCOME PROOF' id = "doc_type_income_proof">INCOME PROOF</label>

        <span style=" padding-right: 3px;">

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="income_proof_result" id="income_proof_ok" value="OK">OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="income_proof_result" id="income_proof_not_ok" value="NOT OK">NOT OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="income_proof_result" id="income_proof_warning" value="WARNING">WARNING
            </label>
          </div>

        </span>




        <span class="input-group-btn">

          <select class="form-control" id="income_proof_paper_type" style="width: 235px;">
            <option>...</option>
            <option>SKNH</option>
            <option>Bảng lương cá nhân</option>
            <option>Bảng lương tập thể</option>
            <option>GXN lương</option>
            <option>Hóa đơn thanh toán khoản vay</option>
            <option>Biên lai nộp thuế</option>
          </select>

        </span>



        <input type="text" class="form-control" placeholder="Your comment please..." id= "income_proof_comment" name = "income_proof_comment" aria-label="Product name">

      </div>
    </div>
  </div>









<!-- Giấy tạm trú -->
  <div class="row" style="padding-bottom: 3px;">
    <div class="col-lg-offset-3 col-lg-12">
      <div class="input-group">
        <label for="exampleInputEmail1" style="min-width: 160px" paper_type = 'CURRENT ADDRESS' id = "doc_type_current_address_proof">CURRENT ADDRESS</label>

        <span style=" padding-right: 3px;">

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="current_address_result" id="current_address_ok" value="OK">OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="current_address_result" id="current_address_not_ok" value="NOT OK">NOT OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="current_address_result" id="current_address_warning" value="WARNING">WARNING
            </label>
          </div>

        </span>




        <span class="input-group-btn">

          <select class="form-control" id="current_address_paper_type" style="width: 235px;">
            <option>...</option>
            <option>Sổ tạm trú/lưu trú</option>
            <option>Thẻ tạm trú</option>
            <option>GXN Tạm trú/lưu trú</option>
            <option>Thông báo tạm trú/lưu trú</option>
            <option>Hóa đơn điện/nước</option>
            <option>BHYT</option>
          </select>

        </span>


        <input type="text" class="form-control" placeholder="Your comment please..." id= "current_address_comment" name = "current_address_comment" aria-label="Product name">

      </div>
    </div>
  </div>












<!-- CIB -->
  <div class="row" style="padding-bottom: 3px;">
    <div class="col-lg-offset-3 col-lg-12">
      <div class="input-group">
        <label for="exampleInputEmail1" style="min-width: 160px" paper_type = 'CIB' id = "doc_type_cib">CIB</label>

        <span style=" padding-right: 3px;">

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="cib_result" id="cib_result_ok" value="OK">OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="cib_result" id="cib_result_not_ok" value="NOT OK">NOT OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="cib_result" id="cib_result_warning" value="WARNING">WARNING
            </label>
          </div>

        </span>




        <span class="input-group-btn">

          <select class="form-control" id="cib_result_type">
            <option>...</option>
            <option>Customer</option>
            <option>Spouse</option>
            <option>Self</option>
          </select>

        </span>





        <span class="input-group-btn">

          <select class="form-control" id="cib_result_id_card">
            <option>...</option>
            <option>CMND hiện tại</option>
            <option>CMND cũ</option>
            <option>GPKD</option>
            <option>MST</option>
          </select>

        </span>


        <input type="text" class="form-control" placeholder="Your comment please..." id= "cib_comment" name = "cib_comment" aria-label="Product name" >

      </div>
    </div>
  </div>











<!-- TAX -->

  <div class="row" style="padding-bottom: 3px;">
    <div class="col-lg-offset-3 col-lg-12">
      <div class="input-group">
        <label for="exampleInputEmail1" style="min-width: 160px" paper_type = 'TAX' id = "doc_type_tax">TAX</label>

        <span style=" padding-right: 3px;">

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="check_tax_result" id="check_tax_ok" value="OK">OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="check_tax_result" id="check_tax_not_ok" value="NOT OK">NOT OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="check_tax_result" id="check_tax_warning" value="WARNING">WARNING
            </label>
          </div>

        </span>




        <span class="input-group-btn">

          <select class="form-control" id="check_tax_type">
            <option>...</option>
            <option>Customer</option>
            <option>Spouse</option>
            <option>Self</option>
          </select>

        </span>





        <span class="input-group-btn">

          <select class="form-control" id="check_tax_id_card">
            <option>...</option>
            <option>CMND hiện tại</option>
            <option>CMND cũ</option>
          </select>

        </span>


        <input type="text" class="form-control" placeholder="Your comment please..." aria-label="Product name" id= "tax_comment" name = "tax_comment">

      </div>
    </div>
  </div>






<!-- DEDUPE -->

  <div class="row" style="padding-bottom: 3px;">
    <div class="col-lg-offset-3 col-lg-12">
      <div class="input-group">
        <label for="exampleInputEmail1" style="min-width: 160px" paper_type = 'DUPE' id = "doc_type_dedupe">DUPE</label>

        <span style=" padding-right: 3px;">

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="check_dedupe_result" id="check_dedupe_ok" value="OK">OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="check_dedupe_result" id="check_dedupe_not_ok" value="NOT OK">NOT OK
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="check_dedupe_result" id="check_dedupe_warning" value="WARNING">WARNING
            </label>
          </div>

        </span>




        <span class="input-group-btn">

          <select class="form-control" id="check_dedupe_type">
            <option>...</option>
            <option>Customer</option>
            <option>Spouse</option>
            <option>Self</option>
          </select>

        </span>


        <input type="text" class="form-control" placeholder="Your comment please..." aria-label="Product name" id= "dedupe_comment" name = "dedupe_comment">

      </div>
    </div>
  </div>







<!-- DEFER NOTE -->

  <div class="row" style="padding-bottom: 3px;">
    <div class="col-lg-offset-3 col-lg-12">
      <div class="input-group" id= "get_dc_note_4_status">

        <label style="min-width: 160px" paper_type = 'DEFER' id = "doc_type_defer">STATUS</label>

        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_defer" value="UW_DC_DEFER">DEFER
          </label>
        </div>

        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_pending" value="UW_DC_PEND">PENDING
          </label>
        </div>

        <div class="form-check form-check-inline">
          <label class="form-check-label" style = " padding-right: 3px;">
            <input class="form-check-input" type="radio" name="uw_dc_pending" id="uw_dc_pending" value="UW_DC_FINISH" >FINISH 
          </label>
        </div>

        <input type="text" class="form-control" placeholder="Your comment please..." aria-label="Product name" id= "defer_note" name = "defer_note">




      </div>
    </div>
  </div>  


  <div class="row" id = 'get_link_from_und_sale_directory' style="padding-left: 15px;">
    <p> 
    Home File Link:
    </p>
  </div>