

    <div class="panel panel-default">

      <div class="panel-body">
 
        <div class="row">


          <!-- Ajax will pull data to the whole tab main-items-search_cux -->
          <div class= "col-sm-9 col-md-9" id= 'main-items-search_cux' name= 'main-items-search_cux'>
            <div class = "row">
          
                <div class="form-group col-sm-5 col-md-5">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_name_in_textfield()" value= "CUST NAME :" />
                          </span>

                          <input type="text" class="form-control" name="search_customer_name" id="convert_name_2_percent" style="font-size: 12px; text-align: center;" value="">
                   
                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_dob_in_textfield()" value= "DOB :" />
                          </span>

                          <input type="text" class="form-control" name="search_customer_dob" id="convert_dob_2_percent" style="font-size: 12px; text-align: center;" value="">

                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-4 col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" value= "NATIONAL ID :" />
                          </span>

                          <input type="text" class="form-control" id="search_customer_national_id" name="search_customer_national_id" style="font-size: 12px; text-align: center;" value="">

                      </div>

                    </div>
                </div>

            </div>

          </div>



          <div class="form-group col-sm-1 col-md-1">

            <button class="btn btn-info" type="button" id = "button_get_app_info" name = "button_get_app_info" style = "width: 80px !important; height: 30px !important;">
              Cux Search
            </button>

          </div>  

          <div class="form-group col-sm-1 col-md-1">
            <button class="btn btn-success" type="button" id="button_get_info_dc_style" name = "button_get_info_dc_style" style = "width: 80px !important; height: 30px !important;">
              ID Search
            </button>
          </div>

          

        </div>




        <div class="row">

          <div class="col-sm-9 col-md-9" id= 'main-items-search_spouse' name= 'main-items-search_spouse'>

            <div class="row">

              <div class="form-group col-sm-5 col-md-5">
                  <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_spouse_name_in_textfield()" value= "SPOUSE NAME :" />
                        </span>

                        <input type="text" class="form-control" name="search_spouse_customer_name" id="convert_spouse_name_2_percent" style="font-size: 12px; text-align: center;" value="">

                    </div>
                  </div>
              </div>

              <div class="form-group col-sm-4 col-md-4">
                  <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_spouse_id_in_textfield()" value= "SPOUSE ID :" />
                        </span>

                        <input type="text" class="form-control" name="search_customer_spouse_national_id" id="convert_spouse_id_2_percent" style="font-size: 12px; text-align: center;" value="">

                    </div>
                  </div>
              </div>

            </div>

          </div>


          <div class="form-group col-sm-1 col-md-1">

            <button class="btn btn-info" type="button" id = "button_get_spouse_info" name = "button_get_spouse_info" style = "width: 100px !important; height: 30px !important;">
              Spouse Search
            </button>

          </div>
            

        </div>



        <div clss="row">

          <div class="card filterable">

            <div class="pull-right">
                <button class="btn btn-default btn-xs btn-filter"><span class="fa fa-filter" id="mydedupedc"></span> Filter</button>
            </div>

            <div style="display: inline-block; height: 52%; width: 100%; overflow-x: scroll;" id = 'results-search'>
              <div style="position: relative;">
                  <table class="table table-striped table-hover table-responsive" style="border-collapse: collapse; border-spacing: 10px; font-size:  12px;" id="dedupe_customer_spouse_table">
                    <thead>
                      <tr class="filters">
                        <th onclick="sortTable(0)"><input type="text" class="form-control" style="font-size:  10px;" disabled>APP ID</th>
                        <th onclick="sortTable(1)"><input type="text" class="form-control" style="font-size:  10px;" disabled>CUSTOMER NAME</th>
                        <th onclick="sortTable(2)"><input type="text" class="form-control" style="font-size:  10px;" disabled>NATIONAL ID</th>
                        <th onclick="sortTable(3)"><input type="text" class="form-control" style="font-size:  10px;" disabled>DOB</th>
                        <th onclick="sortTable(4)"><input type="text" class="form-control" style="font-size:  10px;" disabled>DPD</th>
                        <th onclick="sortTable(5)"><input type="text" class="form-control" style="font-size:  10px;" disabled>ISSUE PLACE </th>
                        <th onclick="sortTable(6)"><input type="text" class="form-control" style="font-size:  10px;" disabled>OPERATE DATE</th>
                        <th onclick="sortTable(7)"><input type="text" class="form-control" style="font-size:  10px;" disabled>PRODUCT</th>
                        <th onclick="sortTable(8)"><input type="text" class="form-control" style="font-size:  10px;" disabled>STATUS</th>
                        <th onclick="sortTable(9)"><input type="text" class="form-control" style="font-size:  10px;" disabled>CURRENT PROVINCE</th>
                        <th onclick="sortTable(10)"><input type="text" class="form-control" style="font-size:  10px;" disabled>FB PROVINCE</th>
                        <th onclick="sortTable(11)"><input type="text" class="form-control" style="font-size:  10px;" disabled>SPOUSE NAME</th>
                        <th onclick="sortTable(12)"><input type="text" class="form-control" style="font-size:  10px;" disabled>SPOUSE ID</th>
                        <th onclick="sortTable(13)"><input type="text" class="form-control" style="font-size:  10px;" disabled>SYSTEM</th>

                      </tr>
                    </thead>
                    <tbody id='main-results-search' name ='main-results-search' >



                    </tbody>
                  </table>
              </div>
            </div>

            <br/> 

          </div>

        </div>


      </div>
    </div>



   