  

  {% if button_get_app is not None %}
  {% for basic_infor in basic_app_infor %}

    <strong style="color: black;"> <i class="fa fa-list-ol"></i> DC CL - {{ basic_infor.app_id_c }}</strong>
   
  {% endfor %}

  {% endif %}