
	{% for item in mobilephone_dupe_result_2 %}
      <div class="col-xs-12 col-sm-12">
        <div class="alert alert-danger" role="alert">
          <p>Số điện thoại {{ item.phone_number }} thuộc của Sale {{ item.dsa_code }} tên {{ item.customer_name }}.</p>
          <p>Vui lòng kiểm tra số điện thoại này đã tham chiếu cho bao nhiêu người.</p>
          <p>Nếu nhiều hơn 2 lần vui lòng đổi tham chiếu khác.</p>
        </div>
      </div>
    {% endfor %}