
<div class="container">
  <h2>Record place information / Send FIV form</h2>
  <p>Chỉ chọn trường FIV khi bạn muốn gửi FIV, khi chỉ muốn lưu lại thì không click trường FIV</p>            
  <table class="table table-sm table-condensed" style="font-size: 11;">
    <thead>
      <tr>
        <th>FI Request</th>
        <th>Householder1</th>
        <th>Relationship1</th>
        <th>Room number</th>
        <th>Partner/Other</th>
        <th>Describe the ways</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      {% for mobile in basic_mobile_infor %}
        {% if mobile.addresstype == 'CURRES' %}
        <tr>

          {% if phv_final_request_fiv_note_curres %}

            {% for note in phv_final_request_fiv_note_curres %}

              <td>

                  <label class="form-check-label" style="min-width: 80px;">
                    <input type="checkbox" class="form-check-input" style="float: left;" id='fiv_type_vist_{{ mobile.addresstype }}' 
                    {% if note.send_fiv == 'true' %} checked {% endif %} >
                    {{ mobile.addresstype }}
                  </label>
                  {% if phv_final_request_fiv_note_curres_fiv %}
                    {% for note1 in phv_final_request_fiv_note_curres_fiv %}
                    <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_curres">{{ note1.date_request }}</p>
                    {% endfor %}
                  {% else %}
                    <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_curres"></p>
                  {% endif %}
                  <div class="row">
                    <div class="col align-self-center">
                      <button type="button" class="btn btn-outline-dark btn-sm" id="send_save_fiv_request_4_curres">SEND/SAVE</button>
                    </div>
                  </div>

              </td>



              
              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Householder1" rows="4">{{ note.householder1 }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Relationship1" rows="4">{{ note.relationship1 }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Room_number" rows="4">{{ note.room_number }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Partner_Other" rows="4">{{ note.partner_other }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Describe_the_ways" rows="4">{{ note.describe_the_ways }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Note" rows="4">{{ note.note }}</textarea>  
              </td>
            {% endfor %}


          {% else %}

              <td>

                  <label class="form-check-label" style="min-width: 80px;">
                    <input type="checkbox" class="form-check-input" style="float: left;" id='fiv_type_vist_{{ mobile.addresstype }}'>
                    {{ mobile.addresstype }}
                  </label>
                  <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_curres"></p>
                  <div class="row">
                    <div class="col align-self-center">
                      <button type="button" class="btn btn-outline-dark btn-sm" id="send_save_fiv_request_4_curres">SEND/SAVE</button>
                    </div>
                  </div>

              </td>



              
              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Householder1" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Relationship1" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Room_number" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Partner_Other" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Describe_the_ways" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Note" rows="4"></textarea>  
              </td>

          {% endif%}

        </tr>


        {% else %}









        {% endif %}
      {% endfor %}



      {% for mobile in basic_mobile_infor%}
        {% if mobile.addresstype == 'PERMNENT' %}
        <tr>

          {% if phv_final_request_fiv_note_permnent %}

            {% for note in phv_final_request_fiv_note_permnent %}
              <td>
                  <label class="form-check-label" style="min-width: 80px;">
                    <input type="checkbox" class="form-check-input" style="float: left;" id='fiv_type_vist_{{ mobile.addresstype }}'
                    {% if note.send_fiv == 'true'  %} checked {% endif %}>
                    {{ mobile.addresstype }}
                  </label>

                  {% if phv_final_request_fiv_note_permnent_fiv %}
                    {% for note1 in phv_final_request_fiv_note_permnent_fiv %}
                    <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_permnent">{{ note.date_request }}</p>
                    {% endfor %}
                  {% else %}
                    <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_permnent"></p>
                  {% endif %}

                  <div class="row">
                    <div class="col align-self-center">
                      <button type="button" class="btn btn-outline-dark btn-sm" id="send_save_fiv_request_4_permnent">SEND/SAVE</button>
                    </div>
                  </div>
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Householder1" rows="4">{{ note.householder1 }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Relationship1" rows="4">{{ note.relationship1 }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Room_number" rows="4">{{ note.room_number }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Partner_Other" rows="4">{{ note.partner_other }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Describe_the_ways" rows="4">{{ note.describe_the_ways }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Note" rows="4">{{ note.note }}</textarea>  
              </td>
            {% endfor %}

          {% else %}

              <td>

                  <label class="form-check-label" style="min-width: 80px;">
                    <input type="checkbox" class="form-check-input" style="float: left;" id='fiv_type_vist_{{ mobile.addresstype }}'>
                    {{ mobile.addresstype }}
                  </label>
                  <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_permnent"></p>
                  <div class="row">
                    <div class="col align-self-center">
                      <button type="button" class="btn btn-outline-dark btn-sm" id="send_save_fiv_request_4_permnent">SEND/SAVE</button>
                    </div>
                  </div>

              </td>



              
              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Householder1" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Relationship1" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Room_number" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Partner_Other" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Describe_the_ways" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Note" rows="4"></textarea>  
              </td>

          {% endif %}

        </tr>
        {% else %}

        {% endif %}
      {% endfor %}



      {% for mobile in basic_mobile_infor%}
        {% if mobile.addresstype == 'HEADOFF' %}
        <tr>

          {% if phv_final_request_fiv_note_headoff %}
            {% for note in phv_final_request_fiv_note_headoff %}
              <td>
                  <label class="form-check-label" style="min-width: 80px;">
                    <input type="checkbox" class="form-check-input" style="float: left;" id='fiv_type_vist_{{ mobile.addresstype }}'
                    {% if note.send_fiv == 'true'  %} checked {% endif %}>
                    {{ mobile.addresstype }}
                  </label>

                  {% if phv_final_request_fiv_note_headoff_fiv %}
                    {% for note1 in phv_final_request_fiv_note_headoff_fiv %}
                    <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_headoff">{{ note.date_request }}</p>
                    {% endfor %}
                  {% else %}
                    <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_headoff"></p>
                  {% endif %}

                  <div class="row">
                    <div class="col align-self-center">
                      <button type="button" class="btn btn-outline-dark btn-sm" id="send_save_fiv_request_4_headoff">SEND/SAVE</button>
                    </div>
                  </div>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Householder1" rows="4">{{ note.householder1 }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Relationship1" rows="4">{{ note.relationship1 }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Room_number" rows="4">{{ note.room_number }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Partner_Other" rows="4">{{ note.partner_other }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Describe_the_ways" rows="4">{{ note.describe_the_ways }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Note" rows="4">{{ note.note }}</textarea>  
              </td>
            {% endfor %}

          {% else %}

              <td>

                  <label class="form-check-label" style="min-width: 80px;">
                    <input type="checkbox" class="form-check-input" style="float: left;" id='fiv_type_vist_{{ mobile.addresstype }}'>
                    {{ mobile.addresstype }}
                  </label>
                  <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_headoff"></p>
                  <div class="row">
                    <div class="col align-self-center">
                      <button type="button" class="btn btn-outline-dark btn-sm" id="send_save_fiv_request_4_headoff">SEND/SAVE</button>
                    </div>
                  </div>

              </td>



              
              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Householder1" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Relationship1" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Room_number" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Partner_Other" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Describe_the_ways" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Note" rows="4"></textarea>  
              </td>          


          {% endif %}
        </tr>
        {% else %}

        {% endif %}
      {% endfor %}



      {% for mobile in basic_mobile_infor%}
        {% if mobile.addresstype == 'BCHOFF' %}
        <tr>

          {% if phv_final_request_fiv_note_bchoff %}
            {% for note in phv_final_request_fiv_note_bchoff %}
              <td>
                  <label class="form-check-label" style="min-width: 80px;">
                    <input type="checkbox" class="form-check-input" style="float: left;" id='fiv_type_vist_{{ mobile.addresstype }}'
                    {% if note.send_fiv == 'true'  %} checked {% endif %}>
                    {{ mobile.addresstype }}
                  </label>

                  {% if phv_final_request_fiv_note_bchoff_fiv %}
                    {% for note1 in phv_final_request_fiv_note_bchoff_fiv %}
                    <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_bchoff">{{ note.date_request }}</p>
                    {% endfor %}
                  {% else %}
                    <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_bchoff"></p>
                  {% endif%}

                  <div class="row">
                    <div class="col align-self-center">
                      <button type="button" class="btn btn-outline-dark btn-sm" id="send_save_fiv_request_4_bchoff">SEND/SAVE</button>
                    </div>
                  </div>

              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Householder1" rows="4">{{ note.householder1 }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Relationship1" rows="4">{{ note.relationship1 }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Room_number" rows="4">{{ note.room_number }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Partner_Other" rows="4">{{ note.partner_other }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Describe_the_ways" rows="4">{{ note.describe_the_ways }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Note" rows="4">{{ note.note }}</textarea>  
              </td>
            {% endfor %}

          {% else %}

              <td>

                  <label class="form-check-label" style="min-width: 80px;">
                    <input type="checkbox" class="form-check-input" style="float: left;" id='fiv_type_vist_{{ mobile.addresstype }}'>
                    {{ mobile.addresstype }}
                  </label>
                  <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_bchoff"></p>
                  <div class="row">
                    <div class="col align-self-center">
                      <button type="button" class="btn btn-outline-dark btn-sm" id="send_save_fiv_request_4_bchoff">SEND/SAVE</button>
                    </div>
                  </div>

              </td>



              
              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Householder1" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Relationship1" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Room_number" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Partner_Other" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Describe_the_ways" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Note" rows="4"></textarea>  
              </td>  

          {% endif %}

        </tr>
        {% else %}

        {% endif %}
      {% endfor %}




      {% for mobile in basic_mobile_infor%}
        {% if mobile.addresstype == 'OFFICE' %}
        <tr>
          {% if phv_final_request_fiv_note_office %}
            {% for note in phv_final_request_fiv_note_office %}
              <td>
                  <label class="form-check-label" style="min-width: 80px;">
                    <input type="checkbox" class="form-check-input" style="float: left;" id='fiv_type_vist_{{ mobile.addresstype }}'
                    {% if note.send_fiv == 'true'  %} checked {% endif %}>
                    {{ mobile.addresstype }}
                  </label>

                  {% if phv_final_request_fiv_note_office_fiv %}
                    {% for note1 in phv_final_request_fiv_note_office_fiv %}
                    <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_office">{{ note.date_request }}</p>
                    {% endfor %}
                  {% else %}
                    <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_office"></p>
                  {% endif%}

                  <div class="row">
                    <div class="col align-self-center">
                      <button type="button" class="btn btn-outline-dark btn-sm" id="send_save_fiv_request_4_office">SEND/SAVE</button>
                    </div>
                  </div>

              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Householder1" rows="4">{{ note.householder1 }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Relationship1" rows="4">{{ note.relationship1 }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Room_number" rows="4">{{ note.room_number }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Partner_Other" rows="4">{{ note.partner_other }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Describe_the_ways" rows="4">{{ note.describe_the_ways }}</textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Note" rows="4">{{ note.note }}</textarea>  
              </td>
            {% endfor %}

          {% else %}

              <td>

                  <label class="form-check-label" style="min-width: 80px;">
                    <input type="checkbox" class="form-check-input" style="float: left;" id='fiv_type_vist_{{ mobile.addresstype }}'>
                    {{ mobile.addresstype }}
                  </label>
                  <p style="padding-top: 8px;" id="send_save_fiv_request_date_4_office"></p>
                  <div class="row">
                    <div class="col align-self-center">
                      <button type="button" class="btn btn-outline-dark btn-sm" id="send_save_fiv_request_4_office">SEND/SAVE</button>
                    </div>
                  </div>

              </td>



              
              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Householder1" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Relationship1" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Room_number" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Partner_Other" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Describe_the_ways" rows="4"></textarea>  
              </td>

              <td>
                <textarea class="form-control" id="{{ mobile.addresstype }}_Note" rows="4"></textarea>  
              </td>

          {% endif %}

        </tr>
        {% else %}

        {% endif %}
      {% endfor %}

    </tbody>
  </table>
</div>




<br/>


<table class="table table-sm" style="font-size: 11;">
  <thead>
    <tr>
      <th>House Number</th>
      <th>Ward3</th>
      <th>District3</th>
      <th>City3</th>
      <th>Address Type</th>
    </tr>
  </thead>
  <tbody>

    {% for mobile in basic_mobile_infor%}
    <tr>
      <th scope="row">{{ mobile.address1 }}</th>
      <td>{{ mobile.zipdesc }}</td> <!-- kết nối 2 table macas.nbfc_address_m và macas.nbfc_city_zipcode_m -->
      <td>{{ mobile.city_lms }}</td>
      <td>{{ mobile.statedesc }}</td>
      <td>{{ mobile.addresstype }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>

<br/>

{% for customer in basic_app_infor %}

<table class="table table-sm" style="font-size: 11;">
  <thead>
    <tr>
      <th>Loan Amount</th>
      <th>Client’s Name</th>
      <th>Year of Birth</th>
      <th>Id card no</th>
      <th>Gender</th>
      <th>Marial status</th>
      <th>Spouse's Name</th>
      <th>Spouse's Company</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ customer.laa_app_req_amtfin_n }}</th>
      <td>{{ customer.customername }}</td>
      <td>{{ customer.age }}</td>
      <td>{{ customer.cif_no }}</td>
      <td>{{ customer.gender }}</td>
      <td>{{ customer.marital_status }}</td>
      <td>{{ customer.spousename }}</td>
      <td></td>
    </tr>
  </tbody>
</table>                       

{% endfor %}


{% for mobile in basic_mobile_num%}
<table class="table table-sm" style="font-size: 11;">
  <thead>
    <tr>
      <th>Client's phone number</th>
      <th>Spouse's phone number</th>
      <th>Owning status</th>
      <th>Householder</th>
      <th>Relationship</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ mobile.mobile }}</td>
      <td>{{ mobile.spouse_mobile }}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
{% endfor %}
