
{% for item in get_infor_for_dedupe_mobile %}

        <div class="collapse show" id="comment_window_{{ item.mobile }}">


          <div class="card text-center">

            <div class="card-header">
              {{ item.mobile }} - {{ item.relation }} - {{ item.name }}

              <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="collapse" data-target="#comment_window_{{ item.mobile }}">
                <span aria-hidden="true">&times;</span>
              </button>

            </div>

            <div class="card-body"  id = "phv_comment_history_4_all_mobi">

                <div class="panel-body msg_container_base" id= "phv_comment_history_4_mobi_{{ item.mobile }}">


                    {% for note in posts_phv_note %}
                    {% if note.called_mobi == item.mobile %}

                    
                    <div class="row msg_container base_receive">

                        {% if note.phv_emoji_after_call == '1' %}
                        <div class="col-md-2 col-xs-2 avatar" style="padding-left: 0px; padding-right: 0px;">
                            <img width="30" height="28" src="http://emojis.slackmojis.com/emojis/images/1500426224/2650/allo-love.gif" data-toggle="popover1" class=" img-responsive " data-content="{{ note.action_username }} - {{ note.date_created }}" >
                        </div>

                        {% elif note.phv_emoji_after_call == '2' %}
                        <div class="col-md-2 col-xs-2 avatar" style="padding-left: 0px; padding-right: 0px;">
                            <img width="30" height="28" src="http://emojis.slackmojis.com/emojis/images/1500425996/2647/allo-kissing.gif" data-toggle="popover1" class=" img-responsive " data-content="{{ note.action_username }} - {{ note.date_created }}" >
                        </div>

                        {% elif note.phv_emoji_after_call == '3' %}
                        <div class="col-md-2 col-xs-2 avatar" style="padding-left: 0px; padding-right: 0px;">
                            <img width="30" height="28" src="http://emojis.slackmojis.com/emojis/images/1500425901/2646/allo-happy.gif" data-toggle="popover1" class=" img-responsive " data-content="{{ note.action_username }} - {{ note.date_created }}" >
                        </div>

                        {% elif note.phv_emoji_after_call == '4' %}
                        <div class="col-md-2 col-xs-2 avatar" style="padding-left: 0px; padding-right: 0px;">
                            <img width="30" height="28" src="http://emojis.slackmojis.com/emojis/images/1500426200/2649/allo-unamused.gif" data-toggle="popover1" class=" img-responsive " data-content="{{ note.action_username }} - {{ note.date_created }}" >
                        </div>

                        {% elif note.phv_emoji_after_call == '5' %}
                        <div class="col-md-2 col-xs-2 avatar" style="padding-left: 0px; padding-right: 0px;">
                            <img width="30" height="28" src="http://emojis.slackmojis.com/emojis/images/1500426362/2651/allo-shocked.gif" data-toggle="popover1" class=" img-responsive " data-content="{{ note.action_username }} - {{ note.date_created }}" >
                        </div>

                        {% elif note.phv_emoji_after_call == '6' %}
                        <div class="col-md-2 col-xs-2 avatar" style="padding-left: 0px; padding-right: 0px;">
                            <i class="fa fa-phone-square fa-3x" aria-hidden="true" data-toggle="popover1" class=" img-responsive " data-content="{{ note.action_username }} - {{ note.date_created }}"></i>
                        </div>

                        {% endif %}


                        <div class="col-md-10 col-xs-10">

                          <div class="card card-1">
                            <div class="card-body" style="padding-top: 0px; padding-bottom: 0px;">

                            {% if note.phv_decision_after_call == '1' %}
                            <h10 class="card-subtitle mb-2 text-muted" style="font-size:10px" ><time datetime="2009-11-13T20:00"> {{ note.app_id }} • Does not pickup phone </time></h10>

                            {% elif note.phv_decision_after_call == '2' %}
                            <h10 class="card-subtitle mb-2 text-muted" style="font-size:10px" ><time datetime="2009-11-13T20:00"> {{ note.app_id }} • Negative information </time></h10>

                            {% elif note.phv_decision_after_call == '3' %}
                            <h10 class="card-subtitle mb-2 text-muted" style="font-size:10px" ><time datetime="2009-11-13T20:00"> {{ note.app_id }} • Neutral information </time></h10>

                            {% elif note.phv_decision_after_call == '4' %}
                            <h10 class="card-subtitle mb-2 text-muted" style="font-size:10px" ><time datetime="2009-11-13T20:00"> {{ note.app_id }} • Positive information </time></h10>

                            {% elif note.phv_decision_after_call == '5' %}
                            <h10 class="card-subtitle mb-2 text-muted" style="font-size:10px" ><time datetime="2009-11-13T20:00"> {{ note.app_id }} • Wrong number </time></h10>

                            {% endif %}

                            <p class="card-text" align="left"> {{ note.phv_comment_4_mobi }}</p>

                            </div>
                          </div>

                        </div>
                        
                    </div>

                    {% endif %}

                    {% endfor %}




                </div>

            </div>


          </div>


          <br/>


        </div>

{% endfor %}






