
{% for mobile_ref_dedupe in mobilephone_dupe_result_1 %}

  {% if mobile_ref_dedupe.status == 'ACTIVE' %}
  <tr class="table-success">
  {% elif mobile_ref_dedupe.status == 'CLOSED' %}
  <tr class="table-active">
  {% elif mobile_ref_dedupe.status == 'REJECTED' %}
  <tr class="table-danger">
  {% elif mobile_ref_dedupe.status == 'IN-PROGRESS' %}
  <tr class="table-info">
  {% elif mobile_ref_dedupe.status == 'APPROVED' %}
  <tr class="table-warning">
  {% else %}
  <tr>
  {% endif %}
    <td>{{ mobile_ref_dedupe.app_id }}</td>
    <td>{{ mobile_ref_dedupe.customer_id_no }}</td>
    <td>{{ mobile_ref_dedupe.ref_name }}</td>
    <td>{{ mobile_ref_dedupe.ref_rel }}</td>
    <td>{{ mobile_ref_dedupe.ref_phone1 }}</td>
    <td>{{ mobile_ref_dedupe.ref_phone2 }}</td>
    <td>{{ mobile_ref_dedupe.ref_stdisd }}</td>
    <td>{{ mobile_ref_dedupe.dpd }}</td>
    <td>{{ mobile_ref_dedupe.status }}</td>
  </tr>
{% endfor %}

