<div class="row" style="margin-left: auto; margin-right: auto;">			

	<div class="col-sm-12">

		<label style=" padding-right: 5px; min-width: 80px" paper_type = 'DEFER' id = "doc_type_defer">STATUS</label>

		{% if phv_note_status %}

			{% for note in phv_note_status %}

			
			{% if note.action_type_detail == 'UW_PHV_DEFER' %}

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_defer" value="UW_PHV_DEFER" checked = "checked">DEFER
				</label>
			</div>

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_pending" value="UW_PHV_PEND">PENDING
				</label>
			</div>

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_send_fi" value="UW_SEND_FI" >FI 
				</label>
			</div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_reject" value="UW_PHV_REJECT" >REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_approve" value="UW_PHV_APPROVE" >APPROVE 
              </label>
            </div>

			<div class="form-check form-check-inline">
				<label class="form-check-label" style = " padding-right: 8px;">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_finish" value="UW_PHV_FINISH" >FINISH 
				</label>
			</div>

			<div class="col-sm-12">
            	<input type="text" class="form-control" placeholder="Your comment please..." id= "phv_note_status" name = "phv_note_status" value = "{{ note.action_comment }}" style="width: 100%">
            </div>

			{% elif note.action_type_detail == 'UW_PHV_PEND' %}

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_defer" value="UW_PHV_DEFER">DEFER
				</label>
			</div>

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_pending" value="UW_PHV_PEND" checked = "checked">PENDING
				</label>
			</div>

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_send_fi" value="UW_SEND_FI" >FI 
				</label>
			</div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_reject" value="UW_PHV_REJECT" >REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_approve" value="UW_PHV_APPROVE" >APPROVE 
              </label>
            </div>

			<div class="form-check form-check-inline">
				<label class="form-check-label" style = " padding-right: 8px;">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_finish" value="UW_PHV_FINISH" >FINISH 
				</label>
			</div>


			<div class="col-sm-12">
            	<input type="text" class="form-control" placeholder="Your comment please..." id= "phv_note_status" name = "phv_note_status" value = "{{ note.action_comment }}" style="width: 100%">
            </div>



			{% elif note.action_type_detail == 'UW_SEND_FI' %}

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_defer" value="UW_PHV_DEFER">DEFER
				</label>
			</div>

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_pending" value="UW_PHV_PEND">PENDING
				</label>
			</div>

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_send_fi" value="UW_SEND_FI" checked = "checked">FI 
				</label>
			</div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_reject" value="UW_PHV_REJECT" >REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_approve" value="UW_PHV_APPROVE" >APPROVE 
              </label>
            </div>

			<div class="form-check form-check-inline">
				<label class="form-check-label" style = " padding-right: 8px;">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_finish" value="UW_PHV_FINISH" >FINISH 
				</label>
			</div>


			<div class="col-sm-12">
            	<input type="text" class="form-control" placeholder="Your comment please..." id= "phv_note_status" name = "phv_note_status" value = "{{ note.action_comment }}" style="width: 100%">
            </div>			




			{% elif note.action_type_detail == 'UW_PHV_REJECT' %}

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_defer" value="UW_PHV_DEFER">DEFER
				</label>
			</div>

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_pending" value="UW_PHV_PEND">PENDING
				</label>
			</div>

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_send_fi" value="UW_SEND_FI">FI 
				</label>
			</div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_reject" value="UW_PHV_REJECT" checked = "checked" >REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_approve" value="UW_PHV_APPROVE" >APPROVE 
              </label>
            </div>

			<div class="form-check form-check-inline">
				<label class="form-check-label" style = " padding-right: 8px;">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_finish" value="UW_PHV_FINISH" >FINISH 
				</label>
			</div>


			<div class="col-sm-12">
            	<input type="text" class="form-control" placeholder="Your comment please..." id= "phv_note_status" name = "phv_note_status" value = "{{ note.action_comment }}" style="width: 100%">
            </div>	



			{% elif note.action_type_detail == 'UW_PHV_APPROVE' %}

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_defer" value="UW_PHV_DEFER">DEFER
				</label>
			</div>

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_pending" value="UW_PHV_PEND">PENDING
				</label>
			</div>

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_send_fi" value="UW_SEND_FI">FI 
				</label>
			</div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_reject" value="UW_PHV_REJECT" >REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_approve" value="UW_PHV_APPROVE" checked = "checked" >APPROVE 
              </label>
            </div>

			<div class="form-check form-check-inline">
				<label class="form-check-label" style = " padding-right: 8px;">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_finish" value="UW_PHV_FINISH" >FINISH 
				</label>
			</div>


			<div class="col-sm-12">
            	<input type="text" class="form-control" placeholder="Your comment please..." id= "phv_note_status" name = "phv_note_status" value = "{{ note.action_comment }}" style="width: 100%">
            </div>




			{% elif note.action_type_detail == 'UW_PHV_FINISH' %}

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_defer" value="UW_PHV_DEFER">DEFER
				</label>
			</div>

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_pending" value="UW_PHV_PEND">PENDING
				</label>
			</div>

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_send_fi" value="UW_SEND_FI">FI 
				</label>
			</div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_reject" value="UW_PHV_REJECT" >REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_approve" value="UW_PHV_APPROVE" >APPROVE 
              </label>
            </div>

			<div class="form-check form-check-inline">
				<label class="form-check-label" style = " padding-right: 8px;">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_finish" value="UW_PHV_FINISH" checked = "checked" >FINISH 
				</label>
			</div>


			<div class="col-sm-12">
            	<input type="text" class="form-control" placeholder="Your comment please..." id= "phv_note_status" name = "phv_note_status" value = "{{ note.action_comment }}" style="width: 100%">
            </div>



			{% else %}

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_defer" value="UW_PHV_DEFER">DEFER
				</label>
			</div>

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_pending" value="UW_PHV_PEND">PENDING
				</label>
			</div>

			<div class="form-check form-check-inline">
				<label class="form-check-label">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_send_fi" value="UW_SEND_FI">FI 
				</label>
			</div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_reject" value="UW_PHV_REJECT" >REJECT 
              </label>
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_approve" value="UW_PHV_APPROVE" >APPROVE 
              </label>
            </div>

			<div class="form-check form-check-inline">
				<label class="form-check-label" style = " padding-right: 8px;">
				  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_finish" value="UW_PHV_FINISH">FINISH 
				</label>
			</div>

			<div class="col-sm-12">
            	<input type="text" class="form-control" placeholder="Your comment please..." id= "phv_note_status" name = "phv_note_status" style="width: 100%">
        	</div>

			{% endif %}

			{% endfor %}

		{% else %}


		<div class="form-check form-check-inline">
			<label class="form-check-label">
			  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_defer" value="UW_PHV_DEFER">DEFER
			</label>
		</div>

		<div class="form-check form-check-inline">
			<label class="form-check-label">
			  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_pending" value="UW_PHV_PEND">PENDING
			</label>
		</div>

		<div class="form-check form-check-inline">
			<label class="form-check-label">
			  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_send_fi" value="UW_SEND_FI">FI 
			</label>
		</div>

        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_reject" value="UW_PHV_REJECT" >REJECT 
          </label>
        </div>

        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_approve" value="UW_PHV_APPROVE" >APPROVE 
          </label>
        </div>

		<div class="form-check form-check-inline">
			<label class="form-check-label" style = " padding-right: 8px;">
			  <input class="form-check-input" type="radio" name="uw_phv_pending" id="uw_phv_finish" value="UW_PHV_FINISH">FINISH 
			</label>
		</div>

	</div>

	<div class="col-sm-12">
    	<input type="text" class="form-control" placeholder="Your comment please..." id= "phv_note_status" name = "phv_note_status" style="width: 100%">
	</div>

</div>
		{% endif %}
