



    <div class="tab-content" id="myTabContent">


      <div class="tab-pane fade show active" id="check_list_main" role="tabpanel" aria-labelledby="check_list_main-tab">
        

        {% include "en/checklist/module_add_data_checker_result.html" %}



      </div>



      <div class="tab-pane fade" id="app_information_main" role="tabpanel" aria-labelledby="app_information_main-tab">







        <!-- nơi này sẽ chứa nội dung của app -->
        <!-- hiện chưa xác định thông tin nào cần thêm vào nên để trống -->








      </div>


    </div>