
{% for item in get_infor_for_dedupe_mobile %}

  <div class="form-group">
    <div class="input-group" >
        <button class="btn btn-light pull-right" type="button" data-toggle="collapse" data-target="#comment_window_{{ item.mobile }}" id ="load_comment_history_4_{{ item.mobile }}" aria-expanded="false" aria-controls="collapseExample" style="font-size: 12px; text-align: center; min-width: 100px">
          {{ item.mobile }}  
        </button>
        <span class="input-group-btn pull-right">
          <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ item.relation }} : {{ item.name }}" style="width: 78px !important; height: 30px !important;" name = "button_get_dedupe_mobi_{{ item.mobile }}" id = "button_get_dedupe_mobi_{{ item.mobile }}">
            Search
          </button>
        </span>
    </div>
  </div>

{% endfor %}