{% load staticfiles %}
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">


        <title>Risk Box v0.2</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">

        <!-- Awsome font -->
        <link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'fonts/fontawesome-webfont.woff' %}" rel="stylesheet">
        <link href="{% static 'fonts/fontawesome-webfont.woff2' %}" rel="stylesheet">

        {% block  css_framework %}


        {% endblock %}


        <title>
        {% block title_html %}  {% endblock %}
        </title>

        <style>
        
            td {
              white-space: nowrap;
            }
            th {
              background-color: white;
              white-space: nowrap;
            }
            
            html, body {
                height:100%;
                font-family:Arial;
                font-size:12px;
                line-height:2em;
            }

            ::-webkit-scrollbar {
                width: 14px;
                height: 18px; 
                background-color: transparent;  
            }
            ::-webkit-scrollbar-thumb {
                height: 6px;
                border: 4px solid rgba(0, 0, 0, 0);
                background-clip: padding-box;
                -webkit-border-radius: 7px;
                background-color: rgba(0, 0, 0, 0.15);
                -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
            }
            ::-webkit-scrollbar-button {
                width: 0;
                height: 0;
                display: none;

            }
            ::-webkit-scrollbar-corner {
                background-color: transparent;
            }

            ::-webkit-scrollbar-track {
                background-color: transparent;
                background: transparent;
            }



            table .collapse.in {
                display:table-row;
            }


            .panel-heading .chevron:after {
                content: "\f078";   
            }
            .panel-heading.collapsed .chevron:after {
                content: "\f054"; 
            } 







            .chat-window{
                bottom:0;
                position:fixed;
                float:right;
                margin-left:10px;
            }
            .chat-window > div > .panel{
                border-radius: 5px 5px 0 0;
            }



            .msg_container_base{
              background: #e5e5e5;
              margin: 0;
              padding: 0 10px 10px;
              max-height:300px;
              overflow-x:hidden;
            }

            /* padding-bottom:20px of msg_receive and msg_sent when time is put in the end of chat*/

            .msg_receive{
                padding-left:0;
                margin-left:0;
                padding-bottom:0px !important;
                margin-right:10px;
            }


            .msg_sent{
                padding-bottom:0px !important;
                margin-right:0;
            }


            .messages {
              background: white;
              padding: 10px;
              border-radius: 2px;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
              max-width:100%;
              padding-top: 0px;
            }
            .messages > p {
                font-size: 13px;
                margin: 0 0 0.2rem 0;
              }
            .messages > time {
                font-size: 11px;
                color: #ccc;
            }
            .msg_container {
                padding: 10px;
                overflow: hidden;
                display: flex;
            }

            .avatar {
                position: relative;
            }
            .base_receive > .avatar:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border: 5px solid #FFF;
                border-left-color: rgba(0, 0, 0, 0);
                border-bottom-color: rgba(0, 0, 0, 0);
            }

            .base_sent {
              justify-content: flex-end;
              align-items: flex-end;
            }
            .base_sent > .avatar:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0;
                border: 5px solid white;
                border-right-color: transparent;
                border-top-color: transparent;
                box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
            }

            .msg_sent > time{
                float: right;
            }

            .msg_receive > time{
                float: right;
            }


            .top-main .dropdown-menu {
            width: calc(100% + 60px);
            position: absolute;
            left: -30px;
            }


            .card-1 {
              box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
              transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            }

            .card-1:hover {
              box-shadow: 0 5px 12px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.22);
            }


            /*
            .card-1:hover {
              box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
            */

            /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
            #map {
            height: 32%;
            }



            .modal-lg {
                max-width: 100% !important;
            }

        </style>


    </head>

    
    <body style="background-color: #f2f3f4;">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <a class="navbar-brand" href="{% url 'login_page' %}" style="font-size:  18px;">RISK BOX</a>

    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">

            <ul class="nav justify-content-center">

                {% block list_items_nav_bar %}


                {% endblock %}

                {% if user.is_authenticated %}

                <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'login_page' %}"><i class="glyphicon glyphicon-off"></i> Log Out </a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i> Change Password</a></li>
                    </ul>
                </li>

                {% else %}
                <li class="nav-item dropdown"><a href="./">Hello User<span class="sr-only">(current)</span></a></li>
                {% endif %}

            </ul>


        </div>
    </nav>

    

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">

                {% block navbar_left_side_bar_items %}





                {% endblock %}

            </nav>

            <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

            {% block h1 %}  


            {% endblock %}

            <article>
            {% block article_content %}  


            {% endblock %}
            </article>


            </main>
        </div>

    </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


        <script src="{% static 'js/custom.js' %}"></script>


        {% block javascript_for_textfield %}


        {% endblock %}


    </body>
</html>