{% extends "./base.html" %}
{% load staticfiles %}

{% block title_html %}
    Hello World Title
{% endblock %}




{% block h1 %}


<div class="row">

  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="./static/img/ray1-thin.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Welcome to </font><code>Fraud</code>.<code>System</code>.</h4>
    </div>
  </div>

  <div class="card">
    <div class="card-body">

      <p class="card-text"><font color="black">Please input your password to login </font></p> 
      <p><font>or contact me </font><code>thanhnguyen.nguyen@mafc.com.vn</code><font color="black"> for further instruction.</font></p>

      <form class="form-signin" id="login-form" method="POST" action="./">

      {% csrf_token %}

      {% if user.is_authenticated %}

        </br>
          <p> <font color="white" size="5">Hello! {{ request.user.first_name }}</p> </font>
        </br>

      {% else %}


      <input type="text" class="form-control" name="inputDomainName" placeholder="Domain">

      <input type="password" class="form-control" name="inputPassword" placeholder="Password">


      </br>

      <button class="btn btn-primary" type="submit" value="login">Sign in</button>



      {% if error %}
      <p class=" label label-danger">
      {{ error }}
      </p>
      {% endif %}

          
      {% endif %}

      </form>

    </div>
    
  </div>

</div>



{% endblock %}




{% block article_content %}
    
    </br>
    
    {{ bloc.super }}Fraud Team!

{% endblock %}


