{% extends "en/base.html" %}

{% load staticfiles %}


{% block title_html %}
   


{% endblock %}




{% block navbar_left_side_bar_items %}

    {% block request_app_id %}



    {% endblock %}



    {% block black_list_function %}



    {% endblock %}



    {% block policy_function %}



    {% endblock %}



    {% block main_items_dc %}



    {% endblock %}

    <hr>

    {% block provide_velocity_report %}



    {% endblock %}    



    <ul class="nav nav-stacked">

        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">Main Tools <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="nav nav-stacked collapse in" id="userMenu">





            </ul>

        </li>

    </ul>



{% endblock %}






{% block h1 %}


<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12">
        {% block dedupe_function%}


        {% endblock %}
        </div>
        
    </div>
</form>



{% endblock %}




{% block article_content %}
    


{% endblock %}




{% block list_items_nav_bar %}


{% if user.is_authenticated %}




<li class="nav-item dropdown"> 
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CATS</a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'request_cat_page' %}">Request New CAT</a></li>
        <li><a href="#">Request Update CAT</a></li>
        <li><a href="#">Process Request CAT</a></li>
        <li><a href="#">Search CAT</a></li>
    </ul>
</li>


<li class="nav-item dropdown" id="uw_dc_pending_cases"> 
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pending Cases</a>
    <ul class="dropdown-menu" style="width: 500%;" >
        <li><a href="#">123456789 - Chờ giấy tờ</a></li>
        <li><a href="#">123456788 - Chưa muốn xử lý</a></li>
        <li><a href="#">123456787 - Chờ đủ ngày</a></li>
    </ul>
</li>

<li class="nav-item dropdown"> 
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">UND Tools</a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'checklist_dc_page' %}">DC STAGE</a></li>
        <li><a href="{% url 'checklist_phv_page' %}">PHV STAGE</a></li>
        <li><a href="{% url 'checklist_und_page' %}">UND STAGE</a></li>
    </ul>
</li>



{% else %}

{% endif %}

{% endblock %}





{% block javascript_for_textfield %}


{% endblock %}

