
<form method="get" action="{% url 'checklist_dc_page' %}" id="getduplicateinformation">
    {% csrf_token %}

    {% if report_error %}
    <div class="alert alert-warning alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>{{ report_error }}.</p>
    </div>
    {% endif %}


    <div class="panel panel-default">
        <div class="panel-body">
 
            <div class="row">

            {% if button_get_app is not None %}

            {% for basic_infor in basic_app_infor %}

                <div class="form-group col-sm-4 col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_name_in_textfield()" value= "CUST NAME :" />
                          </span>

                          <input type="text" class="form-control" name="search_customer_name" id="convert_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ basic_infor.customername }}">
                   
                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-2 col-md-2">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_dob_in_textfield()" value= "DOB :" />
                          </span>

                          <input type="text" class="form-control" name="search_customer_dob" id="convert_dob_2_percent" style="font-size: 12px; text-align: center;" value="{{ basic_infor.dob }}">

                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" value= "NATIONAL ID :" />
                          </span>

                          <input type="text" class="form-control" id="search_customer_national_id" name="search_customer_national_id" style="font-size: 12px; text-align: center;" value="{{ basic_infor.cif_no }}">

                      </div>

                    </div>
                </div>


                <div class="form-group col-sm-1 col-md-1">
                  <input class="btn btn-info" type="submit" id = "button_get_app_info" name = "button_get_app_info" value="Cux Search" />
                </div>  

                <div class="form-group col-sm-1 col-md-1">
                  <input class="btn btn-success" type="submit" id="button_get_info_dc_style" name = "button_get_info_dc_style" value="ID Search" />
                </div>



            </div>

            <div class="row">

                <div class="form-group col-sm-4 col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_spouse_name_in_textfield()" value= "SPOUSE NAME :" />
                          </span>

                          <input type="text" class="form-control" name="search_spouse_customer_name" id="convert_spouse_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ basic_infor.spousename }}">

                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_spouse_id_in_textfield()" value= "SPOUSE ID :" />
                          </span>

                          <input type="text" class="form-control" name="search_customer_spouse_national_id" id="convert_spouse_id_2_percent" style="font-size: 12px; text-align: center;" value="{{ basic_infor.spouse_id_c }}">

                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-1 col-md-1">
                <input class="btn btn-info" type="submit" name = "button_get_spouse_info" value="Spouse Search" />
                </div>
                

            </div>

            {% endfor %}



            {% elif button_get_app_info is not None %}

                <div class="form-group col-sm-4 col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_name_in_textfield()" value= "CUST NAME :" />
                          </span>

                          <input type="text" class="form-control" name="search_customer_name" id="convert_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ request.GET.search_customer_name }}">

                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-2 col-md-2">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_dob_in_textfield()" value= "DOB :" />
                          </span>

                          <input type="text" class="form-control" name="search_customer_dob" id="convert_dob_2_percent" style="font-size: 12px; text-align: center;" value="{{ request.GET.search_customer_dob }}">


                        </div>
                      </div>
                  </div>

                  <div class="form-group col-sm-3 col-md-3">
                      <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <input type="button" class="btn btn-secondary btn-sm" value= "NATIONAL ID :" />
                            </span>

                            <input type="text" class="form-control" id="search_customer_national_id" name="search_customer_national_id" style="font-size: 12px; text-align: center;" value="{{ request.GET.search_customer_national_id }}">

                        </div>

                      </div>
                  </div>


                <div class="form-group col-sm-1 col-md-1">
                  <input class="btn btn-info" type="submit" id = "button_get_app_info" name = "button_get_app_info" value="Cux Search" />
                </div>  

                <div class="form-group col-sm-1 col-md-1">
                  <input class="btn btn-success" type="submit" id="button_get_info_dc_style" name = "button_get_info_dc_style" value="ID Search" />
                </div>


            </div>  

            <div class="row">

                <div class="form-group col-sm-4 col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_spouse_name_in_textfield()" value= "SPOUSE NAME :" />
                          </span>

                          <input type="text" class="form-control" name="search_spouse_customer_name" id="convert_spouse_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ request.GET.search_spouse_customer_name }}">

                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_spouse_id_in_textfield()" value= "SPOUSE ID :" />
                          </span>

                          <input type="text" class="form-control" name="search_customer_spouse_national_id" id="convert_spouse_id_2_percent" style="font-size: 12px; text-align: center;" value="{{ request.GET.search_customer_spouse_national_id }}">

                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-1 col-md-1">
                <input class="btn btn-info" type="submit" name = "button_get_spouse_info" value="Spouse Search" />
                </div>
                

            </div>   

            {% else %}

                <div class="form-group col-sm-4 col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_name_in_textfield()" value= "CUST NAME :" />
                          </span>

                          <input type="text" class="form-control" name="search_customer_name" id="convert_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ request.GET.search_customer_name }}" >

                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-2 col-md-2">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_dob_in_textfield()" value= "DOB :" />
                          </span>

                          <input type="text" class="form-control" name="search_customer_dob" id="convert_dob_2_percent" style="font-size: 12px; text-align: center;" value="{{ request.GET.search_customer_dob }}" >


                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" value= "NATIONAL ID :" />
                          </span>

                          <input type="text" class="form-control" id="search_customer_national_id" name="search_customer_national_id" style="font-size: 12px; text-align: center;" value="{{ request.GET.search_customer_national_id }}">

                      </div>

                    </div>
                </div>

                <div class="form-group col-sm-1 col-md-1">
                  <input class="btn btn-info" type="submit" id = "button_get_app_info" name = "button_get_app_info" value="Cux Search" />
                </div>  

                <div class="form-group col-sm-1 col-md-1">
                  <input class="btn btn-success" type="submit" id="button_get_info_dc_style" name = "button_get_info_dc_style" value="ID Search" />
                </div>

            </div>

            <div class="row">

                <div class="form-group col-sm-4 col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_spouse_name_in_textfield()" value= "SPOUSE NAME :" />
                          </span>

                          <input type="text" class="form-control" name="search_spouse_customer_name" id="convert_spouse_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ request.GET.search_spouse_customer_name }}">

                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_spouse_id_in_textfield()" value= "SPOUSE ID :" />
                          </span>

                          <input type="text" class="form-control" name="search_customer_spouse_national_id" id="convert_spouse_id_2_percent" style="font-size: 12px; text-align: center;" value="{{ request.GET.search_customer_spouse_national_id }}">

                      </div>
                    </div>
                </div>


                <div class="form-group col-sm-1 col-md-1">
                <input class="btn btn-info" type="submit" name = "button_get_spouse_info" value="Spouse Search" />
                </div>

            </div>

            {% endif %}

        </div>

    </div>

</form>