
            {% for item in object_list %}

            {% if item.status == 'ACTIVE' %}
            <tr class="table-success">
            {% elif item.status == 'CLOSED' %}
            <tr class="table-active">
            {% elif item.status == 'REJECTED' %}
            <tr class="table-danger">
            {% elif item.status == 'IN-PROGRESS' %}
            <tr class="table-info">
            {% elif item.status == 'APPROVED' %}
            <tr class="table-warning">
            {% else %}
            <tr>
            {% endif %}
              <td>{{ item.app_id }}</td>
              <td>{{ item.customer_name }}</td>
              <td>{{ item.customer_id_number }}</td>
              <td>{{ item.dob }}</td>
              <td>{{ item.dpd }}</td>
              <td>{{ item.issue_place }}</td>
              <td>{{ item.operate_date }}</td>
              <td>{{ item.product }}</td>
              <td>{{ item.status }}</td>
              <td>{{ item.current_province }}</td>
              <td>{{ item.fb_province }}</td>
              <td>{{ item.spouse_name }}</td>
              <td>{{ item.spouse_id }}</td>
              <td>{{ item.on_system }}</td>
            </tr>

            {% endfor %}