
	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pending Cases</a>
    <ul class="dropdown-menu" style="width: 500%;" >


	{% for case in posts_dc_pending_case %}

		{% if case == 'UW_DC_PEND' %}

        <li><a href="#">{{ case.app_id }} - {{ case.action_comment }}</a></li>

        {% endif %}

    {% endfor %}

        
    </ul>

