
            {% if button_get_app is not None %}

            {% for basic_infor in basic_app_infor %}
            <div class = "row">

                <div class="form-group col-sm-5 col-md-5">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_name_in_textfield()" value= "CUST NAME :" />
                          </span>

                          <input type="text" class="form-control" name="search_customer_name" id="convert_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ basic_infor.customername }}">
                   
                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_dob_in_textfield()" value= "DOB :" />
                          </span>

                          <input type="text" class="form-control" name="search_customer_dob" id="convert_dob_2_percent" style="font-size: 12px; text-align: center;" value="{{ basic_infor.dob }}">

                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-4 col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" value= "NATIONAL ID :" />
                          </span>

                          <input type="text" class="form-control" id="search_customer_national_id" name="search_customer_national_id" style="font-size: 12px; text-align: center;" value="{{ basic_infor.cif_no }}">

                      </div>

                    </div>
                </div>

            </div>
            {% endfor %}
            {% endif %}



 