
            {% if button_get_app is not None %}

            {% for basic_infor in basic_app_infor %}
            <div class="row">

                <div class="form-group col-sm-5 col-md-5">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_spouse_name_in_textfield()" value= "SPOUSE NAME :" />
                          </span>

                          <input type="text" class="form-control" name="search_spouse_customer_name" id="convert_spouse_name_2_percent" style="font-size: 12px; text-align: center;" value="{{ basic_infor.spousename }}">

                      </div>
                    </div>
                </div>

                <div class="form-group col-sm-4 col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-btn">
                              <input type="button" class="btn btn-secondary btn-sm" onclick="Convert_spouse_id_in_textfield()" value= "SPOUSE ID :" />
                          </span>

                          <input type="text" class="form-control" name="search_customer_spouse_national_id" id="convert_spouse_id_2_percent" style="font-size: 12px; text-align: center;" value="{{ basic_infor.spouse_id_c }}">

                      </div>
                    </div>
                </div>

            </div>

            {% endfor %}

            {% endif %}

