

<a class="btn btn-light" data-toggle="collapse" href="#policy_list_items" aria-expanded="true" aria-controls="collapseExample">
  <strong> <i class="fa fa-external-link"></i> Policy System </strong>
</a>
</br>

<div class="collapse" id="policy_list_items">

  <ul class="list-group collapse" aria-expanded="false">

      <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o"></i> <span class="badge badge-secondary">NOT CHECK</span> Cust Age </a></li>

      <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o"></i> <span class="badge badge-secondary">NOT CHECK</span> Cust Income </a></li>

      <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o"></i> <span class="badge badge-secondary">NOT CHECK</span> Active Loans </a></li>

      <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o"></i> <span class="badge badge-secondary">NOT CHECK</span> BL Company </a></li>

      <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o"></i> <span class="badge badge-secondary">NOT CHECK</span> Payment History </a></li>


  </ul>

</div>