

{% if black_list_result == 'BLACK' %}

<a class="btn btn-light" data-toggle="collapse" href="#black_list_items" id="button_black_list_items" aria-expanded="true" aria-controls="collapseExample">
  <strong style="color:red"> <i class="fa fa-external-link"></i> Black List </strong>
</a>
<span class="badge badge-danger">{{ black_list_result }}</span>

{% elif black_list_result == 'WHITE' %}

<a class="btn btn-light" data-toggle="collapse" href="#black_list_items" id="button_black_list_items" aria-expanded="true" aria-controls="collapseExample" >
  <strong style="color:green"> <i class="fa fa-external-link"></i> Black List </strong>
</a>
<span class="badge badge-success">{{ black_list_result }}</span>

{% else %}
<a class="btn btn-light" data-toggle="collapse" href="#black_list_items" id="button_black_list_items" aria-expanded="true" aria-controls="collapseExample" >
  <strong > <i class="fa fa-external-link"></i> Black List </strong>
</a>
<span class="badge badge-success">{{ black_list_result }}</span>
{% endif %}





</br>

<div class="collapse" id="black_list_items" aria-expanded="true">

<ul class="list-group">
    {% if button_get_app is not None %}

    {% for basic_infor1 in basic_app_infor1 %}

      {% if basic_infor1.black_id > 0 %}

        <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o" style="color:red"></i> <span class="badge badge-danger">N</span><font color="red"> National ID </font></a></li>
        

      {% else %}

        <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o" style="color:green"></i> <span class="badge badge-success">Y</span><font color="green"> National ID </font></a></li>
        

      {% endif %}

    {% endfor %}




      {% if basic_app_infor2 > 0 %}

        <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o" style="color:red"></i> <span class="badge badge-danger">N</span><font color="red"> Cust Mobi </font></a></li>

      {% else %}

        <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o" style="color:green"></i> <span class="badge badge-success">Y</span><font color="green"> Cust Mobi </font></a></li>

      {% endif %}







      {% if basic_app_infor3 > 0 %}
      
        <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o" style="color:red"></i> <span class="badge badge-danger">N</span><font color="red"> Ref Mobi </font></a></li>

      {% else %}

        <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o" style="color:green"></i> <span class="badge badge-success">Y</span><font color="green"> Ref Mobi </font></a></li>

      {% endif %}







      {% if basic_app_infor4 > 0 %}
      
        <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o" style="color:red"></i> <span class="badge badge-danger">N</span><font color="red"> DSA Code </font></a></li>

      {% else %}

        <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o" style="color:green"></i> <span class="badge badge-success">Y</span><font color="green"> DSA Code </font></a></li>

      {% endif %}








      {% if basic_app_infor5 > 0 %}
      
        <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o" style="color:red"></i> <span class="badge badge-danger">N</span><font color="red"> National ID 01 </font></a></li>

      {% else %}

        <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o" style="color:green"></i> <span class="badge badge-success">Y</span><font color="green"> National ID 01 </font></a></li>

      {% endif %}









      {% if basic_app_infor6 > 0 %}
      
        <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o" style="color:red"></i> <span class="badge badge-danger">N</span><font color="red"> Cust Mobi 01 </font></a></li>

      {% else %}

        <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o" style="color:green"></i> <span class="badge badge-success">Y</span><font color="green"> Cust Mobi 01 </font></a></li>

      {% endif %}







      {% if basic_app_infor7 > 0 %}
      
        <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o" style="color:red"></i> <span class="badge badge-danger">N</span><font color="red"> Ref Mobi 01 </font></a></li>

      {% else %}

        <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o" style="color:green"></i> <span class="badge badge-success">Y</span><font color="green"> Ref Mobi 01 </font></a></li>

      {% endif %}





    {% else %}

    <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o"></i> <span class="badge badge-secondary">NOT CHECK</span> National ID </a></li>

    <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o"></i> <span class="badge badge-secondary">NOT CHECK</span> Cust Mobi </a></li>

    <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o"></i> <span class="badge badge-secondary">NOT CHECK</span> Ref Mobi </a></li>

    <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o"></i> <span class="badge badge-secondary">NOT CHECK</span> DSA Code </a></li>

    <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o"></i> <span class="badge badge-secondary">NOT CHECK</span> National ID 01 </a></li>

    <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o"></i> <span class="badge badge-secondary">NOT CHECK</span> Cust Mobi 01 </a></li>

    <li class="list-group-item"><a style="font-size: 75%"><i class="fa fa-flag-o"></i> <span class="badge badge-secondary">NOT CHECK</span> Ref Mobi 01 </a></li>
    {% endif %}

</ul>


</div>

